.ui-kit-calendar-container {
  position: relative;
  width: 220px;
  margin: 0 10px 0 0;
  display: block;
  float: left;
  font-family: 'jclight', 'HelveticaNeue-Light', 'Helvetica Neue Light', sans-serif;
  z-index: 999;
}
.ui-kit-calendar-container .ui-kit-calendar-cal-container {
  position: absolute;
  top: 20px;
  right: 0;
  color: black;
  background: white;
  display: inline-block;
  width: 270px;
  visibility: hidden;
  opacity: 0;
  border-radius: 15px;
  box-shadow: 1px 1px 9px #9c9c9c;
  transition: visibility 0s, opacity 300ms linear 300ms;
}
.ui-kit-calendar-container
.ui-kit-calendar-cal-container.opened {
  visibility: visible;
  opacity: 1;
}
.ui-kit-calendar-container .ui-kit-calendar-cal-container:after {
  position: absolute;
  top: -18px;
  right: 20.5rem;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  transform: rotate(-90deg);
}
.ui-kit-calendar-cal-top {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

 .ui-kit-calendar-cal-top i {
  display: block;
  float: left;
  font-size: 16px;
  height: 40px;
  text-align: center;
  cursor: pointer;
 }
.ui-kit-calendar-container .icon.arrow-left:before{
    font-size: 25px;
    margin-left: 5px;
    margin-top: 10px;
    width: 35px;
}
.ui-kit-calendar-container .icon.arrow-right:before{
  font-size: 25px;
  margin-right: 5px;
  margin-top: 10px;
  width: 30px;
}
.ui-kit-calendar-cal-top span {
  display: block;
  float: left;
  font-weight: 500;
  height: 40px;
  line-height:45px;
  padding-top: 7px;
  font-size: 1.76rem;
  text-align: center;
}

.ui-kit-calendar-day-names {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
  //background: #07a0e1;

  background: #24C6DC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24C6DC , #07a0e1); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24C6DC , #07a0e1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //box-shadow: 0 2px 2px #6c6c6c, 0px -1px 1px #6c6c6c;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.8);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.8);
  box-shadow: 0 0 4px rgba(0,0,0,.8);
}
.ui-kit-calendar-day-names span {
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  display: block;
  float: left;
  width: calc(100% / 7);
  height: 30px;
  color: white;
}
.ui-kit-calendar-days {
  width: 100%;
  margin-bottom: 15px;
}
.ui-kit-calendar-days .dayWrapper {
  font-size: 15px;
  display: block;
  float: left;
  text-align: center;
  height: 35px;
  line-height: 35px;
  width: calc(100% / 7);
  border-radius: 50%;
  position: relative;
  top:0;
}

.todayInCalendar,
.dayInCalendar:hover,
.selectedInCalendar{
  color:black;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  cursor: pointer;
  position: absolute;
  left: 4px;
  width: 30px;
  height: 30px;
}

.todayInCalendar {
  border: 1px solid rgba(7, 160, 225, 0.9);
}
.dayInCalendar:hover {
  background: rgba(7, 160, 225, 0.25);
}
.selectedInCalendar{
  background: rgba(7, 160, 225, 0.9);
  color:white;
}
.superWrapper{
  position: absolute;
  top:0;
  width: 100%;
  height:100%;
  background: red;
  z-index: 9;
}
.dateName{
  cursor: pointer;
  width: 120px;
  position: relative;
  top:0;

}
.selectDate, .selectYear{
  position: absolute;
  top: 45px;
  left: 0;
  color: black;
  background-color: white;
  box-shadow: 1px 1px 9px #9c9c9c;
  z-index: 100;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  div{
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    padding: 0.7rem 0;
    &:hover{
      color: rbg(7, 160, 225);
      background: rgba(7, 160, 225, 0.1);
    }
  }
}
.selectDate{
  width: 100px;
  left: 10px;
}
.selectYear{
  width: 80px;
}
.prev{
  color: #A9A9A9;
  cursor: pointer;
}
@media (max-width: 480px) {
  .ui-kit-calendar-container .ui-kit-calendar-cal-container:after {
    display: none;
  }
  .ui-kit-calendar-container {
    position: fixed;
    top: 150px;
    /*right: 12.5%;*/
    left:25%;
    z-index: 9999;
  }
}
@media (max-height: 480px) {

}
