.reportFilters{
  margin-top: 15px;
  font-family: 'jclight', 'HelveticaNeue-Light', 'Helvetica Neue Light', sans-serif;
  min-height: 80px;
}

.reportWrap{
  width:100%;
  min-width: 1080px;
  @media(max-width: 1080px) {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .reportTitle{
    clear: both;
    min-width: 1080px;
    background: #F5F5F5;
    height: 4.5rem;
    line-height: 4.5rem;
    border-bottom: 1px solid rgba(0,0,0, 0.3)
  }
  .reportTitle div{
    cursor: pointer;
    white-space: nowrap;

  }
  .reportCol{
    color: #07A0E1;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block!important;
    white-space: nowrap;
  }
  .reportContent{
    min-width: 1080px;
  }
  .reportContent .reportCol{
    color: rgba(0,0,0,.8);
    font-weight: 500!important;
    font-size: 1.6rem;
    height: 2.8rem;
    line-height: 2.8rem;
  }
  .reportContent li:hover .reportCol{
    /*color: white;*/
  }
  .reportContent li:hover {
    background-color: rgba(7, 160, 225, 0.4);
    transition: 0.8s;
    cursor: pointer;
  }
}
.unSelectTub:hover{
  cursor: default;
  border-color: rgba(0,0,0,0);
  color:black;
}
.reportCol{
  white-space: nowrap;
}
.sortTagUp {
  i.sorted:after {
    margin-left: 0.6rem;
    content: '\25BC';
  }
}
.sortTagDown{
  i.sorted:after{
    content: '\25B2';
    margin-left: 0.6rem;
  }
}



