
.filterBlock{
  width: 18%;
  margin-right: 2%;
  font-family: 'Fira Sans Light', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  .buttonWrap{
    margin-bottom: 20px!important;
    box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.25);
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;

    &:first-child{
      margin-right: 15px;
    }
    .buttonSave, .buttonPrint{
      width: 102px;
      height: 35px;
      line-height: 35px;
      font-size: 1.45rem;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
    }
    .buttonPrint{
      background: #07a0e1;
      float: left;
      a{
        color: white;
        &:hover, &:active{
          color: white;
        }
      }
    }
    .buttonSave{
      float: left;
      background: #afadad;
    }

  }
  .filterBody{
    clear: both;
    box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.25);
    h2{
      color: black;
      font-size: 20px;
      height:40px;
      line-height: 40px;
      margin-left: 15px;
    }
    .filterTitle{
      background: #afadad;
    }
    .filterContent{

     div{
        border-right: 1px solid #c3c3c3;
        border-bottom: 0.1rem solid #c3c3c3;
        text-align: center;
       height: 40px;
       line-height: 40px;
        font-weight: bold;
       &:first-child{
         padding-left: 10px;
         text-align: left;
       }
       &:last-child{
         border-right: none;
       }
     }

    }
    &.uk-grid{
      margin: 0!important;
      margin-top: 20px;
      & > * {
        padding: 0!important;
      }
    }
    @media (max-width: 960px) {
      width: 45%!important;
      float: left;

    }
  }

  .filterFooter{
    max-height: 325px;
    min-height: 80px;
    box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.25);
    position: relative;
    top:0;
    &.uk-grid{
      margin: 0!important;
      margin-top: 20px!important;
      & > * {
        padding: 0!important;
      }
    }

    h2{
      color: black;
      font-size: 20px;
      height:40px;
      line-height: 40px;
      margin-left: 15px;
    }
    .allPositions{
      background: white;
      border-top: 1px solid #cccccc;
      text-align: left;
      min-height: 40px;
      line-height: 40px;
      font-size: 1.8rem;
      color: white;
      font-weight: bold;
    }
    @media (max-width: 960px) {
      width: 45%!important;
      float: right;
      .uk-grid{
        margin-top: 0!important;
      }
    }
  }
  @media (max-width: 960px) {
    width: 100%;

  }
}
.contentBlock{
  width: 80%;
  box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.25);
  background: white;
  padding-bottom: 20px;
  .contentTitle{
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    h1{
      float: left;
      padding-top: 0;
      height: 80px;
      line-height: 80px;
      margin: 0;
      color: black;
    }
    .close{
      float: right;
      span{
        border: 1px solid #9a9a9a;
        padding: 3px 8px;
        font-size: 1.6rem;
        color: #9a9a9a;
        cursor: pointer;
        font-weight: bold;
        border-radius: 2px 0 0 2px;
      }
    }
  }
  .contentGreyWrap{
    margin: 0 20px;
    background: #eee!important;
    padding: 20px;
    //min-width: 700px;
    min-height: 640px;
    -webkit-box-shadow: inset -1px 2px 1px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1px 2px 1px -1px rgba(0, 0, 0, 0.25);
    box-shadow: inset -2px 2px 1px -1px rgba(0, 0, 0, 0.25);
    @media(max-width: 1280px){
      overflow-x: scroll;
    }
    &.portrait-orientation{
      .print{
        width: 595px;
      }
    }
    &.landscape-orientation{
      .print{
        width: 842px;
      }
    }
    .print{
      margin: 0 auto;
      background: white;
      padding: 30px 30px 30px 40px;
      border: 1px solid #ccc;
      box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.25);

      .printTitle{
        h3, .timeInfo, .companyInfo{
          display: inline-block;
          font-size: 1.6rem;
        }
        h3{
          color: black;
          font-size: 2.1rem;
          font-weight: bold;
          margin-right: 40px;
        }
        .companyInfo{
          float:right;
        }
      }
      table{
        border-spacing: 0;
        border-collapse: collapse;
        tr{
          th{
            background: black;
            color: white;
          }
          th, td{
            border: 1px solid black;
            text-align: center;
          }
          td{
            padding: 0;
            max-width: 60px;

            &:first-child{
              font-weight: bold;
            }
            &.days{
              position: relative;
              top:0;
              vertical-align: top;
              .printNotes{
                position: relative;
                top:0;
                width: 100%;
                height: 20px;
                line-height: 20px;
                background: #afadad;
              }
              .printShifts{
                text-align: left;
                margin-left: 5px;
                .shift{
                  margin-top: 5px;
                  min-height: 50px;
                  .time{
                  font-weight: bold;
                  }
                  .position {

                  }
                }
              }
            }
          }
          th:first-child, td:first-child{
            text-align: left;
            padding-left: 10px;
            font-size: 1.6rem;
            max-width: 55px;
            white-space: pre-wrap;
          }
        }
      }
      .shift-notes{
        margin-top: 35px;
        p{
          margin: 0!important;
          color: black;
          font-weight: bold;
          font-size: 2.1rem;
        }
        hr{
          margin: 0!important;
        }
        .notesTitle{
          width: 100%;
        }
        ul{
          li{
            margin-top: 5px;
            span{
              font-weight: bold;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }

  .printTableWrap{
    background-color: lightgray;
  }

  @media (max-width: 960px) {
    width: 100%;
    margin-top: 30px!important;
  }
}

.printView{
  min-width: 750px;
}
.tagInput{
  min-height: 40px;
  background: rgba(10, 10, 10, 0.25);
  padding: 5px 5px 0 5px;
  div.positionTag{
    background: #07a0e1;
    box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.25);
    height: 25px;
    line-height: 25px;
    font-size: 1.6rem;
    padding:0 5px;
    margin-right: 5px;
    font-weight: normal;
    .selectedTagName{
      display: inline-block;
      max-width: 110px;
      white-space: nowrap;
      overflow: hidden;
    }
    span.cross:after{
      font: bold 20px 'jclight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      content: "\2717" !important;
      color: white;
      float: right;
      margin-top: 5px;
      cursor:  pointer;
    }
    span.cross:after:hover{
      color: rgba(0,0,0,.2);
    }
  }
}
ul.tagDropDown{
  box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.25);
  margin: 0!important;
  background: white;
  z-index: 8;
  position: absolute;
  width: 100%;
  max-height: 240px;

  &.activeScrolling{
    overflow-y: scroll;
  }

  li{
    color: black;
    font-size: 1.4rem;
    font-weight: normal;
    border-bottom: 1px solid #cccccc;
    padding-left: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  li:hover{
    background: rgba(7, 160, 225, 0.5);
  }
  li:last-child{
    border-bottom: none;
  }
}
@media (max-width: 960px) {
  .filterBlock .filterFooter.uk-grid{
    margin-top: 0!important;
  }
  div.positionTag{
    margin-right: 7px;
    padding:0 7px;
  }
}
