.page.assignment {
  &.time-past {
    display: none;
  }
  .assignment-head {
    padding: 0;
    > div,
    > span {
      vertical-align: middle;
      line-height: 0.5 * @nestable-height;
    }
    .jobaction {
      .uk-button-link {
        min-height: 0;
        line-height: 100%;
      }
      .jobloc span {
        @media @width-medium {
          padding-left: 1rem;
        }
      }
      .check-hint,
      .checkinhint,
      .checkouthint {
        line-height: 0.5 * @nestable-height;
        color: @primary-text;
      }
      .check-hint {
        padding-left: 0.5rem;
      }
      button {
        float: right;
        text-align: right;
        clear: both;
      }
      .hadci,
      .hadco,
      .mayci,
      .mayco,
      .needci,
      .needco {
        display: none;
      }
    }
    .jobaction.main {
      button {
        float: none!important;
        text-align: center;
      }
    }
  }
  .assignment-body {
    /* padding-left: 3rem;
    margin-bottom: 0;
    @media @width-medium {
      padding-left: 2rem;
    }
    @media @width-large {
      padding-left: 3rem;
    }
    .uk-nestable-panel {
      padding: 0.5rem 0;
      background: @dialog;
    }*/
    .checkin-early,
    .checkin-late,
    .checkout-early,
    .checkout-late {
      display: none;
    }
    .checkin-early .checkin-early,
    .checkin-late .checkin-late,
    .checkout-early .checkout-early,
    .checkout-late .checkout-late {
      display: inline-block;
    }
    .jobaction {
      .hadci,
      .hadco,
      .mayci,
      .mayco,
      .needci,
      .needco {
        display: none;
      }
    }
    p {
      padding-left: 0;
      @media @width-large {
        padding-left: 1rem;
      }
    }
    .jobcolleague {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  .hadci .jobaction .hadci,
  .hadco .jobaction .hadco,
  .mayci .jobaction .mayci,
  .mayco .jobaction .mayco,
  .needci .jobaction .needci,
  .needco .jobaction .needco {
    display: block;
  }
  .hasinfo {
    .jobloc,
    .job-lst {
      margin: 0;
      .isign {
        display: none;
      }
    }
    &.uk-collapsed {
      .jobloc,
      .joblst {
        .isign {
          display: block;
          color: @error;
          line-height: 2rem;
          float: right;
          margin-top: 2rem;
          font-size: 2rem;
          //float: left;
          padding: 0;
          @media @width-medium {
            float: right;
          }
          @media @width-large {
            margin: 0.7rem 0 0;
          }
          @media @width-xlarge {
            font-size: 2.4rem;
            margin: 0.7rem 1rem 0;
          }
        }
      }
      .job-lst .isign {
        float: right;
        display: inline-block;
        margin-top: 0.5rem;
      }
    }
  }
  button.checkout,
  button.accept,
  .declined button.decline,
  .declined button.checkin,
  .declined button.checkout,
  .hadci button.decline,
  .hadci button.checkin {
    display: none;
  }
  .time-future button.checkin {
    display: none;
  }
  .checkinhint,
  .checkouthint {
    display: none;
  }
  .time-future .checkinhint,
  .mayco .checkouthint,
  .needco .checkouthint,
  .mayco button.checkout,
  .needco button.checkout {
    display: inline-block;
  }
  button.decline {
    span.time-near,
    span.time-current,
    span.time-recent {
      display: none;
    }
  }
  .time-near button.decline span.time-near,
  .time-current button.decline span.time-current,
  .time-recent button.decline span.time-recent {
    display: inline-block;
  }
  .needci button.checkin,
  .needco button.checkout {
    background: @error;
    color: @inverse-text;
    border: 0 none;
    @media @width-large {
      background-color: @error;
      color: @inverse-primary-text;
      border: 1px solid @error;
    }
  }
  .job.changedci .checkin,
  .job.changedco .checkout,
  .job.checkin-late .checkin {
    color: inherit;
    background-color: inherit;
  }
  .needci button.checkin:hover,
  .needco button.checkout:hover {
    // FIXME
    color: @secondary-text;
    background-color: @light-error;
  }
  .from,
  .to {
    letter-spacing: -.03rem;
  }
  .dayofmonth {
    white-space: nowrap;
  }
  div.declined {
    display: none;
  }
  .declined {
    div.declined {
      display: inline-block;
      color: @error;
    }
    .checkinhint,
    .checkouthint {
      display: none;
    }
    button.accept {
      display: block;
    }
    &.needci button.accept {
      display: none;
    }
    .uk-nestable-toggle:after,
    .uk-nestable-list.assignment-main-list {
      display: none;
    }
  }
  .jobstaffposname {
    // FIXME: no jc- prefixed classes in CSS
    // (used for data-binding)
    .uk-button-link.jc-click-userrate {
      float: right;
    }
  }
  .jobdate_current,
  .jobloc_unit {
    clear: both;
  }
  .jobdetail {
    padding: 0;
    .jobinfo_head {
      position: relative;
    }
  }
  .isign {
    color: @error;
    font-size: 2rem;
  }
  .icon.checkmark.circle {
    &:after {
      content: "";
    }
    &:before {
      font-size: 2rem;
    }
  }
  .jobbody,
  .jobinfo {
    clear: both;
  }
  .jobinfo_wrap {
    display: none;
    .jobinfo_head {
      margin: 0;
    }
    .jobinfo {
      margin: 0 0 2rem 0;
    }
  }
  .hasinfo .jobinfo_wrap {
    display: block;
  }
  .uk-nav-side li {
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    padding-left: 1.5rem;
  }
  .uk-datepicker .uk-datepicker-table {
    display: none;
  }
}

#jobber-assignment-page {
  .jobcolleague {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid @divider-text;
  }
}

section#checkinout {
  &.checkin .checkout,
  &.checkout .checkin {
    display: none;
  }
}

section#userrate {
  form {
    .hadrating {
      display: none;
    }
    &.hadrating .hadrating {
      display: block;
    }
    button.hadrating {
      background: @light-primary;
    }
  }
}

.top-block {
  background: @appbar;
  &.padded {
    padding: 2.5rem 2rem;
  }
  &.white {
    background: @background;
    padding: 1.5rem 2rem;
  }
}

.big-btn {
  border-radius: @primary-button-border-radius!important;
}

// #assignment
#availholiday-ok.width-btn {
  min-width: 50%;
  width: 100%;
}
.assessButton{
  cursor: pointer;
}
.assessModel {
  header{
    box-shadow: none;
    background: none;
    min-height: 1em;
    height: 1em;
    h2{
      font-size: 2rem;
      line-height: 1;
      color: #07a0e1;
    }
  }
  .assessInform{
    margin-bottom: 47px;
  }
  .buttonBlock{
    margin-bottom:40px;
    button{
      margin-bottom: 22.2px !important;
      min-height: 4rem;
      font-weight: 300;
      line-height: 30px;
      font-size: 1.6rem;
      vertical-align: middle;
      &.hadrating{
        background: #86d8fb;
      }
    }

  }
  .RefuesModel{
    header {
      box-shadow: none !important;
      background: none !important;
      min-height: 1em;
      height: 1em;
    }
  }
  .pastTabMain{


  }


}
