// FIXME: no jc- prefixed classes in CSS
// (used for data-binding)
#holiday-table .jc-date-from:after {
  content: '\2013';
}
.staff-vacations .jc-date-from:after {
  content: '\2013';
}
#add-vacation {
	display: block;
	margin-top: 1rem;
}

.availability input.switch:empty + label {
  margin-bottom: 1rem;
}

/// view:availability
/* TODO: check / refactor
.availability thead td,
.availability th.day {
  width: 3rem;
}

.availability thead th {
  font-size: 14px;
  text-align: left;
  width: 200px;
  height: 60px;
}

.availability thead td {
  width: 40px;
}

.availability tbody tr {
  height: 80px;
  border-top: 1px solid @divider-text;
}

.availability tbody td {
  padding-top: 10px;
}

.availability th.day {
  width: auto;
  font-size: 1.4rem;
  padding-top: 1.8rem;
  padding-right: 1.5rem;
  text-align: left;
}

.availability th.day * {
  display: inline-block;
  vertical-align: top;
}

.availability label + a {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 3rem;
  height: 3rem;
  text-decoration: none;
  color: @primary;
}

.availability switch-table p {
  font-size: 1.4rem;
}

.availability p.day {
  .fontstack-head;
  padding-top: 1.8rem;
  padding-right: 1.5rem;
  display: inline-block;
  vertical-align: top;
}
// view:availdetail

.availdetail .modal-inner {
  min-width: 0;
}

.availdetail .modal-content {
  padding-top: 0;
}
*/
.pencilEditButton{
  margin-right: 10px;
  cursor: pointer
}
.statusTagWrapper{
  padding-top: 2.5px;
}
.statusTag{
  color: white;
  background: #ff8f00;
  padding: 2px 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
}
.statusTag.Updated, .statusTag.Approved{
  background: #18a018;
}
.statusTag.Declined{
  background: #E7403D;
}
.past-item a, .past-item div, .past-item p, .past-item li * {
  color: lightgrey!important;
}
.statusTag.label-past{
  color: #fff!important;
  background: darkgray!important;
}
.reqField:before{
  font-family: 'jclight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  content: "\2022";
  margin-right: 1rem;
  font-size: 100%;
  color: #07a0e1;

}

.addvacation::before {
        display: none;
}
