// out: null
#joblist {
  font-size: 1.6rem;
  padding: 0;
  @media @width-medium {
    font-size: 1.6rem;
    padding: 0;
  }
  .jobs-header {
    min-height: 4.2rem;
    p {
      line-height: 4.2rem;
      &.double {
        line-height: 2.1rem;
        @media @width-medium {
          line-height: 4.2rem;
        }
      }
    }
  }
  .change-sub-btn {
    max-width: 100%;
    width: 100%;
    margin-top: 1.5rem;
    @media @landscape-medium {
      margin-top: 0;
    }
    @media @width-large {
      margin-top: 0;
      width: 80%;
    }
    @media @width-xlarge {
      margin-top: 0;
      width: 70%;
    }
  }
  .change-sub-btn,
  .sorting-btn,
  .sorting-btn-2 {
    float: left;
    @media @width-medium {
      float: right;
    }
  }
}

#past-assignments,
#contracts-active-list,
#contracts-inactive-list,
#jobber-feedback-list,
#jobber-job-offer-list,
#jobber-job-watch-list,
#jobber-job-application-list {
  .uk-nestable-panel {
    &.pinned {
      background: @appbar;
      color: @secondary-text;
    }
    .panel-body {
      p {
        &.uk-text-bookmark {
          color: @bookmark-color;
          font-weight: 700;
        }
      }
      .pin-job,
      .remove-job {
        display: block;
        padding-top: 0;
        @media @width-large {
          padding-bottom: 0;
        }
        &.pinned {
          display: none;
        }
      }
      .unpin-job {
        display: none;
        &.pinned {
          display: block;
          padding-bottom: 1rem;
          @media @width-xlarge {
            padding-bottom: 0;
          }
        }
      }
      .uk-button {
        margin-top: 1rem;
      }
    }
  }
  .uk-width-small-push-3-10 {
    margin-left: 30%;
    @media @width-medium {
      margin-left: 0%;
    }
  }
}


/*#jobber-job-offer-list,*/

#jobber-job-watch-list
/*,
#jobber-job-application-list*/

{
  .uk-nestable-panel .panel-body {
    padding-left: @nestable-padding-left *0.333;
    @media @width-xlarge {
      padding-left: 2.8rem;
    }
  }
}
