// out: null
.pricing {
  padding: 0.5rem;
  @media @width-medium {
    padding: 0;
  }
  #pricing-plans {
    .uk-panel {
      background: @dialog;
      padding: 1rem;
      @media @width-xlarge {
        padding: 1.5rem;
      }
      .uk-badge {
        margin-left: 0;
        padding: 0.5rem;
      }
    }
    .uk-panel-box {
      padding: 0;
    }
    .bordered {
      border: 1px solid @divider-text;
    }
    .uk-padding-small-right {
      padding-right: 0rem!important;
      @media @width-large {
        padding-right: 0.7rem!important;
      }
    }
    .uk-padding-small-left {
      padding-left: 0rem!important;
      @media @width-large {
        padding-left: 0.7rem!important;
      }
    }
    .sub-text {
      .fontstack-head;
      font-size: @global-font-size*1.2;
    }
    h2,
    h3,
    h4,
    p {
      margin: 0;
    }
    .special-plan-block {
      border: 1px solid @primary!important;
      background-color: @appbar;
      .uk-panel-box {
        background-color: @appbar;
        border: 0 none;
      }
      .uk-list {
        li:before {
          content: "-";
          color: @primary-text;
          float: left;
          padding: 0 0.5rem 0.2rem 0.5rem;
        }
        li.spec-item {
          padding-left: 1.5rem;
          &:before {
            content: "";
            padding: 0;
          }
        }
      }
      /*checkbox margin bottom override for wrapping text*/
      input[type="checkbox"] ~ span:before {
        margin: 0.8rem 0.5rem 4rem 0;
      }
    }
    .special-plan-block,
    .add-hiring {
      padding: 0.5rem;
      &.gray {
        background-color: @appbar;
        border-top: 1px solid @divider-text;
      }
    }
    .pricing-main-list {
      .uk-panel {
        padding: 2rem 0rem;
        @media @width-medium {
          padding: 2rem 1rem 2rem 0;
        }
        @media @width-large {
          padding: 2rem 2rem 2rem 0;
        }
        &.enterprise {
          height: auto!important;
        }
        &:hover,
        &:focus,
        &.selected {
          background: @background;
          border: 1px solid @primary;
        }
        .uk-button {
          padding: 0 0.4rem;
          margin-top: 1.5rem;
          @media @width-medium {
            margin-top: 0;
          }
          @media @width-large {
            padding: 0 0.5rem;
          }
        }
        .free-trial-block {
          padding: 0rem;
          background: #07a0e1;
          color: @inverse-text;
          margin-top: -2rem;
          margin-left: 0;
          margin-bottom: 1rem;
          width: 100%;
          text-align: center;
          @media @width-medium {
            margin-top: -2rem;
            margin-left: -0.1rem;
            margin-bottom: -2rem;
            width: 80%;
          }
          @media @width-large {
            width: 70%;
          }
          p {
            padding: 0;
            margin: 0;
            .transform(rotate(-90deg));
            /* transform-origin: 100% 100% 0;*/
          }
        }
        .plan-block {
          padding-left: 0.5rem;
          @media @width-medium {
            padding-left: 0;
          }
        }
      }
    }
  }
}
