// out: null
@schedule-row-border: 0.1rem;
@schedule-row-height: 4.4rem;

// TODO: re-unify job-state logic
.job {
  .declined,
  .decline-reason
  {
    display: none;
  }
  &.declined .declined {
    display: inline-block;
  }
  &.reason-sick .decline-reason.reason-sick,
  &.reason-unavailable .decline-reason.reason-unavailable,
  &.reason-unknown .decline-reason.reason-unknown
  {
    display: inline-block;
  }
}

.page.schedule {
  .heading,
  .group {
    .grid-table {
      display: none!important;
    }
    .gridleft,
    .gridright,
    .callefthead,
    .rowhead,
    .sevendays,
    .calstat,
    .calstat_icons {
      line-height: @schedule-row-height!important;
      height: @schedule-row-height!important;
    }
  }
  .heading .callefthead {
    padding-left: 1rem;
  }
  /* probably not needed
  // split-sticky layering
  .main {
    z-index: 15;
  }
  */
  .uk-sticky-placeholder:nth-child(1),
  .heading .uk-sticky-placeholder {
    z-index: 10;
    width: 60%;
    @media @width-medium {
      width: 30%;
    }
    .gridleft {
      width: 100%;
    }
  }
  .uk-sticky-placeholder:nth-child(2) {
    z-index: 20;
    width: 40%;
    @media @width-medium {
      width: 70%;
    }
  }
  .dayhead.gridleft,
  .dayhead.gridleft.uk-active,
  .dayhead.gridright,
  .dayhead.gridright.uk-active {
    width: 100%;
    @media @width-medium {
      top: 7rem - @calweek-desk-border !important;
    }
    @media @width-large {
      top: 12rem - @calweek-desk-border !important;
    }
  }
  //
  .allshiftshead .callefthead {
    .text {
      font-size: @text-font-size;
    }
  }
  button {
    span.disabled {
      display: none;
    }
    &:disabled {
      span.disabled {
        display: inline-block;
      }
      span.enabled {
        display: none;
      }
    }
  }
  .dayhead {
    &.uk-active {
      background: @background;
    }
  }
  .schedule-row {
    &.group,
    &.section:first-child .gridleft .callefthead,
    &.section:first-child .gridright,
    &.section.collapsed + .schedule-row.section .gridleft .callefthead,
    &.section.collapsed + .schedule-row.section .gridright {
      background: @dialog;
      border-top: @schedule-row-border solid @divider-text;
    }
    &.section .gridleft .callefthead,
    &.section .gridright {
      background: @dialog;
    }
    .group .gridright .sevendays .calday {
      width: 13.6%!important;
    }
    .section .gridright .sevendays .calday {
      width: 13.7%!important;
    }
    .table-heading.inactive,
    .calstat .inactive {
      color: @warn-color;
    }
    .table-heading.pending,
    .calstat .pending {
      color: @error-color;
    }
    .calstat {
      vertical-align: middle;
      width: 100%;
      cursor: pointer;
      .icon {
        font-size: 1.4*@text-font-size;
        @media @width-large {
          font-size: 1.8*@text-font-size;
        }
        &.plus {
          &:before {
            color: @divider-text;
          }
          &:hover:before {
            color: @primary;
          }
          &:hover:after {
            color: @background;
          }
        }
      }
      .calstat_icons {
        width: 100%;
        .icon:after {
          color: @dialog;
        }
        .icon.checkmark {
          color: @text;
        }
        .icon.checkmark::after {
          content: '\2705';
        }
        .icon.screamer::after {
          content: '\2755';
        }
        .icon.checkmark::after,
        .icon.screamer::after {
          color: @background;
        }
      }
      & .calstat_numeric,
      & .calstat_hours {
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 1.3rem;
      }
      & .calstat_numeric {
        padding-top: .5rem;
      }
      & .cstat_good_mark > .icon::before {
        fill: @primary-text;
        color: @primary-text;
      }
      & .cstat_bad_mark > .icon::before {
        fill: @error-color;
        color: @error-color;
      }
      & .cstat_need_mark > .icon::before {
        fill: red;
        stroke-width: 5;
      }

    }
  }
  .secbody {
    /*Harmonize fonts with #controlling*/
    font-size: 0.75*@text-font-size;
    @media @width-large {
      font-size: 0.875*@text-font-size;
    }
    .section:first-child .group {
      //border-top: 0;
    }
  }
  .job {
    background: @dialog;
    //border: 1px solid @divider-text;
    padding: 0 0.0rem; // 0 0.5
    text-align: center;
    // staff-grid is over
    &.sstatus_past {
      background: none;
      border: none;
    }
    &.empty {
      background: @background;
      border: 1px solid @divider-text;
      .plussign {
        display: inline-block;
        cursor: pointer;
        width: 100%;
      }
      &.sstatus_future {
        background: @dialog;
      }
      &.sstatus_past {
        background-color: @background;
        border-color: @background;
      }
      &.sstatus_past .plussign,
      &.ostatus_j .plussign,
      &.ostatus_off .plussign,
      .timeinfo {
        display: none;
      }
    }
  }
  .heading {
    background: @appbar;
    height: @schedule-row-height;
    line-height: @schedule-row-height;
    vertical-align: middle;
    font-size: 0.875*@text-font-size;
    @media @width-large {
      font-size: @text-font-size;
    }
    // needs to be replicated for sticky state
    .gridleft,
    .gridright {
      border-bottom: @schedule-row-border solid @divider-text;
      line-height: @schedule-row-height!important;
      height: @schedule-row-height!important;
      background: @appbar;
    }
    .gridleft {
      z-index: 23;
    }
  }
  .shift,
  .pos {
    height: auto;
    .grid-table {
      padding-left: 3rem;
      @media @phones-portrait {
        padding-left: 2rem;
      }
      .table-container {
        padding: 1rem 0;
        @media @width-medium {
          padding: 2.5rem 0;
        }
        @media @width-large {
          padding: 1.5rem 0;
        }
      }
      .table-heading,
      .tablecell,
      .table-add {
        line-height: 0.5*@schedule-row-height;
        height: 1*@schedule-row-height;
        /* font-size: 0.8*@text-font-size;*/
        margin: 0.1rem;
      }
      .table-heading,
      .table-add {
        // width - (padding-left offset + collapsing margins)
        width: 55%!important;
        @media @width-medium {
          width: 23%!important;
          padding: 0 0 0 1rem;
        }
        @media @width-large {
          width: 22.4%!important;
          text-align: right;
          padding-right: 2rem;
        }
        @media @width-xlarge {
          width: 24.4%!important;
          text-align: right;
          padding-right: 2rem;
        }
        @media @width-huge {
          width: 24.9%!important;
          text-align: right;
          padding-right: 2rem;
        }
      }
      .table-add {
        width: 100%;
        display: inline-block;
        line-height: @text-line-height;
        height: @text-line-height;
      }
      .tablecell {
        cursor: pointer;
        @media @width-small {
          display: none;
        }
        @media @width-medium {
          display: block!important;
        }
        /*NEED THIS TO BE IMPLEMENTED IN JS TO VIEW ONLY ONE DAY IN MOBILE*/
        &.active-day {
          background-color: @background;
          display: block!important;
          width: 40%;
        }
        // FIXME: no jc- prefixed classes in CSS
        // (used for data-binding)
        &.warncell {
          border: 1px solid @warn;
          position: relative;
          .uk-badge-warning {
            position: absolute;
            top: -1rem;
            right: -1rem;
            a {
              color: @inverse-text;
            }
          }
        }
      }
    }
    // FULL - ROW Clickable Hack: ;
    .group {
      .secshow,
      .sechide {
        position: absolute;
        width: 100%;
      }
    }
    .section {
      .secshow,
      .sechide {
        position: absolute;
        width: 100%;
        // @media @phones-landscape {
        //   width: 92%;
        // }
      }
    }
    .secshowhide,
    .secshow,
    .sechide,
    .text {
      line-height: @schedule-row-height;
      height: @schedule-row-height;
    }
    span.icon {
      font-size: 1.4rem;
      width: 2rem;
      @media @width-large {
        font-size: 1.6rem;
        width: 3rem;
      }
    }
    .group {
      .secshow {
        display: none;
      }
      .sechide {
        display: block;
      }
      .gridright {
        display: block;
      }
    }
    .secbody {
      display: block;
      .table-link {
        width: 100%;
        display: block;
        margin: 0.5rem 0;
      }
    }
    .gridright {
      display: block;
    }
    // sub-headings
    .section {
      height: auto;
      .callefthead,
      .rowhead {
        // @media @phones-portrait {
        //   margin-top: 0.5rem;
        // }
      }
      .grid-table {
        display: block;
      }
      .secshow {
        display: none;
      }
      .sechide {
        display: block;
      }
      .gridleft,
      .gridright {
        height: auto;
        display: block;
      }
      .sevendays {
        height: @schedule-row-height;
        .calday {
          height: @schedule-row-height;
          line-height: @schedule-row-height;
        }
      }
      &.collapsed {
        height: auto;
        .grid-table {
          display: none;
        }
        .secshow {
          display: block;
          width: 100%;
        }
        .sechide {
          display: none;
        }
        .gridleft,
        .gridright {}
        .sevendays {
          height: @schedule-row-height;
        }
      }
    }
    &.collapsed {
      height: @schedule-row-height;
      line-height: @schedule-row-height;
      .group {
        .secshow {
          display: block;
        }
        .sechide {
          display: none;
        }
      }
      .secbody {
        display: none;
      }
    }
  }
  .schedule-row {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: outside none none;
    padding: 0;
    position: relative;
    height: @schedule-row-height;
    line-height: @schedule-row-height;
    &:before,
    &:after {
      content: "";
      display: block;
      overflow: hidden;
    }
    &:after {
      clear: both;
    }
    /*.gridleft .callefthead .uk-badge {
      position: absolute;
      right: 3rem;
      top: 50%;
      transform: translateY(-50%);
      @media @tablets-portrait {
        right: 0;
      }
    }*/
  }
  .job.declined .timeinfo,
  .plussign,
  .declined {
    display: none;
  }
  .timeinfo {
    @background-space: nowrap;
  }
  .job.declined .declined {
    display: inline-block;
  }
  .job {
    position: relative;
    .infomark,
    &.hasinfo.time-past .infomark {
      display: none;
      position: absolute;
      top: 0;
      left: .5rem;
      height: 1rem;
      line-height: 1rem;
      font-size: 1.6rem;
      color: @primary;

    }
    &.hasinfo .infomark {
      display: block;
    }
    .chef {
      display: none;
    }
    &.chef .chef {
      display: inline;
    }
    &.deleted {
      text-decoration: line-through;
    }
    &.unpub {
      border: @schedule-row-border dashed @primary;
      background-color: @background;
    }
    &.declined {
      border: @schedule-row-border solid @divider-text;
      background-color: @error;
    }
  }
  .secbody .secbody {
    .gridleft {
      padding-left: 1.5rem;
      @media @width-medium {
        padding-left: 3rem;
      }
    }
  }
  /* // .sstatus_past:not(:last-child), .sstatus_future:not(:last-child) {
  //   padding-left: 0.1rem!important;
  // }
  // .sstatus_past .cstat_good,
  // .sstatus_past .cstat_bad {
  //   color: @disabled-text;
  // } */
  .time-future {
    &> .cstat_bad_mark,.cstat_bad {
      fill: @error;
      color: @error;
    }
  }
  .group .wday,
  .group .mday {
    display: none;
  }
  .group .calstat_numeric,
  .group .calstat_hours,
  .calstat_icons {
    display: none;
  }
  .group {
    .cstat_good .cstat_good_mark,
    .cstat_bad .cstat_bad_mark,
    .cstat_need .cstat_need_mark,
    .cstat_empty .cstat_empty_mark {
      display: inline-block;
    }
  }
  .table-heading,
  .tablecell,
  .table-add {
    font-size: 0.75*@text-font-size;
    @media @width-xlarge {
      font-size: 0.875*@text-font-size;
    }
  }
  .section {
    .secbody,
    .calleft {
      margin-left: 0;
    }
    .cstat_empty .cstat_empty_mark {
      display: inline-block;
    }
  }
  .group .gridright .cstat_empty .cstat_empty_mark {
    display: none;
  }
  .calday.sstatus_past .cstat_empty_mark {
    cursor: default;
    display: none;
  }
  .section .cstat_empty .calstat_numeric,
  .section .calstat_hours.cstat_empty {
    display: none;
  }
  .calday {
    vertical-align: top;
    padding: 0px;
  }
  .job.time-recent,
  .job.time-past,
  .sstatus_past .job.empty {
    background-color: @background;
    border-color: @background;
  }
  .sstatus_future .job.ostatus_off,
  .sstatus_current .job.ostatus_off,
  .sstatus_future.job.ostatus_off,
  .sstatus_current.job.ostatus_off,
  .sstatus_future .job.ostatus_j,
  .sstatus_current .job.ostatus_j,
  .sstatus_future.job.ostatus_j,
  .sstatus_current.job.ostatus_j {
    background-color: @light-error;
    /* light red */
  }
  .time-past .timeinfo,
  .time-past.lateci .from,
  .time-past.lateci .to,
  .time-past .jobber,
  .time-past {
    color: @disabled-text;
    fill: @disabled-text;
  }
}

#useradd {
  .uk-form.useradd {
    ul.uk-nav-sub {
      padding: 5px 0 5px 30px;
    }
    .jobber {
      .icon.plus.circle {
        font-size: 120%;
        &:before {
          color: transparent;
        }
      }
    }
  }
}
#dateInput{
  background: transparent;
  background-image: url('http://www.skybackpackers.com/sites/all/themes/sky/img/icon-calendar.svg');
  background-size:20px 20px;
  background-position: center, center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.time-past #tickInsideCircleNeed {
  fill: rgba(0, 0, 0, 0.18) !important;
}
.time-past .needAtr{
  color: rgba(0, 0, 0, 0.18) !important;
}

.published, .jobIsPublished{
  #commentIcon {
    fill: white!important;
  }
}
.pastBox{
  #commentIcon{
    fill: #ccc!important;
  }
}
.copyModal{
    header{
      height: 100%;
    }
    header a.arrow:before{
    font-family: 'jclight', 'HelveticaNeue-Light', sans-serif;
    content: "\\2329";
    position: relative;
    top: 1px;
  }
  .copySub{
    float: right;
    font-family: 'jclight', 'HelveticaNeue-Light', sans-serif;
    font-size: 1.4rem;
  }
  hr.modalCopy{
    width: 100%;
  }
  .checkBoxModal:before{
    font-size: 25px;
    position:relative;
    top: 3px;
    font-weight: 500;
    margin-right: 20px;
  }
  .nextWeek{
    display: block;
  }
  .nextWeek span:before{
    margin-bottom: 3px;
  }
  .copyContent{
    margin-top: 15px;
    display: inline-block;
  }
  .copyContent span{
    color:black;
    font-size: 1.6rem!important;
    font-weight: 500;
    font-family: 'jclight', 'HelveticaNeue-Light', sans-serif;
  }
  .checkBoxModal{
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'jclight', 'HelveticaNeue-Light', sans-serif;
    margin-top: 2px;
  }
  .copyBlock{
    padding-left: 15px;
  }
}

.commnetBubbles::before{
  fill: red!important;
}
.commentBubblesIcon{
  fill: red!important;
}
.time-past {
  #commentIcon{
    fill: rgba(0, 0, 0, 0.18) !important;
  }
  #downTriangle, #upTriangle, #downTriangleBlue, #upTriangleBlue  {
    stroke: rgb(209, 209, 209) !important;
    fill: rgb(209, 209, 209);
  }
  .tooltip{
    display: none!important;
  }

}

.scheduleHeader{
  height: 70px;
  line-height: 35px;
}
.day-cell {
  width: 14%;
}
.day-cell-accented {
  border: 1px solid #07a0e1;
  background-color: #07a0e1;
  color: #fff;
  padding: 3px 7px;
  border-radius: 6px;
}
.fixSticky {
  position:fixed;
  top:120px;
  max-width: 1080px;
  z-index:10;
}
button.copyButton{
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  cursor: pointer;
  line-height: 25px;
  min-height: 25px;
  width: 40px;

}

button.copyButton:focus{
  outline: none!important;
}
/*.dayView,
.dayView:hover,
.dayView:focus,
.dayView:active{
  background: white;
  color: #07a0e1;
}
.activeView,
.activeView:hover,
.activeView:focus,
.activeView:active {
  background: #07a0e1;
  color: white;
}*/

.uk-datepicker {
  z-index: 9!important;
}
.shiftToggleButtonWrap{
  @media (max-width: 768px) {
    width: 30%;
    min-width: 135px;
  }
}
.dayToggleButtonWrap{
  @media (max-width: 768px) {
    width: 20%;
    min-width: 100px;
  }
}
.copyButtonWrap{
  button{
    float: right;
  }
  @media (max-width: 768px) {
    width: 10%;
  }
}
.printButtonWrap{
  @media (max-width: 768px) {
    width: 10%;
  }
}

.scheduleHeader.dayViewChange{
  @media (max-width: 570px) {
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
}
.dayViewWidth{
  width: 220px !important;
}
.page.schedule .job.declined .declined,
.hidden-while-not-assign {
  text-transform: uppercase;
}
.page.schedule .job.declined .hidden-while-not-assign {
  display: none;
}
.declined {
  color: #fff;
}
.secbody .notificationBubbles .uk-badge-notification {
        line-height: 2rem;
        min-width: 2rem;
     }
.unpublishSpot{
  display: block;
  position: relative;
  top: -8px;
  background: #07a0e1;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 50px;
}
