// out: null
// TODO: generalize for any sortable table, refactor
.staff-sort.current {
  &.asc:after {
    margin-left: 1rem;
    content: '\25B2';
  }
  &.desc:after {
    margin-left: 1rem;
    content: '\25BC';
  }
}

a.staff-sort i {
  visibility: hidden;
}

a.staff-sort.current i {
  visibility: visible;
  width: 12px;
}
.search-box {
  position: relative;
}
.search-icon {
  position: absolute;
  right: 15px;
  top: 8px;
}

.css-table {
  &.staff-table {
    .staff-header {
      line-height: 5rem;
      padding-left: 3rem;
      .double-line {}
    }
    #stafflist {
      padding-left: 0;
      padding-bottom: 0.5rem;
      @media @width-large {
        padding-bottom: 1rem;
      }
      // FIXME: remove when uikit form select is fixed
      select:disabled,
      .uk-form select:disabled {
        color: @text;
        background-color: @background;
      }
      .stafflistentry {
        &.inactive .uname {
          color: @warn-color;
        }
        &.pending .uname {
          color: @error-color;
        }
        &:first-of-type {
          border-top: none!important;
        }
        .stafflistentry-head {
          .staff-btn {
            font-size: 1.4rem;
          }
          .pending {
            margin: 0.5rem 0;
            @media @width-large {
              margin: 0;
            }
          }
        }
        .hr-center-list {
          background: @dialog;
          .assignment-content {
            /*.uk-nestable-item {
              .uk-nestable-panel:first-of-type {
                background: @appbar;
              }
              &.uk-collapsed {
                .uk-nestable-panel:first-of-type {
                  background: @dialog;
                }
              }
              .uk-nestable-list .uk-nestable-panel {
                background: @dialog;
              }
            }*/
          }
          .staff-content {
            margin: 0;
            padding: 1.5rem 0;
            background: @dialog;
          }
          .uk-placeholder {
            padding: 1rem;
          }
          .uk-form.profile,
          .uk-form.avail-contracts,
          .uk-form.staff {
            width: 80%;
            @media @width-medium {
              width: 100%;
            }
            .upload-box,
            .action-buttons {
              display: none;
            }
          }
          #feedback-sticky-header.uk-active {
            top: 14.7rem;
          }
          #jobber-rate-btn {
            display: none;
          }
          .uk-form.staff {
            label {
              line-height: 4rem;
            }
          }
          .next-appear {
            @media @width-medium {
              float: left;
            }
          }
          .past-appear {
            float: left;
            text-align: left;
            @media @width-medium {
              float: right;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.gray {
  background: @appbar;
}

.dark-gray {
  background: @divider-text;
}

.open-info {
  white-space: normal;
}

.red-color {
  color: #ff1e00;
}

.orange-inactive {
  color: #ff8f00;
}
.parentNote:hover .plus-sign{
  display: block;
}
.label-icon-past {
  #pencilEditIcon1 {
    fill: darkgray !important;
  }
  #pencilEditIcon2 {
    fill: darkgray !important;
  }
}
