.timeSheetFilters{
  min-height: 80px;
  .timesheetTitle{
    font-weight: bold;
    font-size: 1.8rem;
  }

}


.timesheetTitle{
  font-size: 1.4rem;
}

.timesheetTable, .timesheetTitle{
  clear: both;
  width: 100%;
  min-width: 1080px;
  border-collapse: collapse;
  th{
    background: #f5f5f5;
    height: 6rem;
    line-height: 6rem;
    text-transform: uppercase;
    text-align: center;
  }
  th, td{
    margin: 0;
    border: 1px solid #afafaf;
    white-space: nowrap;
    min-width: 10%;
  }
  td{
    padding: 0 0 0 10px;
  }
  .tableWrap{
    padding: 0;
    table{
      clear: both;
      width: 100%;
      margin: 0;
      border-spacing: 0;
      padding: 0;
      tr{
        th, td{
          border: none;
          border-left: 1px solid #afafaf;
        }
        th:first-child, td:first-child{
          border-left: none;
        }
        &.shiftLine{
          td{
            border-bottom: 1px solid #afafaf!important;
            padding: 5px 0;
            &.timeStatus{
              color: #ff8f00;
            }
          }
          &.checked {
            td.timeStatus{
              color: black;
            }
          }
          &:last-child{
            td{
              border-bottom: none!important;
            }
          }
          &.fake span{
            visibility: hidden;
          }
          &.fake td{
            padding-left: 5px;
          }

        }
      }
    }
  }
  .totalTime{
    background: #f5f5f5;
  }
  tfoot{
    background: #f5f5f5;
    .tableWrap td{
      padding: 5px 0;
    }
  }
}
.totalDayHours{
      min-width: 112px!important;
  color: black;
  text-align: center;
  &.checked {
    color: black;
  }
}
.timeStatus{
  min-width: 78px!important;
  text-align: center;
}
.st{
  position:fixed;
  top:120px;
  z-index:10;
  width: 1080px;
}
.inform{
  min-width:  475px!important;
  padding-left: 15px;
}

.total-footer .inform {
  font-size: 1.2rem;
}

.shiftLine > .inform{
padding-left: 15px!important;
}
.TableMainWrap{
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}
.timesheetTable{
  border-right: 1px solid #afafaf;
  box-sizing: border-box;
}
.printButton,
.printButton:active,
.printButton:hover{
  background: white;
}

.total-footer {
 font-weight:bold;
}
 .total-footer .inform {
   padding-left: 15px!important; 
 }

 @media (min-width: 1100px) {
 .TableMainWrap {
    overflow-x: hidden;
 }
}

.title-total {
  font-weight:bold;
}