// out: null

.app-box {
  a {
    display:inline-block;
    height: 0;
    font-size: 0;
    padding-top: 45px;
    margin: 12px;
    background: top left no-repeat;
  }
  .appstore {
    width: 152px;
    background-image: url(../images/appstore/Download_on_the_App_Store_Badge_EN_152x45.svg);
  }
  .googleplay {
    width: 129px;
    background-image: url(../images/googleplay/en_generic_rgb_wo_45.png);
  }
}
html[lang="de"] .app-box {
  .appstore {
    background-image: url(../images/appstore/Download_on_the_App_Store_Badge_DE_152x45.svg);
  }
  .googleplay {
    background-image: url(../images/googleplay/de_generic_rgb_wo_45.png);
  }
}
