// out: null
@calweek-desk-border: 0.1rem;
@calweek-desk-height: 5rem;
@calweek-desk-height-inner: @calweek-desk-height - 2 * @calweek-desk-border;
#schedule-grid,
#controlling-grid {
  &.uk-active {
    background: @background;
  }
  .dayhead {
    border-top: .1rem solid @border-color;
    border-bottom: .1rem solid @border-color;
    background-color: @background;
    .gridleft,
    .gridleft.uk-active,
    .gridright,
    .gridright.uk-active {
      line-height: 5rem;
    }
    .kw-info,
    .kw-action,
    .kw-date {
      vertical-align: middle;
      padding: 0;
    }
    .kw-action {
      text-align: center;
      font-size: 2rem;
      line-height: @calweek-desk-height-inner;
      .icon.arrow-right,
      .icon.arrow-left {
        cursor: pointer;
        &:hover {
          color: @primary;
        }
        .label {
          display: none;
        }
      }
      .today {
        cursor: pointer;
        &:hover {
          color: @primary;
        }
        font-size: 1.4rem;
        @media @width-large {
          font-size: 1.6rem;
        }
      }
    }
    .kw-date {
      /* FIXME
      padding: 0.5rem 0 0.5rem 2.5rem;
      @media @phones-landscape {
        padding: 0.5rem 0 0 1rem;
      }
      @media @phones-portrait {
        padding: 0.5rem 0 0 1rem;
      }
      */
      h2,
      h3 {
        line-height: 1;
        margin: 0;
        text-align: center;
        color: @secondary-text;
        font-size: 0.875*@text-font-size;
        @media @width-large {
          font-size: @text-font-size;
        }
      }
    }
  }
}

.sevendays {
  height: @calweek-desk-height-inner;
  .calday {
    cursor: pointer;
    width: 14.1%;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 1.1*@text-font-size;
    text-align: center;
    display: none;
    @media @width-medium {
      display: inline-block;
      font-size: 0.875*@text-font-size;
    }
    @media @width-large {
      font-size: 1.1*@text-font-size;
    }
    .wday {
      font-size: @text-font-size;
      height: @calweek-desk-height-inner;
      line-height: @calweek-desk-height-inner;
      @media @width-medium {
        font-size: 0.875*@text-font-size;
      }
      @media @width-large {
        font-size: 1.1*@text-font-size;
      }
      // TODO: ask p/o
      /* XXX
          @media @tablets-portrait {
            font-size: 1.4rem;
          }
          */
    }
    .uk-sticky-init .mday {
      border-radius: 50%;
      background: @background;
      border: 1px solid @primary;
      padding: 0.3rem;
    }
    &.today {
      background-color: @appbar;
      cursor: pointer;
      border-left: .1rem solid @border-color!important;
      display: block!important;
      width: 100%;
      border: none;
      @media @width-medium {
        display: block!important;
        width: 14.1%;
        border-right: 1px solid @divider-text;
      }
    }
  }
}

.dayhead.gridleft.stick > div {
  border: 0;
}

.dayhead.gridleft,
.dayhead.gridright,
.dayhead.gridleft.uk-active,
.dayhead.gridright.uk-active {
  width: 100%;
}

.dayhead .callefthead {
  position: relative;
}

.dayhead .callefthead .secshowhide,
.dayhead .callefthead .text {
  display: none;
}

.dayhead .kw-info .date {
  display: none;
}

.dayhead.stick.split {
  border-right: .1rem solid @border-color;
}

.dayhead.stick.split .kw-info .date {
  display: inline;
}

.dayhead.stick.split .kw-info .text,
.dayhead.stick.split .kw-info .kw-date {
  display: none;
}

.dayhead .calright {
  position: relative;
}

.dayhead .rowheadright {
  top: 0;
  right: 0;
}
