.tip {
  display: block;
  font-size: 1.6rem;
  color: @primary;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.4rem;
  @media @width-medium {
    font-size: 1.6rem;
  }
  &:before {
    .fontstack-text();
    content:"\2329";
    font-size: 1.6rem;
  }
  &:after {
    .fontstack-text();
    content:"\232A";
    font-size: 1.6rem;
  }
}

.table-container-outer {
  position: relative;
  width: 100%;
  .table-fade {
    position: absolute;
    right: 0rem;
    width: @global-height;
    height: 100%;
    .white-gradient();
  }
  .table-container {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 0.5rem;
    .scroller();
    .css-table {
      min-width: 57rem;
      /* FIXME Check for overall size*/
      /*font-size: 1.4rem;*/
      &.small {
        min-width: 48rem;
        @media @width-small {
          min-width: 70rem;
        }
        @media @width-large {
          min-width: 48rem;
        }
      }
      &.large {
        @media @width-small {
          min-width: 88rem;
        }
        @media @width-large {
          min-width: 60rem;
        }
      }
      .uk-sticky-placeholder {
        width: 100%!important;
        height: @global-height-large!important;
      }
      .table-header {
        min-height: 4rem;
        line-height: 1;
        /*uk-flex uk-flex-middle */
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        &.uk-active {
          border-bottom: 1px solid @divider-text;
          z-index: 10;
          background: @inverse-text;
        }
      }
      .table-row {
        margin-top: 1rem;
      }
      .uk-nestable-panel,
      .uk-nestable-list {
        margin-left: auto;
        margin-right: auto;
        // FIXME: this is needed to make nestabes box-shadow visible because of css-table overflow
        width: 99%!important;
      }
    }
  }
}
