// out: null
//
// component: dropdown with checkboxes
//
.dropdown {
  dd,
  dt {
    margin: 0px;
    padding: 0px;
  }
  ul {
    margin: -1px 0 0 0;
  }
  a,
  a:visited {
    color: @primary;
    text-decoration: none;
    outline: none;
    font-size: 1.6rem;
  }
  dt a {
    background-color: @background;
    display: block;
    color: @primary-text;
    border: 1px solid @divider-text;
    border-radius: @global-border-radius;
    padding: 0.4rem 0 0.4rem 2rem;
    height: @global-height;
    line-height: @global-height;
    overflow: hidden;
    position: relative;
    &:after {
      .fontstack-icon;
      display: inline-block;
      content: '\2304';
      font-size: 1.6rem;
      height: @global-height;
      line-height: @global-height;
      color: @primary;
      position: absolute;
      background: @background;
      top: 0.3rem;
      right: 0.5rem;
      width: @global-height;
      text-align: center;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  dd {
    position: relative;
    ul {
      z-index: 100;
      color: @primary-text;
      background-color: @dialog;
      border: 1px solid @appbar;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      display: none;
      left: 0px;
      padding: 2px 15px 2px 5px;
      position: absolute;
      top: 0.2rem;
      width: 93%;
      list-style: none;
      height: 15rem;
      overflow: auto;
      margin-bottom: 2rem;
      label {
        padding: 0.7rem;
        display: block;
        &:hover,
        &:visited,
        &:focus {
          background-color: @appbar;
        }
        span {
          text-align: left;
          width: 100%;
        }
      }
    }
  }
  dt a span,
  dd span {
    .fontstack-text;
    color: @primary-text;
    cursor: pointer;
    display: inline-block;
    padding: 0;
  }
  .multiSel span {
    padding: 0 0.3rem;
  }
  span.value {
    display: none;
  }
}

// EOF dropdown.less
