// out: null

@grid-action-tab-height:4rem;
@gridrow-head-tab-height:6rem;
@gridrow-head-desk-height:6rem;
@grid-tab-border:.1rem;
@grid-desk-border:.1rem;

@width-tab:96rem; // FIXME
@grid-day-tab-width:10.3rem;
@grid-week-tab-width:7 * @grid-day-tab-width;
@grid-left-tab-width:@width-tab - @grid-week-tab-width;

@width-desk:108rem; // FIXME
@grid-day-desk-width:12rem;
@grid-week-desk-width:7 * @grid-day-desk-width;
@grid-left-desk-width:@width-desk - @grid-week-desk-width;

@header-desk-height:7rem;
@menu-desk-height:3.8rem;

// FIXME: drop table usage
.grid thead
.grid thead tr,
.grid thead td
{
  .fontstack-head;
  letter-spacing:@heading-letterspacing;
  font-size:1.4rem;
}

.grid thead tr,
.grid thead td
{
  .fontstack-head;
  letter-spacing:@heading-letterspacing;
  font-size:1.4rem;
  border-top:1px solid @border-color;
  border-bottom:1px solid @border-color;
  vertical-align:middle;
  height:@gridrow-head-tab-height - @grid-tab-border;
  line-height:@gridrow-head-tab-height - 2 * @grid-tab-border;
  @media @breakpoint-large {
    height:@gridrow-head-desk-height - @grid-desk-border;
    line-height:@gridrow-head-desk-height - 2 * @grid-desk-border;
  }
}
.grid thead td
{
  border-right:1px solid @divider-text;
}
.grid thead td > div,
.grid thead td > span
{
  line-height:1;
  display:inline-block;
  vertical-align:middle;
  height:auto;
}

.grid thead,
.grid .head
{
  background-color:@background;
}

// may have all rows half height heads or single half height head rows
.grid thead.half tr,
.grid thead.half tr td,
.grid thead tr.half,
.grid thead tr.half td
{
  height:0.5 * @gridrow-head-tab-height;
  line-height:0.5 * @gridrow-head-tab-height;
  @media @breakpoint-large {
    height:0.5 * @gridrow-head-desk-height;
    line-height:0.5 * @gridrow-head-desk-height;
  }
}

// a little bit of adjacency... that easy...
.grid tbody tr.collapsed.shift + tr:not(.shift),
.grid tbody tr.collapsed.shift ~ tr:not(.shift) + tr:not(.shift),
.grid tbody tr.collapsed.position + tr:not(.position),
.grid tbody tr.collapsed.position ~ tr:not(.position) + tr:not(.position)
{
  display:none;
}

