// out: null
//
// custom select component

/*
HTML-layout example:
  <div class="uk-form-row uk-width-1-1 uk-margin-top">
    <div class="uk-grid uk-grid-collapse">
      <label class="uk-form-label uk-width-small-1-1 uk-width-medium-3-10" for="my-id">Company</label>
      <div class="select-wrapper uk-width-small-1-1 uk-width-medium-6-10">
        <select id="my-id" class="select">
          <option value="" default disabled>bitte wählen</option>
          <option value="1" selected>alle</option>
          ...
        </select>
      </div>
    </div>
  </div>
*/

.select-wrapper {
  background-color: @background;
  border-radius: @global-border-radius;
  border: 1px solid @divider-text;
  color: @primary-text;
  cursor: pointer;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 0;
  &:after {
    .fontstack-icon;
    content: "\2304";
    color: @primary;
    position: absolute;
    top: 20%;
    line-height: 1;
    right: 3%;
    padding: 0 0.5rem 0 0.3rem;
    font-size: 1.6rem;
    background-color: transparent;
    z-index: 1;
  }
  &.disabled {
    &:after {
      color: @divider-text;
    }
  }
  .select {
    -webkit-appearance: none;
    /* Chrome all / Safari all */
    -moz-appearance: none;
    /* Firefox all */
    -ms-appearance: none;
    /* IE 10+ */
    background-color: transparent;
    border: 0 none;
    .box-sizing(border-box);
    cursor: pointer;
    float: left;
    margin: 0;
    width: 100%;
    width: 102%;
    position: relative;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 2rem 0 1.5rem;
    &:focus {
      background-color: transparent!important;
      outline: none!important;
      border-radius: @global-border-radius;
    }
  }
  select::-ms-expand {
    display: none;
  }
}

.select-wrapper {
  .timemm,
  .timehh {
    padding-left: 0.5rem;
  }
}


/* Pagination */

.uk-form-row.small {
  .uk-form-label {
    line-height: @global-height-small;
    height: @global-height-small;
  }
  .select-wrapper {
    line-height: @global-height-small;
    height: @global-height-small;
    width: 4rem;
    margin-left: 1rem;
    &:after {
      .fontstack-icon;
      right: 3%;
      font-weight: normal;
      font-size: 1.2rem;
      padding-left: 0;
    }
    .select {
      line-height: @global-height-small;
      height: @global-height-small;
      padding: 0;
      text-indent: 0.8rem;
    }
  }
}
