/* For appearance */


/*
 * jQuery Stick Table Headers - v1.1.2
 * https://github.com/jpchip/stickytable
 */

.sticky-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  margin-top: 1.5rem;
}

.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: auto;
  /* Prevent table from stretching to full size */
}

.sticky-wrap .sticky-thead {
  margin-top: 7rem; //NEEDS TO REWORK
  z-index: 10; //NEEDS TO REWORK
  width: 100%;
  /* Force stretch */
  margin-top: 10.8rem;
  @media @height-medium {
    margin-top: 0;
  }
}

.sticky-wrap .sticky-col {
  tbody {
    border-right: 1px solid @divider-text;
  }
}

.sticky-wrap .sticky-intersect {
  opacity: 0;
  z-index: 11;
  margin-top: 7rem; //NEEDS TO REWORK
  border-right: 1px solid @divider-text;
  margin-top: 10.8rem;
  @media @height-medium {
    margin-top: 0;
  }
  th {
    background-color: @dialog;
    color: @primary-text;
  }
}

.sticky-wrap td,
.sticky-wrap th {
  .box-sizing(border-box);
}

.sticky-wrap th {
  background-color: @dialog;
  color: @primary-text;
}


/* assumes container element has set height... */

.sticky-wrap.overflow-y {
  overflow-y: auto;
  max-height: 100%;
}
