.addComplexCompanyBody{
  margin: auto;
  text-align: left;
  .company-block, .unit-block,
  .position-block, .position-block{

  }
  p{
    text-align: center;
  }
  i:before{
    font-style: normal;
  }

}
.oneBubbles:before, .twoBubbles:before, .threeBubbles:before, .fourBubbles:before{
  font-family: 'jclight', 'HelveticaNeue-Light', 'Helvetica Neue Light', sans-serif;
  line-height: 4rem;
  height: 4rem;
  font-size: 1.8rem;
  margin-right:5px;
}
.oneBubbles:before{
  content: '\2582' ;
}
.twoBubbles:before{
  content: '\2584' ;
}
.threeBubbles:before{
  content: '\2586' ;
}
.fourBubbles:before{
  content: '\2588' ;
}
