@jubbr-color: #07a0e1;
@gray-text-color: #444;
@light-gray-bg: #eee;
@white-color: #fff;

.note-input {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  color: @gray-text-color;
  margin-top: -13px;
  outline: none;
  height: 13px;
  text-align: center;
  position: absolute;
  top: 0;
}
.note-input:focus, .note--main {
  background-color: @jubbr-color !important;
  color: @white-color !important;
}

.note-input--current {
  background-color: @light-gray-bg;
  border-right: 1px solid rgba(0, 0, 0, 0.18);
}

.plus-sign {
  display: none;
  margin-top: -24px;
  font-style: initial;
  cursor: text;
  position: absolute;
  bottom: 7px;
  left: 50%;
  z-index: 9;
}

.mNote{
  height:13px;
  position: relative;
  top:0;
  &:hover{
    .plus-sign{
      display: block;
    }
  }
}
