.fistSteps{
  margin-top: 30px;
  .bubblesWrap{
    text-align: center;
    .bubblesShow{
      width: 12px;
      height: 12px;
      display: inline-block;
      box-sizing: border-box;
      border: 1.5px solid black;
      border-radius: 50%;
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
      &.active{
        background: black;
      }
    }
  }
  .stepsTitle{
    &.title-position-one-two{
      width: 50%;
      margin: auto;
    }
    &.title-position-three{
      width: 70%;
      margin: auto;
    }

    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 25px!important;
    margin-bottom: 15px!important;

  }
  .stepsBody{ // write here!!
    margin: auto;

  }

  .stepsButtons{
    text-align: right;
    margin: 0 auto;

    .stepsButton{
      cursor: pointer;
      font-size: 1.8rem;
      padding: 8px 10px;

      &:hover, &:active,
      &:focus, &:visited{
        border: none;
        outline: none!important;
        box-shadow: none;
      }
      &.prev{
        background-color: #fff;
        color: #07a0e1;
        margin-right: 10px;
      }
      &.next{
        background-color: #07a0e1;
        color:  #fff;
      }
    }
  }
}
