.customSelect {
  line-height: 43px;
  padding-left: 15px;
  width: 100%;
  float: none;
}

.selectDropDown {
  background: #fff;
  border: 1px solid #000;
  height: 180px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  li {
    cursor: pointer;
    list-style: none;
  }
  ul{
    li:hover {
      background-color: #ccc;
    }
  }
}
.webUserArrows {
  position: relative;
  top: 15px;
  padding-right: 10px;
  padding-left: 5px;
}
.webUserArrows:after{
  visibility: hidden;
}

.badge-wide {
  min-width: 45px;
  border-radius: 2rem;
}
i.editIcon{
  display: none;
}
.redStatus, .orangeStatus{
  .editableInput{
    position: relative;
    top: 0;
    &:hover i.editIcon{
      display: block;
      visibility: visible;
      opacity: 1;
    }
    i.editIcon{
      display: block;
      visibility: hidden;
      position: absolute;
      top: 5px;
      right: 10px;
      opacity: 0;
      -webkit-transition: opacity 1s ease-out;
      -moz-transition: opacity 1s ease-out;
      -ms-transition: opacity 1s ease-out;
      -o-transition: opacity 1s ease-out;
      transition: opacity 1s ease-out;
    }
  }
}


