// out: null
@calweek-desk-border: 0.1rem;
@calweek-desk-height: 5rem;
@calweek-desk-height-inner: @calweek-desk-height - 2 * @calweek-desk-border;
#schedule-grid,
#controlling-grid {
  &.uk-active {
    background: @background;
  }
  .dayhead {
    border-top: .1rem solid @border-color;
    border-bottom: .1rem solid @border-color;
    background-color: @background;
    .gridleft,
    .gridleft.uk-active,
    .gridright,
    .gridright.uk-active {
      line-height: 5rem;
    }
    .kw-info,
    .kw-action,
    .kw-date {
      vertical-align: middle;
      padding: 0;
    }
    .kw-action {
      text-align: center;
      font-size: 2rem;
      line-height: @calweek-desk-height-inner;
      .icon.arrow-right,
      .icon.arrow-left {
        cursor: pointer;
        &:hover {
          color: @primary;
        }
        .label {
          display: none;
        }
      }
      .today {
        cursor: pointer;
        &:hover {
          color: @primary;
        }
        font-size: 1.4rem;
        @media @width-large {
          font-size: 1.6rem;
        }
      }
    }
    .kw-date {
      /* FIXME
      padding: 0.5rem 0 0.5rem 2.5rem;
      @media @phones-landscape {
        padding: 0.5rem 0 0 1rem;
      }
      @media @phones-portrait {
        padding: 0.5rem 0 0 1rem;
      }
      */
      h2,
      h3 {
        line-height: 1;
        margin: 0;
        text-align: center;
        color: @secondary-text;
        font-size: 0.875*@text-font-size;
        @media @width-large {
          font-size: @text-font-size;
        }
      }
    }
  }
}

.sevendays {
  height: @calweek-desk-height-inner;
  .calday {
    cursor: pointer;
    width: 14.1%;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 1.1*@text-font-size;
    text-align: center;
    display: none;
    @media @width-medium {
      display: inline-block;
      font-size: 0.875*@text-font-size;
    }
    @media @width-large {
      font-size: 1.1*@text-font-size;
    }
    .wday {
      font-size: @text-font-size;
      height: @calweek-desk-height-inner;
      line-height: @calweek-desk-height-inner;
      @media @width-medium {
        font-size: 0.875*@text-font-size;
      }
      @media @width-large {
        font-size: 1.1*@text-font-size;
      }
      // TODO: ask p/o
      /* XXX
          @media @tablets-portrait {
            font-size: 1.4rem;
          }
          */
    }
    .uk-sticky-init .mday {
      border-radius: 50%;
      background: @background;
      border: 1px solid @primary;
      padding: 0.3rem;
    }
    &.today {
      background-color: @appbar;
      cursor: pointer;
      border-left: .1rem solid @border-color!important;
      display: block!important;
      width: 100%;
      border: none;
      @media @width-medium {
        display: block!important;
        width: 14.1%;
        border-right: 1px solid @divider-text;
      }
    }
  }
}

.dayhead.gridleft.stick > div {
  border: 0;
}

.dayhead.gridleft,
.dayhead.gridright,
.dayhead.gridleft.uk-active,
.dayhead.gridright.uk-active {
  width: 100%;
}

.dayhead .callefthead {
  position: relative;
}

.dayhead .callefthead .secshowhide,
.dayhead .callefthead .text {
  display: none;
}

.dayhead .kw-info .date {
  display: none;
}

.dayhead.stick.split {
  border-right: .1rem solid @border-color;
}

.dayhead.stick.split .kw-info .date {
  display: inline;
}

.dayhead.stick.split .kw-info .text,
.dayhead.stick.split .kw-info .kw-date {
  display: none;
}

.dayhead .calright {
  position: relative;
}

.dayhead .rowheadright {
  top: 0;
  right: 0;
}

// datepicker

#wp-calendar {
  width: 200px;
  color: black;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  background: white;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#wp-calendar a {    color: black }

#wp-calendar caption {
  background: white;
  color: black;
  font-size: 16px;
  text-align: center;
  z-index: -99;
  margin: 5px 0;
}
#wp-calendar caption .arrow-left::before,
#wp-calendar caption .arrow-right::before{
  font-size: 25px;
  margin: 0 10px;
}

#wp-calendar thead th {
  font-size: 12px;
  padding: 5px 5px 2px 5px;
  color: black;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

#wp-calendar tbody td {
  color: black;
  font-size: 16px;
  padding: 5px 5px 2px 5px;
  width: 30px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  background: white;
}

.prevNext {
  color: #646464!important;
}

#wp-calendar tbody td:hover {
  color: white;
  text-align: center;
  background: #07a0e1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#wp-calendar tfoot {
  color: black;
  font-size: 12px;
  text-align: center;
}

#wp-calendar tfoot tr {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ececec));
  background: -moz-linear-gradient(top,  #f5f5f5,  #ececec);
}

#wp-calendar tfoot td {    padding: 10px 10px }

#wp-calendar tfoot a {
  color: black;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#wp-calendar tfoot td#prev,
#wp-calendar tfoot td#next {
  cursor:pointer;
  color:black;

}
.uk-datepicker-previous,
.uk-datepicker-next {
  padding: 0 10px;
}

#wp-calendar #today {
  padding: 5px 5px 2px 5px;
  color: black;
  width: 30px;
  height: 20px;
  line-height: 20px;
  background:#07a0e1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  /*background: -moz-radial-gradient(50% 50% 0deg,ellipse cover, #6eafbf, #569EB1);*/
}

.display {
  display: block;
}

#wp-calendar tbody td.disabled {
  cursor: auto;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#dedede));
  background: -moz-linear-gradient(top,  #ededed,  #dedede);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#wp-calendar tbody td.disabled:hover {
  color:#666;
}
#wp-calendar tbody td.empty {
  cursor: auto;
  color: black;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: -moz-linear-gradient(top,  #fff,  #fff);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#wp-calendar tbody td.selDate {
  color: white;
  background: #07a0e1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
