// out: null
// @device-phone-width: 320;
// @device-phone-height: 480;
@device-phone-width: 167;
@device-phone-height: 295;
// @device-pad-width: 1024;
// @device-pad-height: 768;
@device-pad-width: 430;
@device-pad-height: 323;
@device-laptop-width: 1440;
@device-laptop-height: 900;
//
// component: device background lightbox container
//
.device-lightbox {
  position: relative;
  background: no-repeat top center;
  background-size: 100% auto;
  background-image: url(../../img/laptop-500-293.png);
  .aspect-ratio(500, 293, ~'.container'); // laptop.png image dimensions
  max-width: 50rem;
  margin: 5rem auto 2rem auto;
  .container {
    // keep aspect ratio for laptop display size
    .aspect-ratio(@device-laptop-width, @device-laptop-height, ~'.lightbox');
    // but don't nail down bottom/right corner
    // TODO: split edge nailing and aspect-ratio mixin to two
    bottom: auto!important;
    right: auto!important;
    // offset/scale into background frame
    margin-top: 3.8%;
    margin-left: 13.2%;
    width: 74.3%;
    .lightbox {
      img {
        width: 100%;
        margin: 0;
      }
      .uk-overlay-icon:before {
        content: "\1F50E";
        font-size: 4rem;
      }
    }
  }
  &.phone {
    background-image: url(../../img/hand_phone-300-367.png);
    .aspect-ratio(300, 367, ~'.container'); // phone.png image dimensions
    max-width: 30rem;
    // hand fit to bottom
    margin-bottom: 0;
    .container {
      // keep aspect ratio for phone display size
      .aspect-ratio(@device-phone-width, @device-phone-height, ~'.lightbox');
      // offset/scale into background frame
      margin-top: 21.8%;
      margin-left: 34.4%;
      width: 42.7%;
    }
  }
  &.pad {
    background-image: url(../../img/pad.png);
    .aspect-ratio(579, 362, ~'.container'); // pad.png image dimensions
    .container {
      // keep aspect ratio for pad display size
      .aspect-ratio(@device-pad-width, @device-pad-height, ~'.lightbox');
      // offset/scale into background frame
      margin-top: 3.6%;
      margin-left: 12.9%;
      width: 74.5%;
    }
  }
}

// EOF device-lightbox.less
