  // out: null
  // CUSTOM STYLES
  // FIXME: invert breakpoint logic: SMALLEST FIRST
  @phones-portrait: ~"only screen and (max-width: @{breakpoint-medium}) and (orientation: portrait)";
  @node-height: 4rem;
  .jstree-default .jstree-node .jstree-wholerow {
    border-top: 0;
    /* FIXME: no top/bottom change depending on width
  @media @width-small {
    border-top:solid .3rem @accent;
  }
  */
  }

  .jstree-default .jstree-node.jstree-leaf .jstree-wholerow {
    @media @phones-portrait {
      border-top-width: .1rem;
    }
  }

  .jstree-default .jstree-children .jstree-children {
    @media @phones-portrait {
      padding-top: 10rem;
    }
  }

  .jstree-default .toggle {
    display: inline-block;
    line-height: @node-height;
    height: @node-height;
    vertical-align: middle;
  }

  .jstree-default .action-buttons {
    @media @phones-portrait {
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      height: auto;
    }
  }

  .jstree-default .action-buttons .action {
    display: none;
  }

  .jstree-default .jstree-wholerow-clicked .action-buttons .action {
    display: inline-block;
  }

  .jstree-default .jstree-anchor {
    display: inline-block;
    line-height: @node-height;
    height: @node-height;
    float: left;
    @media @width-medium {
      float: none;
    }
  }

  .jstree-default .jstree-wholerow {
    display: inline-block;
    line-height: @node-height;
    float: right;
    min-height: 10rem;
    @media @width-medium {
      float: none;
      min-height: @node-height;
    }
  }

  .jstree-default .jstree-leaf .jstree-wholerow {
    @media @phones-portrait {
      height: 0.1rem;
      line-height: 0.1rem;
    }
  }

  .jstree-default .jstree-node.jstree-leaf.jstree-last,
  .jstree-default .jstree-node.jstree-leaf.jstree-last .jstree-wholerow {
    min-height: @node-height*2.5;
    line-height: @node-height;
    @media @width-medium {
      min-height: @node-height*2;
      line-height: @node-height;
    }
    @media @width-xlarge {
      min-height: @node-height;
      line-height: @node-height;
    }
    .jstree-anchor {
      @media @phones-portrait {
        margin: 0;
      }
    }
  }

  .jstree-default > .jstree-striped {
    background-size: auto 8rem;
    @media @phones-portrait {
      background: none;
    }
  }

  .jstree-default .jstree-icon.icon:before {
		.fontstack-icon;
    line-height: @node-height;
    height: @node-height;
    font-size: 1.8rem;
    color: @secondary-text;
    top: -0.2rem;
  }

  .jstree-default .jstree-node,
  .jstree-default .jstree-icon {
    background: none;
  }

  .jstree-default .jstree-node {
    min-height: @node-height;
    margin: 0;
    clear: both;
    @media @phones-portrait {
      min-height: 10rem;
    }
  }

  .jstree-default .jstree-node {
    .jstree-node {
      padding-left: 2rem;
    }
    .jstree-node .jstree-wholerow {
      padding-left: 2rem;
      @media @width-large {
        padding-left: 0;
      }
    }
  }

  .jstree-default .jstree-ocl {
    .fontstack-icon;
    font-size: 120%;
    color: @accent;
    @media @phones-portrait {
      float: left;
    }
  }

  .jstree-default .jstree-ocl:before {
    content: "\2304";
  }

  .jstree-default .jstree-closed .jstree-ocl:before {
    content: "\232a";
  }

  .jstree-default > .jstree-open .jstree-ocl:before {
    content: "\2304";
  }
  /*
.jstree-default .jstree-hovered, .jstree-default .jstree-clicked {
  background:@light-primary;
}
.jstree-default .jstree-wholerow-clicked {
  background:@light-primary;
}
*/

  .jstree-default .jstree-icon,
  .jstree-default .jstree-ocl {
    float: left;
    @media @width-medium {
      float: none;
    }
  }

  #jstree-dnd .jstree-icon.icon{
    height: @node-height;
    line-height: @node-height;
  }

  #jstree-dnd .jstree-ocl:before,
  #jstree-dnd .jstree-icon.icon:before {
    display: none;
  }

  .jstree li span input {
    height: @node-height!important;
  }

  .jstree-default .jstree-open > .jstree-children {
    display: block;
    width: 100%;
  }

  .jstree-default .jstree-icon:empty {
    height: @node-height;
    line-height: @node-height;
    width: 3rem;
  }

  .jstree-default .jstree-leaf .jstree-ocl {
    width: 0;
  }

  .jstree-default .jstree-leaf .jstree-ocl:before {
    content: "";
  }
