// out: null
//
// component: jumbotron
//
.jumbotron {
  max-width: 72rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 0;
  h2 {
    padding: 5rem 2rem 0;
    margin-top: 0;
    .top {
      font-size: @text-font-size;
      line-height: @text-line-height;
      padding-bottom: 0.25 * @global-margin-large;
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  p {
    margin-bottom: 0;
    text-align: left;
    padding: 0 1rem;
    @media @width-medium {
      padding: 0 2rem;
    }
  }
  ul {
    margin-left: 3rem;
    li {
      text-align: left;
    }
  }
  /* TODO: HOME PAGE  */
}

// EOF jumbotron.less
