.btn-container {
  position: relative;
  padding: @global-height 0;
  .switch-box {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0;
  }
  &.switchbox-sticky {
    margin-top: 5rem;
    padding: 0;
    background: transparent;
    .switch-box-container {
      max-width: 50rem;
      margin-left: auto;
      margin-right: auto;
      background: @appbar;
      border: 1rem solid @appbar;
      border-radius: @primary-button-border-radius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }
  }
}

.tabs {
  position: relative;
  height: @global-height;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  padding: 0;
  border-radius: @primary-button-border-radius;
  .tab {
    display: block;
    float: left;
    text-align: center;
    line-height: @global-height;
    height: @global-height;
    padding: 0 20px;
    margin: 0;
    padding: 0;
    a {
      .fontstack-text;
      color: @text;
      font-size: 1.2rem;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      // FIXME: use mixin from theme for all vendor-dependent fx
      .switch-transition (color, .4s, ease);
      @media @width-small {
        font-size: 1.6rem;
      }
      &:hover {
        color: @accent;
      }
    }
    &.uk-active a,
    a:target {
      color: @inverse-text;
      position: relative;
      background-color: @primary;
      .border-radius(@primary-button-border-radius, @primary-button-border-radius, @primary-button-border-radius, @primary-button-border-radius);
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: @global-height;
    background-color: @primary;
    will-change: left, right;
    z-index: 1;
    .border-radius(@primary-button-border-radius, @primary-button-border-radius, @primary-button-border-radius, @primary-button-border-radius);
    .switch-transition (all, .4s, ease);
  }
}
