// out: null
noscript {
  position: absolute;
  // do not cover the header
  top: 12rem;
  right: 0;
  // do not cover the scroll down arrow
  bottom: 4rem;
  left: 0;
  // cover anything else
  z-index: 500;
  width: auto;
  height: auto;
  padding: 3rem 0;
  // make it a scrim
  background-color: rgba(248, 253, 255, 0.94);
  p,
  h2 {
    max-width: 48rem;
    margin: 2rem auto 0 auto;
  }
  p {
    @media @width-small {
      font-size: 1.2rem;
    }
    @media @width-medium {
      font-size: 1.4rem;
    }
    font-size: 1.6rem;
  }
}
