.uk-form-horizontal.profile {
  .upload-box {
    border-radius: @global-border-radius;
  }
}

.profile_primary_nav {
  a.current {
    color: @text;
    &:hover {
      color: @primary;
    }
  }
  .uk-active {
    a.current {
      color: @background;
      background-color: @primary;
    }
  }
  .uk-dropdown {
    background: @primary;
  }
}


/*Capabilities*/

form.capabilities {
  /*Keine start*/
  .skill-block-head {
    margin-left: 20%;
    @media @width-medium {
      margin-left: 40%;
    }
  }
  .skill-block {
    margin-left: 20%;
    @media @width-medium {
      margin-left: 0;
    }
  }
}

.jobber-feedback,
.staff-reports {
  .averagerating {
    margin: @global-margin 0;
  }
  h2,
  h4 {
    padding-right: 1rem;
  }
}

.jobber-feedback {
  .feedback-btn {
    margin-left: 0;
    margin-bottom: @global-margin;
    @media @width-medium {
      margin-bottom: 0;
    }
  }
  #manager-rate-btn {
    display: none;
  }
}

.files-upload-box {
  ul > li {
    padding: 1rem 0;
    @media @width-large {
      padding: 0;
    }
  }
}
