// out: null
//
// custom sliding switch checkbox component
//
.switch,
.toggle {
  position: relative;
}

input.switch + label::before,
input.switch + label::after,
input.switch + label span {
  // this is NEEDED to make things work with fastclick,
  // see https://github.com/ftlabs/fastclick/issues/90
  pointer-events: none;
}

input.switch:checked + label::before {
  background-color: @accent;
  border: 1px solid @accent;
}

input.switch:checked + label::after {
  margin-left: 3rem;
  border: 1px solid @accent;
  .box-shadow(0.1em 0.2em 5px rgba(0, 0, 0, 0.1));
}

input.switch:empty {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  z-index: -5;
}

input.switch:empty + label {
  .fontstack-text;
  position: relative;
  display: block;
  height: 3.2rem;
  line-height: 3.2rem;
  /* Issue with whole page overflow on mobile*/
  min-width: 1rem;
  width: auto;
  padding-left: 6rem;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch + label span {
  padding-left: 1rem;
  height: 3.2rem;
  line-height: 3.2rem;
}

input.switch:empty + label * {
  vertical-align: bottom;
}

input.switch:empty + label::before,
input.switch:empty + label::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 5rem;
  height: 2.5rem;
  content: ' ';
  border: 1px solid @divider-text;
  border-radius: 10rem;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  @media @width-large {
    height: 3rem;
    width: 6rem;
  }
}

input.switch:disabled + label::before,
input.switch:disabled + label::before,
input.switch.undefined + label::before,
input.switch.undefined + label::before,
input.switch.undefined:checked + label::before,
input.switch.undefined:checked + label::before {
  background-color: @background;
}

input.switch.undefined:checked + label::before,
input.switch.undefined:checked + label::before {
  border-color: @divider-text;
  background: @light-primary;
}

input.switch:empty + label::after {
  height: 2.5rem;
  width: 2.5rem;
  background-color: @background;
  border-radius: 10rem;
  .box-shadow(0.1em 0.2em 5px rgba(0, 0, 0, 0.1));
  @media @width-large {
    height: 3rem;
    width: 3rem;
  }
}

.switch-right input.switch:empty + label {
  padding-right: 4em;
  min-height: 0;
  line-height: 1.6em;
}

.switch-right input.switch:empty,
.switch-right input.switch:empty + label::before {
  right: 0;
  left: auto;
}

.switch-right input.switch:empty + label::after {
  left: auto;
  right: 2.1em;
}

.switch-right input.switch:checked + label::after {
  right: 0.1em;
}

.switch-left input.switch:empty + label {
  padding-left: 4em;
  min-height: 0;
  line-height: 1.6em;
}

// EOF switch.less
