.cd-tabs {
  position: relative;
  .box-sizing(border-box);
  &> ul {
    list-style: none;
  }
  .scroll-left,
  .scroll-right {
    position: relative;
  }
  .scroll-left:before,
  .scroll-right:after {
    .fontstack-icon();
    color: @primary;
    position: absolute;
    height: 4rem;
    top: 0;
    display: block;
    background: @background;
    z-index: 10;
    padding-top: 0.8rem;
  }
  .scroll-left:before {
    content: '\2329';
    left: 0;
  }
  .scroll-right:after {
    content: '\232a';
    right: 0;
  }
  @media @width-large {
    .scroll-left:before,
    .scroll-right:after {
      display: none;
    }
  }
  nav {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .box-sizing(border-box);
    @media @width-large {
      height: 100%;
      z-index: 1;
      margin-bottom: 2rem;
      float: left;
      padding: 0;
      width: 100%;
      &:before,
      &:after {
        display: none;
      }
    }
    &.scroll-left {
      &:before {
        display: none;
      }
    }
    &> ul {
      display: table;
      padding: 0;
      width: auto;
      .box-sizing(border-box);
      .scroller();
      @media @width-large {
        // move the nav to the left on medium sized devices
        display: block;
        width: 100%;
        float: left;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
        padding: 0;
      }
      /*
      FIXME: move to view if needed
      &.assignment-nav {
        margin-top: 0;
        @media @width-small {
          width: 53rem;
        }
        @media @width-large {
          width: 100%;
        }
        > li {
          margin-right: auto;
          margin-left: auto;
          > a {
            width: auto;
            &.selected {
              background: @primary;
              color: @inverse-text;
            }
          }
        }
      }
      */
      &> li {
        display: table-cell;
        @media @width-large {
          display: list-item;
          float: none;
        }
        &> a {
          position: relative;
          display: block;
          white-space: nowrap;
          height: @global-height;
          line-height: @global-height;
          width: auto;
          text-align: center;
          /*FIXME Ask P.O. about font sizing*/
         /* font-size: 1.4rem;*/
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: @text;
          padding: 0.5rem 1rem;
          border-radius: @global-border-radius;
          border: 1px solid transparent;
          @media @width-large {
            height: auto;
            width: auto;
            padding: 0.5rem;
           /* font-size: 1.6rem;*/
          }
          &.selected {
            .fontstack-bold;
            color: @inverse-text;
            background-color: @primary;
            border: 0 none;
          }
        }
      }
    }
  }
  .cd-tabs:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-tabs::after {
    position: absolute;
    top: 0;
    right: 0;
    height: @global-height-large;
    // FIXME use uk vertical padding instead: width: @global-height-large;
    z-index: 1;
    pointer-events: none;
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .no-cssgradients {
    .cd-tabs::after {
      display: none;
    }
  }
  .cd-tabs.is-ended::after {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .no-touch {
    .cd-tabs-navigation {
      a:hover {
        color: @primary-text;
      }
    }
  }
  /*
  .cd-tabs-content {
    // FIXME: does not belong here, move to view
    &.staff-content {
      margin: 0;
      padding: 3rem 1rem;
      @media @width-small {
        padding: 1.5rem;
      }
      @media @width-large {
        padding: 0 0 0 1rem;
      }
      @media @width-xlarge {
        padding: 0 1.5rem;
      }
      > li {
        display: none;
        padding: 0;
        @media @width-large {
          padding: 0;
        }
      }
    }
    // FIXME: does not belong here, move to view
    &.assignment-content,
    &.reporting-content {
      margin: 0;
      padding: 0.5rem;
      @media @width-small {
        padding: 3rem 1rem;
      }
      @media @width-large {
        padding: 0 0 0 1rem;
      }
      @media @width-xlarge {
        padding: 0 1.5rem;
      }
      > li {
        display: none;
        padding: 0;
        @media @width-large {
          padding: 0;
        }
      }
      > .uk-alert {
        padding: 0;
        @media @width-large {
          margin-left: 14rem;
        }
      }
    }
    &> li {
      display: none;
      padding: 0;
      @media @width-large {
        padding: 0;
      }

      // FIXME: obviously does not belong here, too
      > ul > li > div.uk-grid {
        min-height: 4rem;
        p {
          @media @width-small {
            margin-bottom: 1rem;
            line-height: 3rem;
          }
        }
      }
      // FIXME: obviously does not belong here, too
      p {
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: @primary-text;
        margin-bottom: 2em;
        word-wrap: break-word;
        @media @width-large {
          font-size: 1.4rem;
        }
      }
    }
    &> li.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s;
    }
    // FIXME: obviously does not belong here, too
    &> .uk-alert {
      padding: 0;
      @media @width-large {
        margin-left: 14rem;
      }
    }
    // FIXME: obviously does not belong here, too
    input[type="radio"] ~ span::before {
      @media @width-small {
        left: 10%;
      }
      @media @width-medium {
        left: 10%;
      }
    }
    input[type="checkbox"] ~ span:before {
      @media @width-small {
        margin: 1rem 0 0 1rem;
      }
      @media @width-medium {
        margin: 1rem 0.5rem;
      }
      @media @width-large {
        margin: 1rem 0.5rem;
      }
    }
  }*/
  .cd-tabs-content {
    padding: 0;
    &> li {
      display: none;
    }
    &> li.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s;
      /* FIXME Ask P.O
      font-size: 1.4rem;
      @media @width-large {
        font-size: 1.6rem;
      }*/
    }
  }
}
