// out: null

.timerange,
.timerangeexact,
.timedial,
.timedialexact {
  .hh,
  .mm,
  .time-divider,
  .dial-divider,
  .uk-form-select.uk-button {
    height: @global-height-large;
    line-height: @global-height-large;
    display: inline-block;
    vertical-align: middle;
  }
  .uk-form-select.uk-button span {
    text-align: right;
    padding-right: 1rem;
  }
}

/*time-dial select */
.timefrom,
.timeto {
  width: 46%!important;
}

.time-divider {
  width: 8%!important;
}

.timedial,
.timedialexact {
  .hh,
  .mm {
    width: 46%!important;
  }
  .dial-divider {
    width: 8%!important;
  }
  .uk-form-select {
    width: 100%!important;
    &.uk-button:after {
      width: 2.5rem;
    }
  }
}

// EOF timerange.less
