.rateit {
  display: -moz-inline-box;
  display: initial;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.rateit .rateit-range {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  background: white url(../../img/star.png) no-repeat;
  outline: none;
  height: 2rem!important;
}

.rateit .rateit-range * {
  display: block;
}


/* for IE 6 */

* html .rateit,
* html .rateit .rateit-range {
  display: inline;
}


/* for IE 7 */

* + html .rateit,
* + html .rateit .rateit-range {
  display: inline;
}

.rateit.readonly-false .rateit-range {
  cursor: pointer;
  background: url(../../img/star-white32.png);
  height: 32px;
  width: 32px;
}

.rateit.readonly-false .rateit-hover,
.rateit.readonly-false .rateit-selected {
  background: url(../../img/star-red32.png);
}

.rateit-desc {
  font-size: 16px;
  margin-left: 7px;
}

.rateit .rateit-hover,
.rateit .rateit-selected {
  position: absolute;
  left: 0px;
}

.rateit .rateit-hover-rtl,
.rateit .rateit-selected-rtl {
  left: auto;
  right: 0px;
}

.rateit .rateit-hover {
  background: url(../../img/star.png) left -36px;
}

.rateit .rateit-hover-rtl {
  background-position: right -32px;
}

.rateit .rateit-selected {
  background: url(../../img/star.png) left -18px;
}

.rateit .rateit-selected-rtl {
  background-position: right -16px;
}

.rateit .rateit-preset {
  background: url(../../img/star.png) left -54px;
}

.rateit .rateit-preset-rtl {
  background: url(../../img/star.png) left -54px;
}

.rateit button.rateit-reset {
  background: url(../../img/delete.gif) 0 0;
  width: 16px;
  height: 16px;
  display: -moz-inline-box;
  display: inline-block;
  float: left;
  outline: none;
  border: none;
  padding: 0;
}

.rateit button.rateit-reset:hover,
.rateit button.rateit-reset:focus {
  background-position: 0 -16px;
}

span.bigstars span.rateit-range {
  background: url(../../img/star-white32.png);
  height: 32px;
}

span.bigstars span.rateit-hover {
  background: url(../../img/star-gold32.png);
}

span.bigstars span.rateit-selected {
  background: url(../../img/star-red32.png);
}

span.bigstars div.rateit-reset:hover {
  background: url(../../img/star-white32.png);
}
