#server {
  font-size: 1.28rem !important;

}

.inlineDivs{
  display: inline-block;

}
.paginationElement{
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 1.1em;
  //color: #07a0e1;
  border: 1px solid #07a0e1;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}
.current .paginationElement{
  background: #07a0e1;
  color: #fff;
  cursor: default;
}

.header-caption-s {
  font-size: 1.25rem;
}
.staff-table .uk-sticky-placeholder.uk-active{
  //position: fixed;
  //top: 120px;
  max-width: 1060px;
  z-index: 10;
  background-color: #fff;
  padding: 5px 0px;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.18);
}
.sraff-bar {
  padding: 10px 0px;
}
.onboarding {
  display: flex;
}
