.moreHight {
  height: 5rem!important;
  line-height: 5rem!important;
}
.needAtr{
  color: #FF8C00;
  font-size: 1rem;
  position: relative;
  top:-8px;
}
.cell-info {
  padding-top: 1.2rem;
}
.tooltips {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 10px;
  @arrow-size: 10px;
  .arrow {
    width: @arrow-size;
    height: @arrow-size;
    background-repeat: no-repeat;
  }
  .inner{
    height:10px;
    line-height: 10px;
  }

  .position-arrow {
    &.arrow-top-right {
      position: absolute;
      .arrow;
      &:hover {
        .tooltip {
          display: block;
        }
      }
      .tooltip {

      }
    }
    &.arrow-bottom-right {
      position: absolute;
      bottom: 0;
      .arrow;
      &:hover {
        .tooltip {
          display: block;
          top: -5px;
        }
      }

      .tooltip {
      }
    }

    &.published {
      //background-image: url("../../img/feature-schedule-tooltip-black-arrow.png");
      &.arrow-bottom-right {
        //background-image: url("../../img/feature-schedule-tooltip-black-arrow-down.png");
      }
      border-color: black;

      .tooltip {
        background: #999999;
        //border: 1px black dashed;
        color: white;
      }
    }
    &.planned {
      //background-image: url("../../img/feature-schedule-tooltip-blue-arrow.png");
      &.arrow-bottom-right {
        //background-image: url("../../img/feature-schedule-tooltip-blue-arrow-down.png");
      }
      .tooltip {
        border: 1px #021574 dashed;
        box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.2);
        background: white;
        color: black;
      }
    }
  }

  .tooltip {
    display: none;
    right: 17px;
    top: 0;
    position: absolute;
    height: 25px;
    line-height: 2.3rem;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    z-index: 9;
    white-space: nowrap;
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.2);
    span {
      font-size: 1.4rem;
    }
    &:after{
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 5px;
      right: -8px;
      border-style: solid;
      border-width: 6px 0 7.5px 7px;
      line-height: 0;
      border-color: transparent transparent transparent white;
      _border-color: #000000 #000000 #000000 white;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='white');
    }
  }
}
.published {

  .tooltip:after{
    right: -7px;
    border-color: transparent transparent transparent #999999;
    _border-color: #000000 #000000 #000000 #999999;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#999999');
  }
}
.nameStyle {
  display: inline-block;
  .relatedInfo {
    font-size: 11px;
    margin-top: 7px;
    white-space: nowrap;
    overflow-x: hidden;
  }
  .staffParentName{
    height: 12px;
    margin-top: -5px;
  }
}
.notificationOnStaff {
  line-height: 4rem;
  height: 4rem;
  margin-top:5px;
  font-size: 1.4rem;


  @media (max-width: 680px) {
    display: none;
  }
  @media (max-width: 479px) {
    display: inline-block;
    font-size: 1.2rem;

  }
}
.totalHourWrap {
  padding-right: 20px;
  @media (max-width: 820px) {
    display: none;
  }
  @media (max-width: 479px) {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2rem;
    padding-right: 0!important;
  }
}
.notificationOnStaff.notificationBubbles {
  @media (max-width: 820px) {
    right: 0%!important;
  }
  @media (max-width: 479px) {
    right: 30%!important;
    font-size: 1.2rem;
  }
}
.commnetBubbles{
  position:absolute;
  top:-5px;
  left:2px
}
.anotherAssignmentContent{
  font-size: 1.6rem;
}

.jobIsPublished{
  background:  rgba(7, 160, 225, 0.74902)!important;
  color: white !important;
}
.time-past.jobIsPublished{
  background:  white!important;
  color: #aaa!important;
}

.modalContentText {
  font-size: 1.6rem;
  p{
    font-size: 1.6rem;
  }
}
.infoMarkToolTip{
  display: none;
  position: absolute!important;
  top:0!important;
  left: 2.5rem;
  background: white;
  color: black;
  padding: 0 4px;
  height: 25px;
  text-align: left;
  box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.2);
  white-space:  nowrap;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  z-index: 8;
  span{
    position: relative;
    bottom: 0;
    left: 5px;
    font-size: 1.4rem;
    margin-right: 10px;
  }
  &:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 6px;
    left: -7px;
    border-style: solid;
    border-width: 6px 7.5px 7px 0;
    border-color: transparent white transparent transparent ;
    line-height: 0;
    _border-color: #000000 #000000 #000000 #ffffff;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }
}
.unpub{
  .infoMarkToolTip{
    color: white;
    background: rgba(7, 160, 225, 1);
    &:before{
      border-color: transparent rgba(7, 160, 225, 1) transparent transparent ;
      line-height: 0;
      _border-color: #000000 #000000 #000000 rgba(7, 160, 225, 1);
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='rgba(7, 160, 225, 1)');
    }
  }
}
.infomark:hover ~ .infoMarkToolTip,
.infoMarkToolTip:hover{
  display: block;
}
.time-past{
  .infomark:hover ~ .infoMarkToolTip,
  .infoMarkToolTip:hover{
    display: none;
  }
}



.work-position-shift,
.day-off-position-shift {
  width: 100%;
  height: 100%;
}
.day-off-position-shift + .work-position-shift {
  display:none;
}
.declined > .day-off-position-shift {
  background-color: #fff;
}
.time-past > .day-off-position-shift {
  &.approved {
    border:0px;
  }
}

.day-off-position-shift {
  border: red dashed 1px;
  background-color: #fff;
  color: #444;
  box-sizing: border-box;
  line-height: 5rem;
  color: black;
  background-color: white;
  &.approved {
    border: none;
    background-color: rgba(231, 64, 61, 0.2)!important;
    span {
      padding: 0 .5rem;
      text-transform: uppercase;
    }
  }
  &.approved.past {
    background-color: rgba(231, 64, 61, 0.2)!important;
    span {
      color: rgba(0, 0, 0, 0.26) !important;
    }
  }
}
.jobberName, .joberTotalHours{
  display: block;
}
.joberTotalHours{
  margin-top: -3px;
}
.custom-bubbles{
  clear: both;
  height:20px;
  line-height: 20px;
  width: 20px;
  position: absolute;
  right:2px;
  text-align: center;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  color: white;
  font-size: 1.2rem;
  top: 8px;
  background: #07a0e1;
}
span.draftInfo{
  font-size: 1rem!important;
  color: #07a0e1;
  position: relative;
  top: -8px;
}

.daysOffInside{
  background: white!important;
}
