// outputFile: ../../web/css/user.css, cleanCss: advanced, sourceMap: true

/** Copyright (c) 2015-2016 Agentur Gastroo AG.
 * Copyright (c) 2016 Jubbr AG.
 * Author: Ingo Struck (jubbr@ingostruck.de)
 * Author: Max Plotnikov (plotnikov.odesk@gmail.com)
 * (user.css)
 */

// NOTE: this file MUST NOT contain any own styles.
// It only includes other partials.

// Custom styles for logged in user.
@import "common/prefix.less"; // common prefix include, global setup
@import "uikit/custom/jubbr/uikit.less"; // custom uikit theme
@import "common/custom.less"; // custom additions
@import "common/custom-logged-in.less"; // custom additions for logged-in users

// application views
@import "view/intro.less"; // intro view
@import "view/news.less"; // news
@import "view/account.less"; // account / organisation structu  re setup
@import "view/schedule.less"; // schedule positions and jobs
@import "view/assignment.less"; // assigned jobs
@import "view/organization.less"; // organization tree
@import "view/staff.less"; // availability view
@import "view/jobs.less"; // news
@import "view/controlling.less"; // controlling table
@import "view/reporting.less"; // reporting view
@import "view/hiring.less"; // hiring view
@import "view/news.less"; // news
@import "view/availability.less"; // availability view
@import "view/pricing.less"; // pricing
@import "view/anonymous.less";

html{
  overflow-y: scroll;
}

// FIXME: refactor, wipe out refactored blocks from comment
/*
#jobs {
  padding: 0 1rem;
}

.user-anonymous unit-select.manager,
.user-jobber unit-select.manager {
  display: none;
}

.user-manager unit-select.manager {
  display: inline-block;
}

//
// BUTTONS
//
.logo {
  // TODO: use SVG here
  color: @primary;
  display: inline-block;
  letter-spacing: -0.04em;
}

form.userrate unit-select {
  margin-bottom: 1rem;
  width: 20rem;
}

.allshifts {
  float: left;
}

.gridrow.rowtype_s,
.gridrow.rowtype_X {
  float: left;
  min-height: 40px;
}

.grid tr.position .gridleft {
  padding-left: 4rem;
  background: @background;
}

.grid tr.job .gridleft {
  padding: 0 1rem 0 4rem;
  text-align: right;
}

.gridrow .callefthead {
  position: relative;
}

#dayhead .gridrow .callefthead {
  overflow: visible;
}

.callefthead .text {
  cursor: pointer;
  display: inline;
  white-space: nowrap;
}

.callefthead .text:hover {
  color: @primary;
}

.calleft .addjobbername,
.calleft .jobbername {
  margin: 1px 15px 1px 0;
  text-align: right;
  cursor: pointer;
  white-space: nowrap;
}

#show_useredit_long,
#cal .rowtype_p .calday,
#cal .job {
  cursor: pointer;
}

#cal .sstatus_past .job,
#cal .calday.sstatus_past {
  cursor: default;
}
*/

// KEEP THIS IN !
@import "common/trailer.less";
