.inherit-shift {
  pointer-events: none;
  cursor: default;
}
.new-controlling-stat{
  //height: 32px;
  line-height: 32px;
  height: 55px;
  margin-top: 25px;
  min-width: 100px;
  white-space:nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  ul{
    li{
      display: inline-block;
    }

  }
}
.hideLink{
  display: none;
}
.dayView,
.dayView:hover,
.dayView:focus,
.dayView:active{
  background: white!important;;
  color: #07a0e1!important;
}
.activeView,
.activeView:hover,
.activeView:focus,
.activeView:active {
  background: #07a0e1!important;;
  color: white!important;;
}

.dayView,
.dayView:hover,
.dayView:focus,
.dayView:active{
  background: white!important;
  color: #07a0e1!important;
}
.activeView,
.activeView:hover,
.activeView:focus,
.activeView:active {
  background: #07a0e1!important;
  color: white!important;
}
.subHeader{
  min-width: 10px;
}
.subHeaderNav{
  min-width: 800px;
}
.dayView{
  margin: 0!important;
}
.dayViewSubHeader{
  min-width: 600px;

}
.staffViewSubHeader{
  min-width: 530px;
  float: right;
  text-align: right;
}
.controllingViewSubHeader{
  min-width: 525px;
  float: left;
  text-align: left;
}
input.jc-search-staff{
  height: 32px!important;
}
.jc-search-staff .search-icon{
  top: 0!important;
}
.newSize{
  line-height: 25px!important;
  min-height: 25px!important;
  font-size: 14px;
}
.newStyles{
  max-width: 100%;
  padding: 0 20px!important;
  //background-color: rgba(0, 0, 0, 0.4);
}


