@jubbr-color: #07a0e1;
@danger-color: #E7403D;
@white-color: #fff;

.redCheckIn {
  background-color: @danger-color;
  color: @white-color;
  border: 1px solid @danger-color;
}

.showThisTab {
  display: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

@media (max-width: 360px) {

  .hideThisTab{
    display: none;
  }

  .showThisTab{
    display: block;
  }

}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li.uk-open > a {
  background: @white-color;
}

a.mainTab {
  border:1px solid @jubbr-color;
  border-bottom: none;
  border-radius: 0.8rem 0.8rem 0 0;;
  color: @jubbr-color;
}

.showThisTab {
  .uk-dropdown-bottom {
    margin-top:0;
    background: @jubbr-color;
    min-width: 150px;
    width: auto;
    padding: 5px;
    white-space: nowrap;
  }
}

.showThisTab {
  a.uk-dropdown-close {
    color: @white-color;
  }
}

.uk-nav-navbar > li > a:hover,
.uk-nav-navbar > li > a:focus{
  background: none;
}

.showThisTab ul .mainTab{
  position: relative;
  border-bottom: 1px solid white;
  top: 2px;
  background: @white-color;
}
