// out: null

// hooks for hash selectors are fixed to stick at the top
body > span.mt,
body > span.jt {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

// hidden per default are
// 1. all pages
.page,
// 3. the prototype section
#protos
{
  display: none;
}

//
// hidden per default are these types of pages
//
// 1. jobber pages
.jt,
// 2. manager pages
.mt,
// 3. setup pages
.st
{
  display: none;
}

/// target / visibility / view blocks
#jobber:target ~ .content .page.jobber,
[id^=jobber-intro]:target ~ .content .page.jobber-intro,
[id^=jobber-profile]:target ~ .content .page.profile,
[id^=jobber-availability]:target ~ .content .page.availability,
[id^=jobber-assignment]:target ~ .content .page.assignment,
[id^=jobber-news]:target ~ .content .page.news,
[id^=jobber-payoff]:target ~ .content .page.payoff,
[id^=jobber-jobs]:target ~ .content .page.jobs,
[id^=manager-intro]:target ~ .content .page.manager-intro,
[id^=intro-positionadd]:target ~ .content .page.intro-positionadd,
[id^=manager-schedule]:target ~ .content .page.schedule,
[id^=manager-schedule]:target ~ .content #cal,
[id^=manager-operation]:target ~ .content .page.operation,
[id^=manager-operation]:target ~ .content #cal,
[id^=manager-controlling]:target ~ .content .page.controlling,
[id^=manager-controlling-jobreview]:target ~ .content .page.controlling,
[id^=manager-staff]:target ~ .content .page.staff,
[id^=manager-hiring]:target ~ .content .page.hiring,
[id^=manager-recruiting]:target ~ .content .page.recruiting,
[id^=manager-report]:target ~ .content .page.report,
[id^=manager-newspublish]:target ~ .content .page.newspublish,
[id^=intro-finish]:target ~ .content .page.intro-finish,
#setup:target ~ .content .page.setup,
[id^=setup-plan]:target ~ .content .page.pricing,
[id^=setup-company]:target ~ .content .page.company,
[id^=setup-organisation]:target ~ .content .page.organisation {
  display: block;
}

body:not(.user-manager) {
  .uk-sticky-placeholder #mainheader,
  #mainheader {
    .manager-nav {
      display: none;
    }
  }
  #mainnav,
  .manager-link {
    display: none;
  }
}

.it:target ~ .uk-sticky-placeholder #mainheader .uk-navbar-content,
.it:target ~ #mainheader .uk-navbar-content,
.it:target ~ .uk-sticky-placeholder #mainnav,
.it:target ~ #mainnav,
.it:target ~ .user-jobber #mainheader {
  display: none;
}
