// out: null
// dev: Max Plotnikov
//
// FOOTER
//
footer {
  width: 100%;
  min-height: 70px;
  background: transparent;
  z-index: 1;
  margin-top: 5rem;
  font-size: 1.4rem!important;
  .narrow-footer {
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid @divider-text;
    @media @width-medium {
      max-width: 60rem;
      padding: 0 1rem;
    }
    @media @width-large {
      max-width: 76.8rem;
    }
    @media @width-xlarge {
      max-width: 108rem;
    }
    @media @width-huge {
      padding: 0;
    }
  }
  ul {
    padding: 2rem 1rem 0 1rem;
    @media @width-medium {
      padding-left: 0;
      padding-right: 0;
    }
    @media @height-medium {
      padding-bottom: 2.5rem;
    }
    margin: 0;
    list-style: none;
    li {
      float: left;
      text-align: left;
      margin-right: 1.5rem;
      a {
        color: @primary-text;
        font-size: 1.4rem;
        text-align: right;
        &:hover,
        &:focus {
          color: @highlight-color;
        }
      }
    }
    li:last-child {
      margin-right: 0;
      float: right;
    }
  }
}
