// out: null

// Reset (http://meyerweb.com/eric/toolsfont/reset/ v2.0
// with rem tweak and box model reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, acronym, address,
big,
cite, code,
del, dfn,
em,
img, ins,
kbd, q,
s, samp, small, strike, strong, sub, sup,
tt,
var,
b, u, i,
center,
dl, dt, dd,
ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
canvas,
details,
embed,
figure, figcaption,
footer, header, hgroup,
menu, nav,
output, ruby,
section, summary,
time, mark,
audio,video
{
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  font-size:inherit;
  vertical-align:baseline;
  -moz-box-sizing:inherit;
  -webkit-box-sizing:inherit;
  box-sizing:inherit;
}
article, aside,
details,
figcaption, figure,
footer, header, hgroup,
menu, nav, section
{
  display:block;
}
// body{line-height:1;}
ul
{
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after
{
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
input {
  -moz-box-sizing:inherit;
  -webkit-box-sizing:inherit;
  box-sizing:inherit;
}
html {
  // cf. http://blog.pgrady.com/post/29511322784/fixing-the-ios-orientation-bug-in-three-steps
  -webkit-text-size-adjust:100%;

  // globally use border-box model
  box-sizing: border-box;
  overflow-y: scroll;
  // to be able to use sane rem font sizes
  font-size: 62.5%;

  // set global font family
  .fontstack-text;
  ::selection {
    color: @inverse-text;
    background: @accent; // Safari
  }
  ::-moz-selection {
    color: @inverse-text;
    background: @accent; // Firefox
  }
}
// EOF reset.less
