//
// Component: Accordion
//
// ========================================================================


// Variables
// ========================================================================

@accordion-title-margin-bottom:                 @global-margin;
@accordion-title-padding-horizontal:            @global-margin;
@accordion-title-font-size:                     round((@global-font-size * 1.28)); // 18px / 20px
@accordion-title-line-height:                   round((@accordion-title-font-size * 1.32)); // 24px / 26px
@accordion-title-background:                    @global-default-background;

//
// New
//

@accordion-title-border:                        @global-border;

// Component
// ========================================================================

.hook-accordion() {}


// Modifier: `uk-accordion-title`
// ========================================================================

@nav-parent-icon:"\232A";
@nav-parent-open-icon:"\2304";

.hook-accordion-title() {
  background:@appbar;
  font-size: 100%;
  line-height: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  /* XXX
  @media @phones-portrait {
    padding: 0.5rem 1rem;
  }
  */

  &:before {
    .fontstack-icon;
    content: @nav-parent-icon;
    float: left;
    text-align: center;
    color: @primary;
    margin: 0 0.5rem 0 0;
    /* BROKEN: see ruleset; no width changes on height breakpoint
    @media @height-medium {
      margin: 0 1.5rem 0 0.5rem;
    }
    */
  }
}


// Modifier: `uk-accordion-content`
// ========================================================================

.hook-accordion-content() {
  padding: 0;
  /* XXX
  @media @phones-portrait {
    margin: 1rem;
  }
  */
}


// Miscellaneous
// ========================================================================

.hook-accordion-misc() {
  .uk-accordion-title.uk-active:before {
    // TODO: see how to put it into .hook-accordion-title
    content: @nav-parent-open-icon;
  }

}