//
// Component: Alert
//
// ========================================================================
// Variables
// ========================================================================
@alert-margin-vertical: @global-margin;
//
// New
//
@alert-border: fade(@alert-color, 30%);
@alert-text-shadow: @global-text-shadow;
@alert-success-border: fade(@alert-success-color, 30%);
@alert-warning-border: fade(@alert-warning-color, 30%);
@alert-danger-border: fade(@alert-danger-color, 30%);
@alert-line-height: @global-height-large - 4px;
// Component
// ========================================================================
.hook-alert() {
  border: 1px solid @alert-border;
  border-radius: @global-border-radius;
  text-shadow: none;
  max-width: 100%;
  width: 100%;
  .box-sizing(border-box);
  padding: 0 1em;
  line-height: @global-height-large;
  > p {
    margin: 0;
  }
  .uk-close {
    line-height: @alert-line-height;
    &:after {
      color: inherit;
    }
  }
}

// Modifier: `uk-alert-success`
// ========================================================================
.hook-alert-success() {
  border-color: @alert-success-border;
}

// Modifier: `uk-alert-warning`
// ========================================================================
.hook-alert-warning() {
  border-color: @alert-warning-border;
}

// Modifier: `uk-alert-danger`
// ========================================================================
.hook-alert-danger() {
  border-color: @alert-danger-border;
}

// Miscellaneous
// ========================================================================
.hook-alert-misc() {}
