//
// Component: Badge
//
// ========================================================================
// Variables
// ========================================================================
@badge-background: @global-primary-background;
@badge--hover-background: @global-primary-background;
@badge-font-size: @global-font-size; // 10px / 12px
@badge-line-height: @badge-font-size; // 14px / 16px
@badge-color: @global-contrast-color;
@badge-hover-color: @global-contrast-color;
@badge-notification-font-size: round((@global-font-size * 0.85)); // 12px / 14px
@badge-notification-line-height: round((@badge-notification-font-size * 1.46)); // 18px / 20px
@badge-success-background: @global-success-background;
@badge-warning-background: @global-warning-background;
@badge-danger-background: @global-danger-background;
@badge-font-weight: normal;
//
// New
//
@badge-border: rgba(0, 0, 0, 0.06);
@badge-text-shadow: @global-contrast-text-shadow;
// Component
// ========================================================================
.hook-badge() {
  .fontstack-bold;
  border: none;
  background: @badge-background;
  text-shadow: none;
  border-radius: @global-border-radius;
  .box-sizing(border-box);
  font-size: 1.2rem;
  line-height: 2rem;
  min-width: 2rem;
  margin-left: 1rem;
  text-align: center;
  vertical-align: middle;
}

// Color modifier
// ========================================================================
//
// Modifier: `badge-success`
//
.hook-badge-success() {
  background-color: @global-success-background;
}

//
// Modifier: `badge-warning`
//
.hook-badge-warning() {
  background-color: @global-warning-background;
}

//
// Modifier: `badge-danger`
//
.hook-badge-danger() {
  background-color: @global-danger-background;
}

// Miscellaneous
// ========================================================================
.hook-badge-misc() {
  .uk-badge-notification {
    border-radius: 100%; // circle
    font-size: 1.2rem;
        line-height: 2rem;
    min-width: 2rem;
    @media @width-xlarge {
          line-height: 2.5rem;
    min-width: 2.5rem;
    }

    /* XXX
        @media @phones-portrait {
          top: 23%;
          font-size: 1rem;
          line-height: 1.6rem;
          min-width: 1rem;
        }
        */
  }
  .uk-badge-notification.uk-contrast {
    color: @primary;
    background: @background;
  }
}
