//
// Component: Base
//
// ========================================================================
// Variables
// ========================================================================
//
// New
//
@base-body-font-family: @firasanslight;
@base-body-font-weight: 300;
@base-heading-font-family: @firasanslight;
@base-heading-font-weight: 300;
@base-body-background: @global-background;
@base-body-font-size: @global-font-size;
@base-body-line-height: @global-line-height;
@base-body-color: @global-color;
@base-link-color: @global-link-color;
@base-link-hover-color: @global-link-hover-color;
@base-ins-color: @global-color;
@base-mark-color: @global-color;
@base-margin-vertical: @global-margin;
@base-heading-color: @primary;
@base-heading-margin-top: @global-margin-large;
@base-h1-font-size: 3.6rem;
@base-h1-line-height: 4rem;
@base-h2-font-size: 2.6rem;
@base-h2-line-height: 3rem;
@base-h3-font-size: 1.6rem;
@base-h3-line-height: 2rem;
@base-h4-font-size: @text-font-size;
@base-h4-line-height: @text-line-height;
@base-h5-font-size: @text-font-size;
@base-h5-line-height: @text-line-height;
@base-h6-font-size: @text-font-size;
@base-h6-line-height: @text-line-height;
@base-hr-border: @global-border;
@base-blockquote-border: @global-border;
@base-blockquote-font-size: @text-font-size; // 16px / 18px
@base-blockquote-line-height: @text-line-height; // 22px / 24px
@base-code-font-size: @text-font-size; // 12px / 14px
@base-pre-background: @dialog;
@base-pre-color: @global-color;
@base-pre-font-size: @text-font-size;
@base-pre-line-height: @text-line-height;
//
// New
//
@base-code-border: @global-border;
@base-code-background: @dialog;
@base-pre-border: @global-border;
// Body
// ========================================================================
.hook-base-body() {
  // cf. http://blog.pgrady.com/post/29511322784/fixing-the-ios-orientation-bug-in-three-steps
  -webkit-text-size-adjust: 100%;
  // globally use border-box model
  box-sizing: border-box;
}

// Text-level semantics
// ========================================================================
.hook-base-code() {}

// Headings
// ========================================================================
.hook-base-h1() {
  font-size: 2.4rem;
  line-height: 3.0rem;
  // use padding to unconditionally add space
  padding-top: @global-margin-large;
  margin-top: 0;
  @media @width-medium {
    margin-left: 0;
  }
  @media @width-xlarge {
    font-size: 3.0rem;
    line-height: 3.2rem;
  }
}

.hook-base-h2() {
  // use margin to collapse with margin of previous element
  margin-top: 1.2 * @global-margin-large;
  font-size: 2rem;
  line-height: 2.4rem;
  @media @width-large {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}

.hook-base-h3() {
  text-transform: uppercase;
}

.hook-base-h4() {}

.hook-base-h5() {}

.hook-base-h6() {}

// Preformatted text
// ========================================================================
.hook-base-pre() {
  border: none;
  padding-left: 0;
  background: none;
}

// Miscellaneous
// ========================================================================
.hook-base-misc() {
  // NOTE: we could NOT put this in hook-base-body
  body {
    // we want to set 62.5% on HTML but base font size on body
    font-size: @text-font-size;
    line-height: @text-line-height;
  }
  em {
    font-style: normal;
    color: @primary;
  }
  // no hooks for list semantics in src/base.less
  // NOTE: using a class and :before is a hack
  // TODO: (ultra-low priority) find a better solution that is compatible
  // with subsequent list-style:none overrides (used a lot)
  ul.dash {
    list-style: none;
    li:before {
      content: "\2013";
      padding-right: 0.5rem;
    }
  }
  ol {
    margin-left: 2rem;
    padding: 0;
  }
  ol > li {
    margin-top: 1rem;
  }
  ol > li li {
    margin-top: 0;
  }
  ol > li > ol {
    list-style-type: lower-roman;
  }
  ol > li > ol > li > ol {
    list-style-type: lower-alpha;
  }
  .disabled {
    color: @disabled-text;
  }
  a.current {
    color: @primary;
  }
  * + h1 {
    margin-top: 0;
  }
}
