//
// Component: Button
//
// ========================================================================
// Variables
// ========================================================================
@button-height: @global-height;
@button-mini-height: @global-height-mini;
@button-small-height: @global-height-small;
@button-large-height: @global-height-large;
@button-line-height: @global-height;
@button-mini-line-height: @global-height-mini - 2px;
@button-small-line-height: @global-height-small - 2px;
@button-large-line-height: @global-height-large - 2px;
@button-font-size: 1.6rem;
@button-mini-font-size: round((@button-font-size * 0.78)); // 11px / 12px
@button-small-font-size: round((@button-font-size * 0.85)); // 12px / 14px
@button-large-font-size: @button-font-size;
@button-background: @global-default-background;
@button-color: @global-contrast-color;
@button-hover-background: @global-contrast-color;
@button-hover-color: @global-contrast-hover-color;
@button-active-background: @global-default-active-background;
@button-active-color: @global-contrast-hover-color;
@button-primary-background: @global-primary-background;
@button-primary-color: @global-contrast-color;
@button-primary-hover-background: @global-contrast-color;
@button-primary-hover-color: @global-contrast-hover-color;
@button-primary-active-color: @global-contrast-hover-color;
@button-success-background: @global-success-background;
@button-success-color: @global-contrast-color;
@button-success-hover-color: @global-contrast-color;
@button-success-active-color: @global-contrast-color;
@button-danger-background: @global-danger-background;
@button-danger-color: @global-contrast-color;
@button-danger-hover-color: @global-contrast-color;
@button-danger-active-color: @global-contrast-color;
@button-disabled-background: @global-default-hover-background;
@button-disabled-color: @global-muted-color;
@button-link-color: @global-link-color;
@button-link-hover-color: @global-link-hover-color;
@button-link-disabled-color: @global-muted-color;
@button-link-hover-text-decoration: none;
//
// New
//
@button-border: rgba(0, 0, 0, 0.06);
@button-hover-border: rgba(0, 0, 0, 0.16);
@button-text-shadow: none;
@button-contrast-text-shadow: none;
@button-contrast-hover-border: rgba(0, 0, 0, 0.21);
// Component
// ========================================================================
.hook-button() {
  .fontstack-text;
  border: 1px solid @button-border;
  border-radius: @global-border-radius;
  font-size: @text-font-size;
  display: block;
  padding: 0 6px;
  margin: 0 auto;
  @media @width-large {
    padding: 0 12px;
  }
  /* XXX
    @media @desktops {
      font-size: 0.93*@text-font-size;
      padding: 0 0.8rem;
    }
    @media @phones-portrait {
      font-size: 1.4rem;
      padding: 0 0.4rem;
    }
    @media @tablets-portrait {
      font-size: 0.9*@text-font-size;
      padding: 0 0.5rem;
    }
    @media @nexus7 {
      font-size: 1.3*@text-font-size;
    }
    */
  .icon {
    height: @button-height;
    &:before {
      color: @global-contrast-color;
    }
  }
}

.hook-button-hover() {
  border-color: @button-hover-border;
  .icon:before {
    color: @global-default-background;
  }
}

.hook-button-active() {}

// Color modifiers
// ========================================================================
//
// Modifier: `uk-unit-select-primary`
//
.hook-button-primary() {
  border-radius: @primary-button-border-radius;
  text-shadow: none;
  max-width: 15rem;
  @media @width-medium {
    max-width: 27rem;
  }
}

.hook-button-primary-hover() {}

.hook-button-primary-active() {}

//
// Modifier: `uk-unit-select-success`
//
.hook-button-success() {}

.hook-button-success-hover() {}

.hook-button-success-active() {}

//
// Modifier: `uk-unit-select-danger`
//
.hook-button-danger() {
  background: @error;
}

.hook-button-danger-hover() {}

.hook-button-danger-active() {}

// Disabled state
// ========================================================================
.hook-button-disable() {
  border-color: @button-border;
  box-shadow: none;
  text-shadow: @button-text-shadow;
}

// Modifier: `uk-unit-select-link`
// ========================================================================
.hook-button-link() {
  .fontstack-text;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  min-height: @global-height;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
  font-size: inherit;
  padding: 0 0.8rem;
  &:focus,
  &:visited {
    outline: none;
  }
  /* XXX
    @media @desktops {
      font-size: 0.93*@text-font-size;
      padding: 0 0.8rem;
    }
    @media @nexus7 {
      font-size: 1.3*@text-font-size;
    }
    @media @tablets-portrait {
      font-size: 0.9*@text-font-size;
      padding: 0 0.5rem;
    }
    @media @phones-portrait {
      font-size: 1.4rem;
      padding: 0 0.4rem;
    }
    */
}

// Size modifiers
// ========================================================================
.hook-button-large() {
  border-radius: @global-border-radius;
  max-width: 100%;
  padding: 0 0.5rem;
  @media @width-medium {
    padding: 0 1.5rem;
  }
  /* XXX
    @media @phones-portrait {
      font-size: 1.4rem;
    }
*/
}

// Miscellaneous
// ========================================================================
.hook-button-misc() {
  // reset browser unit-select styling
  button {
    -webkit-appearance: none;
    border: 0;
  }
  .uk-button.cancel {
    color: @light-primary;
    background-color: @white-primary;
    border: 1px solid @light-primary;
    &:hover,
    &:focus {
      color: @primary;
      border-color: @primary;
    }
  }
  /* Color modifiers
     ========================================================================== */
  .uk-button-primary:hover,
  .uk-button-primary:focus,
  .uk-button-success:hover,
  .uk-button-success:focus,
  .uk-button-danger:hover,
  .uk-button-danger:focus {
    border-color: @button-contrast-hover-border;
  }
  /* Sub-object `uk-unit-select-group`
     ========================================================================== */
  /*
     * Reset border-radius
     */
  .uk-button-group > .uk-button:not(:first-child):not(:last-child),
  .uk-button-group > div:not(:first-child):not(:last-child) .uk-button {
    border-left-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }
  .uk-button-group > .uk-button:first-child,
  .uk-button-group > div:first-child .uk-button {
    border-right-color: rgba(0, 0, 0, 0.1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .uk-button-group > .uk-button:last-child,
  .uk-button-group > div:last-child .uk-button {
    border-left-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  /*
     * Collapse border
     */
  .uk-button-group > .uk-button:nth-child(n+2),
  .uk-button-group > div:nth-child(n+2) .uk-button {
    margin-left: -1px;
  }
  /*
     * Create position context to superimpose the successor elements border
     * Known issue: If you use an `a` element as unit-select and an icon inside,
     * the active state will not work if you click the icon inside the unit-select
     * Workaround: Just use a `unit-select` or `input` element as unit-select
     */
  .uk-button-group .uk-button:hover,
  .uk-button-group .uk-button:active {
    position: relative;
  }
  /* UP & DOWN BUTTONS*/
  .top-anchor {
    position: absolute;
    top: -1px;
    left: 0;
    height: 1px;
    display: block;
  }
  .btn-scroll-container {
    position: relative;
    margin: 0 auto 1rem!important;
    padding-top: 0;
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
    /* XXX
      @media @phones-landscape {
        padding: 1rem 0;
      }
      @media @phones-portrait {
        padding: 1rem 0;
      }
      */
  }
  .up-btn,
  .down-btn {
    display: inline-block;
    width: @global-height;
    height: @global-height;
    background: none;
    left: 50%;
    vertical-align: middle;
    color: @primary;
    text-shadow: none;
    font-size: 3rem;
    @media @width-medium {
      font-size: 4rem;
    }
    bottom: 1rem;
    @media @height-small {
      bottom: 2rem;
    }
    &:before {
      .fontstack-icon;
      width: auto;
      display: inline;
      vertical-align: middle;
      line-height: @global-height-large;
      height: @global-height-large;
    }
  }
  .down-btn {
    &:before {
      content: "\2304";
    }
  }
  .up-btn {
    &:before {
      content: "\2303";
      line-height: 5.5rem;
    }
  }
  .scrim .down-btn,
  .scrim .up-btn {
    color: @inverse-text;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 0 8px rgba(48, 48, 48, 0.94);
    &:hover,
    &:focus {
      color: @primary;
    }
  }
}
