//
// Component: Close
//
// ========================================================================
// Variables
// ========================================================================
@close-alt-background: @global-background;
// Component
// ========================================================================
.hook-close() {
  opacity: 1;
  .fontstack-text;
  font-size: 3rem;
  // FIXME: once upstream fixes hook-close, move :after rule here
}

// Modifier: `uk-close-alt`
// ========================================================================
.hook-close-alt() {
  border: 0;
  border-radius: 0;
  z-index: 1;
  position: relative;
  background: transparent;
  &:before {
    .fontstack-icon;
    position: relative;
    color: @primary;
    content: "\2718"!important;
    z-index: 1;
  }
  &:after {
    .fontstack-icon;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

// Miscellaneous
// ========================================================================
.hook-close-misc() {
  // NOTE: keep this HERE, because upstream hook-close is broken
  .uk-close:after {
    .fontstack-icon;
    content: "\2717"!important;
    color: @global-link-color;
    text-align: center;
  }
  .uk-close-alt:after {
    .fontstack-icon;
    content: "\25cf"!important;
    color: @background;
  }
}
