// out: null
// NOTE: DO NOT insert any non-semantic color definition
// cf. http://www.google.com/design/spec/style/color.html
// "light" (black on white) is our default, "dark" is inverse
@statusbar: #757575;
@appbar: #eee;
@background: #fff;
@dialog: #fafafa;
@inverse-statusbar: #000;
@inverse-appbar: #212121;
@inverse-background: #303030;
@inverse-dialog: #424242;
@inverse-veil: fade(@inverse-background, 94%);
@primary: #07a0e1;
@dark-primary: darken(@primary, 20%);
@light-primary: lighten(@primary, 30%);
@white-primary: lighten(@primary, 53%);
@veil-primary: fade(@white-primary, 94%);
@accent: @primary;
@highlight-color: @accent;
@light-accent: lighten(@accent, 30%);
@text: #000000;
@primary-text: fade(@text, 87%);
@secondary-text: fade(@text, 54%);
@disabled-text: fade(@text, 26%);
@divider-text: fade(@text, 18%);
@light-divider-text: fade(@text, 12%);
@xlight-divider-text: fade(@text, 5%);
@border-color: @divider-text;
@inverse-text: #ffffff;
@inverse-primary-text: fade(@inverse-text, 100%);
@inverse-secondary-text: fade(@inverse-text, 70%);
@inverse-disabled-text: fade(@inverse-text, 30%);
@inverse-divider-text: fade(@inverse-text, 12%);
@warn: #ff8f00;
@warn-color: @warn;
@error: #E7403D;
@error-color: @error;
@light-error: fade(@error, 20%);
@lighter-error: fade(@error, 10%);
@success: #8cc14c;
@success-color: @success;
// skin: color and typo scheme
// @unit-select-font-minimal: .fontstack-text;
// @unit-select-font: .fontstack-head;
@button-color: @inverse-primary-text;
@button-background: @accent;
@button-disabled-background: @light-primary;
@button-disabled-text: @disabled-text;
@select-background: @background;
// uk-nestables
@nestable-active: #e7f4f9;
@nestable-hover-start: #beebff;
@nestable-hover-stop: #a8e4ff;
//
//CUSTOM
//
@box-primary-color: #ebf7fd;
@bookmark-color: #5F9286;
