//
// Component: Comment
//
// ========================================================================


// Variables
// ========================================================================

@comment-header-margin-bottom:                  @global-margin;

@comment-avatar-margin-right:                   @global-margin;

@comment-title-font-size:                       round((@global-font-size * 1.14)); // 16px / 18px
@comment-title-line-height:                     round((@comment-title-font-size * 1.36)); // 22px / 24px

@comment-meta-color:                            @global-muted-color;
@comment-meta-font-size:                        round((@global-font-size * 0.78)); // 11px / 12px
@comment-meta-line-height:                      round((@comment-meta-font-size * 1.49)); // 16px / 18px

@comment-list-margin-top:                       @global-margin + 10px;

//
// New
//

@comment-padding:                               10px;
@comment-border:                                @global-border;
@comment-background:                            #fafafa;

@comment-primary-border:                        fade(@comment-primary-color, 30%);
@comment-primary-background:                    #ebf7fd;
@comment-primary-color:                         #2d7091;
@comment-primary-text-shadow:                   @global-text-shadow;


// Component
// ========================================================================

.hook-comment() {}


// Sub-object `uk-comment-header`
// ========================================================================

.hook-comment-header() {
    padding: @comment-padding;
    border: 1px solid @comment-border;
    border-radius: @global-border-radius;
    background: @comment-background;
}


// Sub-object `uk-comment-avatar-change`
// ========================================================================

.hook-comment-avatar() {}


// Sub-object `uk-comment-title`
// ========================================================================

.hook-comment-title() {}


// Sub-object `uk-comment-meta`
// ========================================================================

.hook-comment-meta() {}


// Sub-object `uk-comment-body`
// ========================================================================

.hook-comment-body() {
    padding-left: @comment-padding;
    padding-right: @comment-padding;
}


// Sub-object `uk-comment-primary`
// ========================================================================

.hook-comment-primary() {}


// Miscellaneous
// ========================================================================

.hook-comment-misc() {

    .uk-comment-primary .uk-comment-header {
        border-color: @comment-primary-border;
        background-color: @comment-primary-background;
        color: @comment-primary-color;
        text-shadow: 0 1px 0 @comment-primary-text-shadow;
    }

}
