//
// Component: Contrast
//
// ========================================================================
// Base
// ========================================================================
.hook-contrast-base-code() {
  border-color: fade(@contrast-color, 20%);
  background: fade(@contrast-color, 10%);
}

// Nav
// ========================================================================
.hook-contrast-nav-side() {}

.hook-contrast-nav-side-hover() {
  text-shadow: none;
}

.hook-contrast-nav-side-active() {
  text-shadow: none;
}

.hook-contrast-nav-side-header() {}

.hook-contrast-nav-side-divider() {}

// Subnav
// ========================================================================
.hook-contrast-subnav() {}

.hook-contrast-subnav-hover() {}

.hook-contrast-subnav-active() {}

.hook-contrast-subnav-line-divider() {}

.hook-contrast-subnav-pill-hover() {}

.hook-contrast-subnav-pill-active() {}

// List
// ========================================================================
.hook-contrast-list-line() {}

// Form
// ========================================================================
.hook-contrast-form() {}

.hook-contrast-form-focus() {}

// Button
// ========================================================================
.hook-contrast-button() {
  border-color: transparent;
}

.hook-contrast-button-hover() {
  border-color: transparent;
}

.hook-contrast-button-active() {}

.hook-contrast-button-primary() {
  background: @background;
  color: @primary;
}

.hook-contrast-button-primary-hover() {
  background: @primary;
  color: @inverse-text;
  border-color: @background;
}

.hook-contrast-button-primary-active() {}

// Icon
// ========================================================================
.hook-contrast-icon-hover() {}

.hook-contrast-icon-hover-hover() {}

.hook-contrast-icon-button() {
  border-color: transparent;
}

.hook-contrast-icon-button-hover() {
  border-color: transparent;
}

.hook-contrast-icon-button-active() {}

// Miscellaneous
// ========================================================================
.hook-contrast-misc() {}
