//
// Component: Datepicker
//
// ========================================================================
// Variables
// ========================================================================
@datepicker-nav-margin-bottom: @global-margin;
@datepicker-nav-color: @global-color;
@datepicker-nav-hover-color: @global-color;
@datepicker-table-color: @global-color;
@datepicker-table-hover-background: @global-default-hover-background;
@datepicker-table-hover-color: @global-color;
@datepicker-table-onclick-background: @global-default-active-background;
@datepicker-table-onclick-color: @global-color;
@datepicker-table-active-background: @global-primary-background;
@datepicker-table-active-color: @global-contrast-color;
@datepicker-table-muted-color: @global-muted-color;
//
// New
//
@datepicker-hover-border: rgba(0, 0, 0, 0.16);
@datepicker-hover-text-shadow: @global-text-shadow;
@datepicker-contrast-text-shadow: @global-contrast-text-shadow;
// Component
// ========================================================================
.uk-datepicker {
  border: 1px solid rgba(0, 0, 0, 0.12); // FIXME
  border-radius: 0.8rem;
  font-size: 1.6rem;
  margin-top: 5px;
  vertical-align: top;
  background: none repeat scroll 0 0 @inverse-text;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // FIXME: use mixin
  color: @primary-text;
  padding: 15px;
  z-index: 9!important;
}

.hook-datepicker-table-item() {
  border: 1px solid transparent;
  border-radius: @global-border-radius;
}

.hook-datepicker-table-item-hover() {
  border-color: @datepicker-hover-border;
  text-shadow: 0 1px 0 @datepicker-hover-text-shadow;
}

.hook-datepicker-table-item-onclick() {}

.hook-datepicker-table-item-active() {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05); // FIXME: use mixin
  text-shadow: 0 -1px 0 @datepicker-contrast-text-shadow;
}


/* Sub-object: `uk-datepicker-nav`
========================================================================== */

.uk-datepicker-nav {
  line-height: @global-height;
}


/* Sub-object: `uk-datepicker-heading`
========================================================================== */

.uk-datepicker-heading {
  line-height: @global-height;
  font-size: @text-font-size * 1.2;
  .uk-form-select {
    margin: 0 0.5rem;
    &:hover,
    &:focus,
    &:visited {
      color: @primary;
    }
  }
}

// Miscellaneous
// ========================================================================
.hook-datepicker-misc() {
  .uk-datepicker-next:after,
  .uk-datepicker-previous:after {
    .fontstack-icon;
    height: @global-height;
    line-height: @global-height;
    color: @primary;
    font-size: 3rem; // FIXME
  }
  .uk-datepicker-next:after {
    content: '\232A';
  }
  .uk-datepicker-previous:after {
    content: '\2329';
  }
}
