  //
  // Component: Dotnav
  //
  // ========================================================================
  // Variables
  // ========================================================================
  @dotnav-width: 20px;
  @dotnav-height: @dotnav-width;
  // Component
  // ========================================================================
  .uk-dotnav {
    /* Centers nav */
    margin-left: auto;
    margin-right: auto;
  }
  
  .hook-dotnav-item() {
    width: @dotnav-width*0.75;
    height: @dotnav-height*0.75;
    @media @width-large {
      width: @dotnav-width;
      height: @dotnav-height;
    }
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .hook-dotnav-item-hover() {}
  
  .hook-dotnav-item-onclick() {}
  
  .hook-dotnav-item-active() {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  .hook-dotnav-contrast-item() {}
  
  .hook-dotnav-contrast-item-hover() {}
  
  .hook-dotnav-contrast-item-onclick() {}
  
  .hook-dotnav-contrast-item-active() {}
  
  // Miscellaneous
  // ========================================================================
  .hook-dotnav-misc() {}
