//
// Component: Dropdown
//
// ========================================================================
// Variables
// ========================================================================
@dropdown-z-index: @global-z-index + 20;
@dropdown-background: @appbar;
@dropdown-color: @primary-text;
@dropdown-divider-border: @global-border;
@dropdown-navbar-margin: 0;
@dropdown-navbar-background: @dropdown-background;
@dropdown-navbar-current-background: darken(@dropdown-background, 10%);
@dropdown-navbar-hover-background: lighten(@dropdown-background, 10%);
@dropdown-navbar-color: @primary-text;
//
// New
//
@dropdown-border: @global-border;
// Component
// ========================================================================
.hook-dropdown() {
  .uk-nav > li > a {
    font-size: @text-font-size;
    line-height: @text-line-height;
    padding: 0.7rem 1.5rem;
  }
}

// Modifier: `uk-dropdown-navbar`
// ========================================================================
.hook-dropdown-navbar() {
  color: @global-color;
  margin-top: 0;
  z-index: 1000;
  .uk-nav {
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      a {
        font-size: @text-font-size;
        line-height: @text-line-height;
        padding: 0.7rem 1.5rem;
        &:after {
          content: "";
        }
        &.current {
          color: @primary-text;
          background: @dropdown-navbar-current-background;
        }
      }
    }
  }
}

// Miscellaneous
// ========================================================================
.hook-dropdown-misc() {
  .uk-dropdown-navbar.uk-dropdown-flip {
    /*left: auto;*/
  }
}
