//
// Component: Form
//
// ========================================================================
// Variables
// ========================================================================
@form-height: @global-height-large;
@form-border: @global-border;
@form-background: @global-background;
@form-color: @global-color;
@form-focus-color: @global-color;
@form-disabled-border: @global-border;
@form-disabled-background: #fafafa;
@form-disabled-color: @global-muted-color;
@form-placeholder-color: @global-muted-color;
@form-gutter: @global-margin;
@form-legend-border: @global-border;
@form-legend-font-size: round((@global-font-size * 1.28)); // 18px / 20px
@form-legend-line-height: round((@form-legend-font-size * 1.68)); // 30px / 34px
@form-small-height: @global-height-small;
@form-large-height: @global-height-large;
@form-small-font-size: @text-font-size * 0.85;
@form-large-font-size: @text-font-size * 1.14; // 16px / 18px
@form-blank-border: @global-border;
@form-icon-font-size: @text-font-size;
@form-icon-color: @global-muted-color;
@form-horizontal-label-width: 180px;
@form-base-padding: 1.5rem;
@form-padding: 0 1.5rem;
@form-small-padding: 0 0.7rem;
// Component
// ========================================================================
.hook-form() {
  border-radius: @global-border-radius;
}

// Focus state
.hook-form-focus() {}

// Disabled state
.hook-form-disabled() {}

// Legend
.hook-form-legend() {}

// Validation states
// ========================================================================
//
// Error state
//
.hook-form-danger() {}

//
// Success state
//
.hook-form-success() {}

// Style modifiers
// ========================================================================
.hook-form-blank() {}

.hook-form-blank-focus() {}


/* Size modifiers
 * Higher specificity needed to override defaults
 ========================================================================== */

select.uk-form-small,
input[type].uk-form-small,
input:not([type]).uk-form-small {
  height: @form-small-height;
  padding: @form-small-padding;
  font-size: @form-small-font-size;
  line-height: @form-small-height;
}

select.uk-form-large,
input[type].uk-form-large,
input:not([type]).uk-form-large {
  height: @form-large-height;
  line-height: @form-large-height;
  padding: @form-large-padding;
  font-size: @form-large-font-size;
}

// Sub-object: `uk-form-label`
// ========================================================================
.hook-form-stacked-label() {
  .fontstack-head;
}

.hook-form-horizontal-label() {
  margin: 0;
}

.uk-form-horizontal {
  .uk-form-label {
    min-width: 11rem;
    width: 100%;
    line-height: @global-height;
    @media @width-medium {
      width: 40%;
      float: left;
      line-height: @form-height;
    }
    &.checkbox {
      min-width: 6rem;
      width: auto;
      @media @width-medium {
        width: 40%;
        float: left;
      }
    }
  }
}


/* Sub-object: `uk-form-icon`
 ========================================================================== */

.uk-form-icon > [class*='uk-icon-'] {
  margin-top: 0;
  font-size: @form-icon-font-size;
  top: 30%;
}

.uk-form-icon {
  &:before {
    position: absolute!important;
    width: @text-line-height;
    font-size: @form-icon-font-size;
    line-height: @form-height;
  }
}

.uk-form-icon-flip:before {
  right: 0;
}

.uk-form-icon:not(.uk-form-icon-flip) > input {
  padding-right: 1.5rem!important;
}


/*
 * Sub-modifier: `uk-form-icon-flip`
 */

.uk-form-icon-flip > [class*='uk-icon-'],
.uk-form-icon-flip > [class*='icon-'] {
  right: 0;
}

.uk-form-icon-flip > input {
  padding-right: 1.5rem!important;
}

// Miscellaneous
// ========================================================================
.hook-form-misc() {
  .uk-form {
    margin: 0;
    input:not([type="radio"]):not([type="checkbox"]) {
      vertical-align: top;
    }
    textarea {
      padding: @form-base-padding;
    }
    textarea.uk-form-small {
      padding: @form-small-padding;
      font-size: @form-small-font-size;
    }
    textarea.uk-form-large {
      padding: @form-large-padding;
      font-size: @form-large-font-size;
    }
  }
  .uk-form-row {
    margin-top: 0.5rem;
    @media @height-small {
      margin-top: 1rem;
    }
    p {
      margin-top: 0.5rem;
      @media @height-small {
        margin-top: 1rem;
      }
    }
  }
  .uk-form-label {
    .fontstack-bold;
  }
  /*MAKE FORM NARROW*/
  .uk-form.small {
    .uk-form-row {
      margin-top: 1rem;
      .uk-form-label,
      span.form-value {
        line-height: @form-small-height;
        margin-top: 0;
        @media @width-medium {
          line-height: @global-height;
        }
      }
    }
    .uk-placeholder {
      margin-top: 1rem;
      margin-bottom: 0;
      padding: 1rem;
    }
  }
  label.required::before,
  span.required::before {
    .fontstack-icon;
    content: "\2022"; // bullet
    margin-right: 1rem;
    font-size: 100%;
    color: @accent;
  }
  // CUSTOM STYLES
  // ========================================================================
  input[type="radio"],
  input[type="checkbox"] {
    .fontstack-icon;
    float: right;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    // this is NEEDED to make things work with fastclick,
    // see https://github.com/ftlabs/fastclick/issues/90
    pointer-events: none;
  }
  .uk-form-file {
    color: @global-link-color;
    &:hover {
      color: @global-link-hover-color;
    }
  }
  label {
    .fontstack-head;
    cursor: pointer;
    color: @primary-text;
    span {
      .fontstack-text;
      display: inline-block;
      text-align: left;
    }
  }
  input[type="radio"] ~ span,
  input[type="checkbox"] ~ span {
    position: relative;
    display: block;
    // this is NEEDED to make things work with fastclick,
    // see https://github.com/ftlabs/fastclick/issues/90
    pointer-events: none;
  }
  input[type="radio"] ~ span.hidden,
  input[type="checkbox"] ~ span.hidden {
    display: none;
  }
  input[type="radio"] ~ span::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: -0.4rem;
    border: .1rem solid @divider-text;
    transition: .2s ease;
    border-radius: 1.6rem;
    margin: 0 1rem 0 0;
    // this is NEEDED to make things work with fastclick,
    // see https://github.com/ftlabs/fastclick/issues/90
    pointer-events: none;
  }
  input[type="radio"] ~ span:empty::before {
    margin: 0;
    .horizontal-center;
  }
  input[type="radio"]:checked ~ span::before {
    width: .9rem;
    height: .9rem;
    border: .4rem solid @accent;
  }
  input[type="checkbox"]:disabled {}
  input[type="checkbox"]:disabled ~ span::before {
    color: @disabled-text;
    cursor: default;
  }
  input[type="checkbox"] ~ span:before {
    .fontstack-icon;
    content: "\2610";
    color: @primary-text;
    font-size: @text-font-size;
    line-height: @text-line-height;
    margin: 0 0.3em 0 0;
    // this is NEEDED to make things work with fastclick,
    // see https://github.com/ftlabs/fastclick/issues/90
    pointer-events: none;
  }
  input[type="checkbox"] ~ span:empty::before {
    margin: 0;
    .horizontal-center;
  }
  input[type="checkbox"]:checked ~ span:before {
    content: "\2611";
  }
  input[type="checkbox"]:disabled ~ span:before {
    color: @disabled-text;
    cursor: default;
  }
}

// EOF form.less
