//
// Component: Form password
//
// ========================================================================
// Variables
// ========================================================================
@form-password-font-size: @global-font-size - 1px;
@form-password-line-height: @form-password-font-size;
@form-password-color: @global-muted-color;
@form-password-hover-color: @global-muted-color;
// Miscellaneous
// ========================================================================
.hook-form-password-misc() {
  .uk-form-password {}
}
