// out: null

/* ========================================================================
   Component: Form select
 ========================================================================== */

@dropdown-arrow-width: 4*@grid-gutter-small-horizontal;

.hook-form-select-misc() {
  .uk-form-select.uk-button {
    height: @global-height-large;
    line-height: @global-height-large;
    border: @form-border-width solid @form-border;
    background: @global-background;
    color: @global-color;
    text-align: left;
    padding: 0 0 0 @grid-gutter-small-horizontal;
    margin: 0;
    select {
      padding: 0;
      margin: 0;
    }
    /* XXX
    @media @phones-portrait {
      padding: 0 0 0 0.5rem;
    }
*/
    option {
      width: inherit;
    }
    // Focus state
    &:focus {
      border-color: @form-focus-border;
      outline: 0;
      background: @form-focus-background;
      color: @form-focus-color;
      .hook-form-focus;
    }
    // Disabled state
    &:disabled {
      border-color: @form-disabled-border;
      background-color: @form-disabled-background;
      color: @form-disabled-color;
      .hook-form-disabled;
    }
    // Dropdown arrow
    &:after {
      .fontstack-icon;
      display: inline-block;
      content: '\2304';
      height: @global-height-large;
      line-height: @global-height-large;
      color: @primary;
      position: absolute;
      top: 50%;
      margin-top: -0.5 * @global-height-large;
      right: 0;
      width: @dropdown-arrow-width;
      text-align: center;
    }
    // enforce space for dropdown arrow
    span {
      padding-right: @dropdown-arrow-width;
    }
  }
}
