//
// Component: Grid
//
// ========================================================================
// Variables
// ========================================================================
@grid-gutter-horizontal: @global-grid-gutter;
@grid-gutter-vertical: @global-grid-gutter;
@grid-gutter-large-horizontal: @global-grid-gutter;
@grid-gutter-large-vertical: @global-grid-gutter;
@grid-divider-border: @global-border;
@grid-gutter-small-horizontal: 1rem;
@grid-gutter-small-vertical: 1rem;

/*
 * NEW Widths
 */


/* Large screen and bigger */

@media (min-width: @breakpoint-xlarge) {
  .uk-grid-width-xlarge-1-2 > * {
    width: 50%;
  }
  .uk-grid-width-xlarge-1-3 > * {
    width: 33.333%;
  }
  .uk-grid-width-xlarge-1-4 > * {
    width: 25%;
  }
  .uk-grid-width-xlarge-1-5 > * {
    width: 20%;
  }
  .uk-grid-width-xlarge-1-6 > * {
    width: 16.666%;
  }
  .uk-grid-width-xlarge-1-10 > * {
    width: 10%;
  }
}

.uk-width-1-8 {
  width: 12.5%;
}

.uk-width-7-8 {
  width: 87.5%;
}


/* Phone landscape and bigger */

@media (min-width: @breakpoint-small) {
  .uk-width-small-1-8 {
    width: 12.5%;
  }
  .uk-width-small-7-8 {
    width: 87.5%;
  }
}


/* Tablet and bigger */

@media (min-width: @breakpoint-medium) {
  .uk-width-medium-1-8 {
    width: 12.5%;
  }
  .uk-width-medium-7-8 {
    width: 87.5%;
  }
}


/* Desktop and bigger */

@media (min-width: @breakpoint-large) {
  .uk-width-large-1-8 {
    width: 12.5%;
  }
  .uk-width-large-7-8 {
    width: 87.5%;
  }
}

@media (min-width: @breakpoint-small) {
  .uk-grid-divider:not(:empty) {
    margin-left: 0;
    margin-right: 0;
  }
  .uk-grid-divider > * {
    padding-left: 0;
    padding-right: 0;
  }
  .uk-grid-divider:empty {
    margin-top: 0;
    margin-bottom: 0;
  }
}


/* Tablet and bigger */

@media (min-width: @breakpoint-medium) {
  .uk-grid-divider:not(:empty) {
    margin-left: -@grid-gutter-small-horizontal;
    margin-right: -@grid-gutter-small-horizontal;
  }
  .uk-grid-divider > * {
    padding-left: @grid-gutter-small-horizontal;
    padding-right: @grid-gutter-small-horizontal;
  }
  .uk-grid-divider:empty {
    margin-top: @grid-gutter-small-vertical;
    margin-bottom: @grid-gutter-small-vertical;
  }
}

@media (min-width: @breakpoint-xlarge) {
  .uk-grid-divider:not(:empty) {
    margin-left: -@grid-gutter-large-horizontal;
    margin-right: -@grid-gutter-large-horizontal;
  }
  .uk-grid-divider > * {
    padding-left: @grid-gutter-large-horizontal;
    padding-right: @grid-gutter-large-horizontal;
  }
  .uk-grid-divider:empty {
    margin-top: @grid-gutter-large-vertical;
    margin-bottom: @grid-gutter-large-vertical;
  }
}

// Miscellaneous
// ========================================================================
.hook-grid-misc() {}
