//
// Component: Icon
//
// ========================================================================
// Variables
// ========================================================================
@icon-hover-color: @global-muted-color;
@icon-hover-hover-color: @global-color;
@icon-button-height: @icon-button-width;
@icon-button-background: @global-default-background;
@icon-button-font-size: round((@icon-button-width * 0.5));
@icon-button-color: @global-color;
@icon-button-hover-background: @global-default-hover-background;
@icon-button-hover-color: @global-color;
@icon-button-active-background: @global-default-active-background;
@icon-button-active-color: @global-color;
//
// New
//
@icon-button-border: @primary;
@icon-button-hover-border: @light-primary;
@icon-button-text-shadow: @global-text-shadow;
// Modifier: `uk-icon-hover`
// ========================================================================
.hook-icon-hover() {}

.hook-icon-hover-hover() {}

// Modifier: `uk-icon-unit-select`
// ========================================================================
.hook-icon-button() {
  border: 1px solid @icon-button-border;
  text-shadow: none;
  background-color: @background;
}

// Hover
.hook-icon-button-hover() {
  border-color: @icon-button-hover-border;
}

// Active
.hook-icon-button-active() {}

// Miscellaneous
// ========================================================================
.hook-icon-misc() {
  .icon {
    display: inline-block;
    font-weight: normal;
    font-style: normal;
/*    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
*/
  }
}
