// Name:            List
// Description:     Defines styles for ordered and unordered lists
//
// Component:       `uk-list`
//
// Modifiers:       `uk-list-line`
//                  `uk-list-striped`
//                  `uk-list-space`
//
// ========================================================================
// Variables
// ========================================================================
@list-nested-padding-left: 3rem;

/* ========================================================================
   Component: List
 ========================================================================== */


/*
 * Nested lists
 */

.uk-list ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  ul {
    padding-left: @list-nested-padding-left*0.666;
    @media @width-large {
      padding-left: @list-nested-padding-left;
    }
  }
}

.uk-list-striped {
  > li {
    padding: 0;
    .uk-grid {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      min-height: 4rem;
    }
  }
  > li:nth-of-type(even),
  > li:nth-of-type(odd) {
    border-bottom: 1px solid @divider-text;
  }
  > li:last-of-type {
    border-bottom: 0 none;
  }
}
