// out: null
@import "vendor-elements.less"; // some good pre-defined mixins
// some more custom mixins
.selection (@background, @color) {
  ::selection {
    background: @background; // Safari
    color: @color;
  }
  ::-moz-selection {
    background: @background; // Firefox
    color: @color;
  }
}

// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
// apply on a container, set @selector to the element that shall keep aspect ratio
.aspect-ratio (@width, @height, @selector) {
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .container,
  > .lightbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// VISIBILITY W/O !important signs
// FIXME: no jc- prefixed classes in CSS
// (used for data-binding)
.jc-hidden {
  display: none;
  visibility: hidden;
}

.jc-visible {
  display: block;
  visibility: visible;
}

.jc-hidden-xlarge {
  display: block;
  @media @width-xlarge {
    display: none!important;
    visibility: hidden;
  }
}

.switch-transition (@type, @time, @style) {
  -webkit-transition: @type @time @style;
  -moz-transition: @type @time @style;
  -o-transition: @type @time @style;
  -ms-transition: @type @time @style;
  transition: @type @time @style;
}

.vertical-center () {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.horizontal-center () {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wrapword {
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap;
  /* Newer versions of Chrome/Safari*/
  word-break: break-word;
  white-space: normal;
}

.scroller {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: @global-border-radius;
    border: 0.3rem solid @background;
    background-color: @divider-text;
  }
}
