//
// Component: Modal
//
// ========================================================================
// Variables
// ========================================================================
@modal-z-index: @global-z-index + 20;
@modal-dialog-background: @background; // @dialog;
@modal-header-margin-bottom: @global-margin;
@modal-footer-margin-top: @global-margin;
@modal-caption-color: @global-contrast-color;
@modal-dialog-medium-padding: 9%;
// Component
// ========================================================================
.hook-modal() {
  margin: 0;
  opacity: 1;
  z-index: 26;
  @media @width-medium {
    opacity: 0;
  }
  overflow-x: hidden;
}

// Sub-object: `uk-modal-dialog`
// ========================================================================
.hook-modal-dialog() {
  // FIXME: upstream/core uikit is broken,
  // because this hook cant override breakpoints.
  //
  // DON'T USE. Use hook-modal-misc instead
}

// Modifier: `uk-modal-dialog-lightbox`
// ========================================================================
.hook-modal-dialog-lightbox() {
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  height: auto;
  max-width: inherit!important;
  min-height: 0;
  position: relative;
  background: transparent;
  margin-top: 1.5rem!important;
  margin-right: auto!important;
  margin-left: auto!important;
  max-width: 95%!important;
  // do not slide in lightboxes
  -webkit-transform: translateX(0);
  transform: translateX(0);
  .uk-lightbox-content {
    margin: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  }
  // FIXME: move to hook-modal-misc, and drop !important flags
  & > .uk-modal-close.uk-close-alt:first-child {
    display: inline-block;
    position: absolute;
    border: 0!important;
    padding: 0;
    top: -0.5rem;
    right: -0.5rem!important;
    @media @width-large {
      top: -1.5rem!important;
      right: -1.5rem!important;
    }
    &:after {
      .fontstack-icon;
      display: inline;
      opacity: 1 !important;
    }
  }
}

// Sub-object: `uk-modal-header`
// ========================================================================
.hook-modal-header() {
  min-height: 4rem;
  border-bottom: 1px solid @divider-text;
  padding: 0 0.5*@modal-dialog-padding;
  @media @width-medium {
    padding: 0 @modal-dialog-medium-padding!important;
  }
  @media @width-large {
    padding: 0 0.66*@modal-dialog-padding!important;
  }
  h2 {
    position: relative;
    margin-bottom: 0;
    margin-left: 2rem;
    text-indent: -2rem;
    .uk-modal-close {
      &::before {
        .fontstack-icon;
        content: "\2329";
        top: -0.3rem;
        position: relative;
      }
      @media @width-large {
        display: none;
      }
    }
    // uk-close ist the "x" style
    .uk-modal-close.uk-close {
      &::before {
        content: '';
        display: none;
      }
    }
    span {
      color: @primary-text;
      @media @width-large {
        padding-left: 0;
        color: @primary;
      }
    }
  }
}

// Sub-object: `uk-modal-footer`
// ========================================================================
.hook-modal-footer() {
  margin: @modal-footer-margin-top (-@modal-dialog-padding) (-@modal-dialog-padding) (-@modal-dialog-padding);
  padding: 0 @modal-dialog-padding @modal-dialog-padding;
  border-top: none;
  /*
  border-radius: 0 0 @global-border-radius @global-border-radius;
  background: @modal-dialog-background;
  */
}

// Sub-object: `uk-modal-caption`
// ========================================================================
.hook-modal-caption() {}

// Sub-object: `uk-modal-spinner`
// ========================================================================
.hook-modal-spinner() {}

.uk-modal-spinner:after {
  .fontstack-icon;
  content: "\23F0";
  -webkit-animation: uk-rotate 2s infinite linear;
  animation: uk-rotate 2s infinite linear;
}

// Miscellaneous
// ========================================================================
.hook-modal-misc() {
  // NOTE this is the last hook in UIkit sources.
  // This is thus the only place making it possible to override breakpoints
  // without hassle and !important flags
  .uk-modal {
    width: 100%;
  }
  .uk-modal-dialog {
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    // NO TOP/BOTTOM PADDING: clashes with min height and always overflows
    // NO LEFT/RIGHT PADDING: want header bottom line full width for mobile
    padding: 0;
    .box-sizing(content-box);
    // slide in from right on mobile, do not slide in on desk
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    @media @width-medium {
      margin: 0 auto;
    }
    @media @width-large {
      border-radius: @global-border-radius;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      // just POP up
      -webkit-transform: none;
      transform: none;
      -webkit-transition: none;
      transition: none;
      padding: @modal-dialog-padding-top @modal-dialog-padding 0.5*@modal-dialog-padding;
      margin: 0 auto 1.5rem;
      max-width: @modal-dialog-medium-width;
      min-height: 0;
      top: 7rem;
    }
    h2 {
      padding-top: 1.2rem;
      font-size: 2rem;
      line-height: 1;
      margin-top: 0;
      .back {
        margin-right: 0.5em;
        &::before {
          .fontstack-icon;
          content: "\2329";
        }
      }
    }
    .modal-content {
      padding: 0 0.5*@modal-dialog-padding;
      @media @width-medium {
        padding: 0 @modal-dialog-medium-padding;
      }
      @media @width-large {
        padding: 0 0.66*@modal-dialog-padding;
      }
      /* Safari override */
      .uk-form-row input[type="password"] {
        padding: 0 1.5rem;
        line-height: @form-height;
      }
      .uk-button {
        min-height: 4rem;
        margin: 0.5*@global-margin 0;
      }
      .text-button {
        font-size: 1.6rem;
        line-height: 3rem;
        padding: 1rem 0;
        position: relative;
        vertical-align: top;
        display: inline-block;
      }
      .back,
      .next {
        &:before {
          .fontstack-icon;
          font-size: 1.6rem;
          padding-right: 1rem;
        }
      }
      .next::before {
        content: "\232A";
      }
      .back::before {
        content: "\2329";
      }
    }
    @media @width-large {
      .uk-modal-header .back {
        display: none;
      }
    }
  }
  // UIkit uses first-child, too
  .uk-modal-dialog > .uk-close:first-child {
    &:after, &:before {
      position: absolute;
      width: auto;
      height: auto;
      // can't override display: block, so drop line-height
      line-height: 0;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    display: inline-block;
    border: none;
    position: absolute;
    z-index: 1;
    vertical-align: middle;
    // NOTE: we enforce width and height to have a well-defined
    // clickable area that is larger than the icon
    width: 4rem;
    height: 4rem;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 3.5rem;
    line-height: 4rem;
    @media @width-medium {
      right: @modal-dialog-medium-padding;
      margin-right: -1.5rem;
    }
    @media @width-large {
      width: 5rem;
      height: 5rem;
      top: 1rem;
      right: 1.5rem;
      margin-right: 0;
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}

.uk-modal-page {
  .uk-modal-dialog {
    .intro-hint {
      display: none;
      visibility: hidden;
      &.active {
        display: block;
        visibility: visible;
      }
    }
  }
}
.uk-modal-page, .uk-modal-page body {
  overflow: hidden;
}
