//
// Component: Navbar
//
// ========================================================================
// Variables
// ========================================================================
@navbar-background: @appbar;
@navbar-color: @primary-text;
@navbar-link-color: @primary-text;
@navbar-link-hover-color: @primary;
@navbar-nav-height: 3.8rem;
@navbar-nav-line-height: @navbar-nav-height;
@navbar-nav-color: @global-color;
@navbar-nav-font-size: 1.6rem;
@navbar-nav-padding-horizontal: 1rem;
@navbar-nav-hover-background: lighten(@navbar-background, 10%);
@navbar-nav-hover-color: @global-color;
@navbar-nav-onclick-background: @global-default-active-background;
@navbar-nav-onclick-color: @global-color;
@navbar-nav-active-background: darken(@navbar-background, 10%);
@navbar-nav-active-color: @global-color;
@navbar-brand-font-size: 4rem;
@navbar-brand-color: @primary;
@navbar-brand-hover-color: @dark-primary;
@navbar-toggle-font-size: @navbar-brand-font-size;
@navbar-toggle-color: @global-link-color;
@navbar-toggle-hover-color: @global-link-color;
@navbar-toggle-inverse-color: @global-contrast-color;
@navbar-toggle-hover-inverse-color: @global-contrast-color;
@navbar-toggle-icon: "\2261";
//
// New
//
@navbar-border: none;
@navbar-text-shadow: none;
@navbar-nav-hover-border: none;
@navbar-nav-hover-border-top: none;
@navbar-nav-onclick-border-top: none;
// Component
// ========================================================================
.hook-navbar() {
  border: none;
  border-radius: none;
  z-index: 25;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

// Sub-object: `uk-navbar-nav`
// ========================================================================
//
// 1. Overlap top border
// 2. Collapse horizontal borders
//
.uk-navbar-nav > li {
  &.current {
    border-bottom: 3px solid @inverse-text;
  }
}
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {
  background-color: #07a0e1;
}

.uk-navbar-nav .router-link-active {
  border-bottom: 3px solid #fff;
}
.menuItem-active{
  border-bottom: 3px solid #fff!important;
}


.hook-navbar-nav() {
  .fontstack-text;
  margin-top: 0; // 1
  margin-left: 0; // 2
  border: none;
  border-bottom-width: 0;
  text-shadow: none;
  height: @navbar-nav-height;
  line-height: @navbar-nav-height;
  padding: 0 2.5em 0 1.5em;
  color: @primary-text;
  &.current {
    border-bottom: 3px solid @inverse-text;
  }
}

//
// Needed for hover
// 1. Create position context to superimpose the successor elements border
// 2. Needed because the `li` elements have already a position context
//
// Hover
.hook-navbar-nav-hover() {
  position: static; // 1
  z-index: 1; // 2
  border-left-color: @navbar-nav-hover-border;
  border-right-color: @navbar-nav-hover-border;
  border-top-color: @navbar-nav-hover-border-top;
}

// OnClick
.hook-navbar-nav-onclick() {
  border-left-color: @navbar-nav-hover-border;
  border-right-color: @navbar-nav-hover-border;
  border-top-color: @navbar-nav-onclick-border-top;
}

// Active
.hook-navbar-nav-active() {
  border-left-color: @navbar-nav-hover-border;
  border-right-color: @navbar-nav-hover-border;
  border-top-color: @navbar-nav-hover-border-top;
}


/* Sub-objects: `uk-navbar-content`, `uk-navbar-brand`, `uk-navbar-toggle`
 ========================================================================== */


/*
 * Imitate navbar items
 */

.uk-navbar-content,
.uk-navbar-brand,
.uk-navbar-toggle {
  padding: 0 @navbar-nav-padding-horizontal;
}


/*
 * Helper to center all child elements vertically
 */

.uk-navbar-content:before,
.uk-navbar-brand:before,
.uk-navbar-toggle:before {
  height: 100%;
  vertical-align: middle;
}

// Sub-object: `uk-navbar-content`
// ========================================================================
//
// 1. Behave like items
//
.hook-navbar-content() {
  margin-top: 0; // 1
  text-shadow: @navbar-text-shadow;
  padding: 0 0.5rem;
  @media @width-small {
    padding: 0 1rem;
  }
  .uk-button {
    margin: 0;
    @media @width-small {
      margin: 0 0.3rem;
    }
    @media @width-medium {
      margin: 0 0.5rem;
    }
  }
}


/* Sub-object: `uk-navbar-toggle`
 ========================================================================== */

.uk-navbar-toggle {
  font-size: @navbar-toggle-font-size;
  color: @navbar-toggle-color;
  text-decoration: none;
  ///FIXME jcligt icon menu  has bad alignment
  &:after {
    .fontstack-icon;
    vertical-align: top;
    content: @navbar-toggle-icon;
    vertical-align: middle;
  }
  &.inverse {
    color: @navbar-toggle-inverse-color;
  }
}

.uk-navbar-toggle:hover,
.uk-navbar-toggle:focus {
  // 1
  color: @navbar-toggle-color;
  text-decoration: none;
  outline: none;
  &.inverse {
    color: @navbar-toggle-inverse-color;
  }
}

.uk-navbar-toggle-alt:after {
  content: @navbar-toggle-icon-alt;
}

// Miscellaneous
// ========================================================================
.hook-navbar-misc() {
  // Collapse border
  .uk-navbar-flip .uk-navbar-nav > li > a {
    margin-left: 0;
    margin-right: -1px;
  }
  // no border-radius
  .uk-navbar-flip .uk-navbar-nav:first-child > li:first-child > a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .uk-navbar-flip .uk-navbar-nav:last-child > li:last-child > a {
    border-radius: 0;
  }
  .uk-navbar-attached {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 0;
  }
  .uk-navbar-attached .uk-navbar-nav > li > a {
    border-radius: 0 !important;
  }
  .uk-navbar-nav > li.uk-parent > a:after {
    .fontstack-icon;
    content: "\2304";
    display: inline-block;
    position: absolute;
    right: 1rem;
    bottom: 0;
  }
}
