// Name:            Nestable
// Description:     Defines styles for nestable lists
//
// Component:       `uk-nestable`
//
// Sub-objects:     `uk-nestable-list`
//                  `uk-nestable-item`
//                  `uk-nestable-moving`
//                  `uk-nestable-toggle`
//                  `uk-nestable-panel`
//
// Modifier:        `uk-nestable-dragged`
//                  `uk-nestable-placeholder`
//
// States:          `uk-parent`
//                  `uk-collapsed`
//
// Markup:
//
// <!-- uk-nestable -->
// <ul class="uk-nestable" data-uk-nestable>
//     <li></li>
//     <li></li>
// </ul>
//
// ========================================================================
// Variables
// ========================================================================
@nestable-padding-left: 3rem;
@nestable-padding-left-small: 1rem;
@nestable-placeholder-border: @background;
@nestable-panel-background: @background;
@nestable-panel-padding: 0;
@nestable-empty-height: 3rem;
@nestable-toggle-icon: "\2304";
@nestable-toggle-collapsed-icon: "\232A";
@nestable-item-margin: 0.5rem;
@nestable-shadows: 0 1px 3px 0 @light-divider-text,
0 1px 3px 0 @light-divider-text;
@nestable-height: 4.4rem;

/* ========================================================================
   Component: Nestable
 ========================================================================== */

.uk-nestable {
  padding: 0;
  list-style: none;
}


/*
  COMMON TYPE
*/

.uk-nestable-item {
  &.uk-collapsed {
    .uk-nestable-panel:first-of-type {
      background: @background;
    }
  }
  .uk-nestable-panel:first-of-type {
    background: @appbar;
    box-shadow: @nestable-shadows;
  }
  .uk-nestable-list {
    .box-sizing(border-box);
    box-shadow: @nestable-shadows;
    padding: @nestable-padding-left-small @nestable-padding-left-small @nestable-padding-left-small @nestable-padding-left-small*2;
    @media @width-large {
      padding: @nestable-padding-left*0.5rem @nestable-padding-left;
    }
    .uk-nestable-list {
      box-shadow: none;
    }
    .uk-nestable-panel {
      background: @dialog;
      box-shadow: none;
    }
  }
}


/*
  NESTING TYPE
*/

.uk-nestable-item.nesting {
  box-shadow: none;
  margin-top: 0!important;
  &.uk-collapsed {
    box-shadow: @nestable-shadows;
    .uk-nestable-panel:first-of-type {
      background: @background;
      box-shadow: none;
      &.first-panel {
        .gridleft,
        .gridright {
          border-top: 0 none;
        }
      }
    }
  }
  .uk-nestable-panel:first-of-type {
    background: @appbar;
    box-shadow: none;
    &.first-panel {
      .gridleft,
      .gridright {
        border-top: 0 none;
      }
    }
    .gridleft,
    .gridright {
      border-top: 1px solid @divider-text;
    }
  }
  .uk-nestable-list {
    padding: 0;
    box-shadow: none;
    .uk-nestable-item,
    .uk-nestable-item.uk-collapsed {
      .uk-nestable-panel {
        background: @background;
        .gridright,
        .gridleft {
          border-top: 1px solid @divider-text;
        }
      }
    }
  }
}


/*
 * Disables the default callout shown when you touch and hold a touch target
 * Currently only works in Webkit
 */

.uk-nestable a,
.uk-nestable img {
  -webkit-touch-callout: none;
}


/* Sub-object `uk-nestable-list`
 ========================================================================== */

.uk-nestable-list {
  margin: 0;
  list-style: none;
}


/* Sub-modifier `uk-nestable-item`
 ========================================================================== */


/*
 * 1. Deactivate browser touch actions in IE11
 */

.uk-nestable-item {
  touch-action: auto!important;
}

.uk-nestable-item + .uk-nestable-item {
  /*space between items*/
  margin-top: @nestable-item-margin;
  touch-action: auto!important;
}
.uk-nestable-item:not(:first-child){
  /*space between items*/
  margin-top: @nestable-item-margin;
  touch-action: auto!important;
}

.uk-nestable-list:not(.uk-nestable-dragged) > .uk-nestable-item:first-child {
  margin-top: @nestable-item-margin;
}

.uk-nestable-item.nesting {
  .uk-nestable-list:not(.uk-nestable-dragged) > .uk-nestable-item:first-child {
    margin-top: 0;
  }
}


/* Sub-object `.uk-nestable-toggle`
 ========================================================================== */

[data-nestable-action='toggle'] {
  cursor: pointer;
  /* 1 */
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.uk-nestable-toggle {
  display: inline-block;
  width: 2rem;
  font-size: 0.75*@text-font-size!important;
  @media @width-large {
    width: 3rem;
    font-size: 0.875*@text-font-size!important;
  }
  @media @width-xlarge {
    font-size: @text-font-size!important;
  }
  &:after {
    .fontstack-icon;
    text-align: left;
    content: @nestable-toggle-icon;
    position: absolute;
    width: 80%;
    height: @nestable-height;
    line-height: @nestable-height;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    margin: 0!important;
    padding: 0!important;
    font-size: 120%;
    color: @accent;
  }
  &:hover:after {
    color: @light-primary;
  }
}

.uk-parent >:not(.uk-nestable-list) .uk-nestable-toggle {
  visibility: visible;
}


/*
 * Collapsed
 */

.uk-collapsed .uk-nestable-list {
  display: none;
}

.uk-collapsed .uk-nestable-toggle:after {
  content: @nestable-toggle-collapsed-icon;
}


/*.hook-nestable-item {
  &.uk-parent {
    .gridleft,
    .gridright {
      border-bottom: 1px solid @divider-text;
    }
    &:first-of-type {
      .gridleft,
      .gridright {
        border-bottom: 0 none;
      }
    }
    .uk-nestable-list {
      margin-bottom: 0;
    }
  }
}
*/


/* Sub-object `uk-nestable-panel`
 ========================================================================== */

.uk-nestable-panel {
  .user-select(none);
  padding: 0;
  position: relative;
  min-height: @nestable-height;
  /*.uk-flex.uk-flex-middle*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  .nestable-body,
  &>.uk-grid {
    width: 100%;
  }
  .panel-body {
    padding-right: @nestable-padding-left-small;
    @media @width-large {
      padding-right: @nestable-padding-left;
    }
    p {
      margin: 0;
      &.uk-text-bookmark {
        color: @bookmark-color;
        font-weight: 700;
      }
      span {
        padding: 0 0.15rem;
        @media @width-medium {
          padding: 0 0.3rem;
        }
      }
    }
    button {
      margin: 0;
    }
  }
}

.gridleft {
  span.icon.block {
    width: 2rem;
    font-size: 1.8rem;
    line-height: @nestable-height;
    min-height: @nestable-height;
    &:before {
      top: -0.2rem;
      color: @secondary-text;
    }
  }
}

/*
Styles for nesting items
*/

.uk-nestable-item.nesting {
  line-height: @nestable-height;
  .uk-nestable-panel {
    line-height: @nestable-height;
    min-height: @nestable-height;
    .nestable-body {
      line-height: @nestable-height;
      min-height: @nestable-height;
      .gridright {
        line-height: @nestable-height + 0.2rem;
        min-height: @nestable-height + 0.2rem;
        .uk-grid,
        span {
          line-height: @nestable-height;
          min-height: @nestable-height;
        }
      }
      .gridleft {
        line-height: @nestable-height - 0.2rem;
        min-height: @nestable-height - 0.2rem;
      }
    }
  }
}



/*
CREATING NESTING STRUCTURE
upper level classes could be used for JS binding
*/

.uk-nestable-item.nesting {
  .uk-nestable-panel {
    .level-two-head {
      padding-left: 1.5rem;
      @media @width-medium {
        padding-left: 3rem;
      }
    }
    .level-three-head {
      padding-left: 2.5rem;
      @media @width-medium {
        padding-left: 6rem;
      }
    }
    .level-four-head {
      padding-left: 3.5rem;
      @media @width-medium {
        padding-left: 9rem;
      }
      &.introlist {
        padding-left: 3.5rem;
        @media @width-medium {
          padding-left: 9rem;
        }
      }
    }
    .level-five-head {
      padding-left: 4.5rem;
      @media @width-medium {
        padding-left: 12rem;
      }
      span {
        padding-left: 1.5rem;
        @media @width-large {
          padding-left: 3rem;
        }
      }
    }
    .level-one-head,
    .level-two-head,
    .level-three-head,
    .level-four-head,
    .level-five-head {
      line-height: @nestable-height;
      min-height: @nestable-height;
    }
  
    &.level-last {
      .gridleft,
      .gridright {
        border-bottom: 0 none!important;
        line-height: @nestable-height;
        min-height: @nestable-height;
      }
    }
  }
}
