//
// Component: Off-canvas
//
// ========================================================================
// Variables
// ========================================================================
@offcanvas-z-index: @global-z-index;
//
// New
//
@offcanvas-panel-text-shadow: rgba(0, 0, 0, 0.5);
// Component
// ========================================================================
.hook-offcanvas() {
  background: transparent;
  z-index: @hover-z-index;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/* Sub-object `uk-offcanvas-page`
 ========================================================================== */


/*
 * Prepares the whole HTML page to slide-out
 * 1. Fix the main page and disallow scrolling
 * 2. STOP  Side-out transition
 */

.uk-offcanvas-page {
  /* 1 */
  position: fixed;
  /* 2 */
  margin-left: 0!important;
}

// Sub-object `uk-offcanvas-bar`
// ========================================================================
.hook-offcanvas-bar() {
  width: @offcanvas-bar-width;
  @media @width-medium {
    width: @offcanvas-bar-width*0.65;
  }
  @media @width-large {
    width: @offcanvas-bar-width*0.5;
  }
  .uk-nav-offcanvas {
    z-index: @hover-z-index;
    li,
    li.uk-active {
      a {
        background: @offcanvas-bar-background!important;
        box-shadow: none!important;
        font-size: 1.6rem;
        border-bottom: 1px solid @inverse-divider-text;
      }
    }
  }
  .close-big {
    line-height: 6rem;
    font-size: 4rem;
    color: @inverse-primary-text!important;
    display: block;
    padding-right: 1rem;
    z-index: 10;
    border-bottom: 1px solid @inverse-divider-text;
  }
  .uk-nav {
    li,
    li.uk-active,
    li:not(.uk-active),
    li.uk-open:not(.uk-active) {
      background: @offcanvas-bar-background;
      margin-bottom: 0;
      width: 100%;
      a {
        padding: 1.5rem 0 1.5rem 0.5rem;
        color: @inverse-text!important;
        margin: 0;
        &:hover,
        &:focus,
        &:after {
          color: @inverse-text!important;
        }
        > span {
          margin-left: 0;
        }
      }
    }
    li:not(.uk-active) > a::after,
    li.uk-active > a::after {
      display: block;
    }
    .uk-nav-sub {
      padding: 0;
      li,
      li.uk-active {
        a {
          font-size: 1.6rem;
          padding: 1rem 0 1rem 3rem!important;
          &:after {
            .fontstack-icon;
            font-size: 2rem;
            content: "-";
            text-align: center;
            float: left;
            margin-right: 1rem;
          }
        }
      }
    }
  }
  .uk-offcanvas-bar::-webkit-scrollbar {
    width: 0 !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
}

// Panel in offcanvas
// ========================================================================
.hook-offcanvas-panel() {
  text-shadow: 0 1px 0 @offcanvas-panel-text-shadow;
}

// Miscellaneous
// ========================================================================
.hook-offcanvas-misc() {
  .uk-offcanvas-bar:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
  }
  .uk-offcanvas-bar-flip:after {
    right: auto;
    left: 0;
    width: 1px;
  }
}
