//
// Component: Overlay
//
// ========================================================================
// Variables
// ========================================================================
@overlay-panel-color: @global-contrast-color;
@overlay-icon-color: @global-contrast-color;
// Sub-object `uk-overlay-panel`
// ========================================================================
.hook-overlay-panel() {}

// Sub-object `uk-overlay-background`
// ========================================================================
.hook-overlay-background() {}

// Sub-object `uk-overlay-image`
// ========================================================================
.hook-overlay-image() {}

// Sub-object `uk-overlay-icon`
// ========================================================================
.hook-overlay-icon() {
  .fontstack-icon;
  color: @inverse-text;
  content: "\01F50D";
}

// Miscellaneous
// ========================================================================
.hook-overlay-misc() {
  .uk-overlay-hover:not(: hover):not(.uk-hover) .uk-overlay-panel:not(.uk-ignore) {
    opacity: 0.3;
    @media @width-large {
      opacity: 0;
    }
  }
}
