//
// Component: Pagination
//
// ========================================================================


// Variables
// ========================================================================

@pagination-line-height:                        @global-line-height;
@pagination-background:                         @global-background;
@pagination-color:                              @global-link-color;
@pagination-hover-background:                   @global-background;
@pagination-hover-color:                        @global-link-contrast-active-color;
@pagination-onclick-background:                 @global-background;
@pagination-onclick-color:                      @global-link-contrast-active-color;

@pagination-active-background:                  @global-primary-background;
@pagination-active-color:                       @global-contrast-color;

@pagination-disabled-background:                @global-default-hover-background;
@pagination-disabled-color:                     @global-muted-color;

//
// New
//

@pagination-border:                             @global-primary-background;
@pagination-text-shadow:                        none;
@pagination-hover-border:                       @global-link-contrast-active-color;

@pagination-contrast-text-shadow:               none;


// Component
// ========================================================================

//
// Items
//

.hook-pagination-item() {
  border: 1px solid @pagination-border;
  border-radius: @primary-button-border-radius;
  padding: .5rem;
  font-size: 0.8*@text-font-size;
  line-height: 0.8*@text-line-height;
  height: @text-font-size;
  width: @text-font-size;

}

// Link
.hook-pagination-link() {
    text-shadow: @pagination-text-shadow;
}

.hook-pagination-link-hover() { border-color: @pagination-hover-border; }

.hook-pagination-link-active() {}

// Active
.hook-pagination-active() {
  border-color: transparent;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
    text-shadow: 0 -1px 0 @pagination-contrast-text-shadow;
}

// Disabled
.hook-pagination-disabled() {
    border: 1px solid @pagination-border;
    text-shadow: 0 1px 0 @pagination-text-shadow;
}


// Miscellaneous
// ========================================================================

.hook-pagination-misc() {}