//
// Component: Progress
//
// ========================================================================
// Variables
// ========================================================================
@progress-margin-vertical: @global-margin;
@progress-background: #f5f5f5;
@progress-bar-background: @global-primary-background;
@progress-bar-font-size: round((@global-font-size * 0.85)); // 12px / 14px
@progress-bar-color: @global-contrast-color;
@progress-bar-success-background: @global-success-background;
@progress-bar-warning-background: @global-warning-background;
@progress-bar-danger-background: @global-danger-background;
//
// New
//
@progress-bar-text-shadow: @global-contrast-text-shadow;
// Component
// ========================================================================
.hook-progress() {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
  border-radius: @global-border-radius;
}

// Sub-object: `progress-bar`
// ========================================================================
.hook-progress-bar() {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  text-shadow: 0 -1px 0 @progress-bar-text-shadow;
}

// Color modifiers
// ========================================================================
.hook-progress-bar-success() {}

.hook-progress-bar-warning() {}

.hook-progress-bar-danger() {}

// Miscellaneous
// ========================================================================
.hook-progress-misc() {
  /* Size modifiers
     ========================================================================== */
  .uk-progress-mini,
  .uk-progress-small {
    border-radius: 500px;
  }
}
