//
// Component: Search
//
// ========================================================================
// Variables
// ========================================================================
@search-height: @global-height;
@search-color: @global-color;
@search-placeholder-color: @global-muted-color;
@dropdown-search-background: #fff;
@dropdown-search-color: @global-color;
@dropdown-search-navbar-margin-top: 12px;
@dropdown-search-navbar-margin-right: -16px;
@nav-search-color: @global-color;
@nav-search-active-background: @global-primary-background;
@nav-search-active-color: @global-contrast-color;
@nav-search-header-color: @global-muted-color;
@nav-search-divider-border: @global-border;
@nav-search-nested-color: @global-link-color;
@nav-search-nested-hover-color: @global-link-hover-color;
//
// New
//
@nav-search-active-text-shadow: @global-contrast-text-shadow;
// Component
// ========================================================================
.hook-search() {}

.hook-search-icon() {}

// Sub-object `uk-search-field`
// ========================================================================
.hook-search-field() {}

.hook-search-field-focus() {}

// Dropdow modifier: `uk-dropdown-search`
// ========================================================================
.hook-dropdown-search() {}

// Nav modifier `uk-nav-search`
// ========================================================================
//
// Items
//
.hook-nav-search() {}

// Active
.hook-nav-search-active() {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  text-shadow: 0 -1px 0 @nav-search-active-text-shadow;
}

//
// Sub-object: `uk-nav-header`
//
.hook-nav-search-header() {}

//
// Sub-object: `uk-nav-divider`
//
.hook-nav-search-divider() {}

// Search in offcanvas
// ========================================================================
.hook-offcanvas-search-field() {}

// Miscellaneous
// ========================================================================
.hook-search-misc() {}
