//
// Component: Subnav
//
// ========================================================================
// Variables
// ========================================================================
@subnav-color: @global-color;
@subnav-hover-color: @global-link-color;
@subnav-active-color: @global-link-color;
@subnav-line-border: @global-border;
@subnav-pill-hover-background: #fafafa;
@subnav-pill-hover-color: @global-color;
@subnav-pill-active-background: @global-primary-background;
@subnav-pill-active-color: @global-contrast-color;
@subnav-disabled-color: @global-muted-color;
// Component
// ========================================================================
.hook-subnav() {}

.hook-subnav-hover() {}

.hook-subnav-active() {}

// Modifier: `uk-subnav-line'
// ========================================================================
.hook-subnav-line-divider() {}

// Modifier: `uk-subnav-pill'
// ========================================================================
.hook-subnav-pill() {
  border-radius: @global-border-radius;
}

.hook-subnav-pill-hover() {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.hook-subnav-pill-active() {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

// Disabled state
// ========================================================================
.hook-subnav-disabled() {
  box-shadow: none;
}

// Miscellaneous
// ========================================================================
.hook-subnav-misc() {}
