  //
  // Component: Tab
  //
  // ========================================================================
  // Variables
  // ========================================================================
  @tab-border: @global-border;
  @tab-color: @global-link-contrast-color;
  @tab-hover-border: rgba(0, 0, 0, 0.06);
  @tab-hover-background: transparent;
  @tab-hover-color: @global-link-contrast-hover-color;
  @tab-active-border: @global-border;
  @tab-active-background: @global-background;
  @tab-active-color: @global-link-color;
  @tab-disabled-color: @global-muted-color;
  //
  // New
  //
  @tab-text-shadow: @global-text-shadow;
  // Component
  // ========================================================================
  //
  // Items
  //
  /* ========================================================================
   Component: Tab
 ========================================================================== */
  
  ul.uk-tab {
    text-shadow: none;
    padding: 0 1rem;
  }
  
  // Hover
  .hook-tab-hover() {}
  
  // Active
  .hook-tab-active() {
    .fontstack-head;
    border-color: @global-link-color;
    border-bottom-color: transparent;
  }
  
  // Disabled
  .hook-tab-disabled() {}
  
  // Miscellaneous
  // ========================================================================
  .hook-tab-misc() {
    .uk-tab > li {
      > a {
        border-width: 1px;
        border-radius: @global-border-radius @global-border-radius 0 0;
        @media @width-small {
          padding: 0.8rem 1rem 0.8rem 1rem;
        }
        @media @width-large {
          padding: 0.8rem 1.2rem 0.8rem 1.2rem;
        }
      }
    }
    li.uk-tab-responsive {
      > a {
        padding: 0.8rem 2.5rem 0.8rem 1.2rem;
        margin-bottom: -0.1rem;
        &:before {
          .fontstack-icon;
          content: "\25BC";
          font-size: 1.8rem;
          position: absolute;
          right: 1rem;
        }
      }
      .uk-dropdown {
        margin-top: 0;
        background: @primary;
        .uk-nav > li > a {
          color: @inverse-text;
        }
      }
    }
    /* Modifier: `uk-tab-bottom'
     ========================================================================== */
    .uk-tab-bottom > li > a {
      border-radius: 0 0 @global-border-radius @global-border-radius;
    }
    /* Modifier: `uk-tab-left', `uk-tab-right'
    ========================================================================== */
    /* Tablet and bigger */
    @media (min-width: @breakpoint-medium) {
      /*
         * Modifier: `uk-tab-left'
         */
      .uk-tab-left > li > a {
        border-radius: 0 @global-border-radius @global-border-radius 0;
      }
      /*
         * Modifier: `uk-tab-right'
         */
      .uk-tab-right > li > a {
        border-radius: @global-border-radius 0 0 @global-border-radius;
      }
    }
  }
