//
// Component: Text
//
// ========================================================================
// Variables
// ========================================================================
@text-small-font-size: round((@global-font-size * 1.4)); // 14px
@text-small-line-height: round((@text-small-font-size * 1.4)); // 18px
@text-large-font-size: round((@global-font-size * 1.8)); // 18px 
@text-large-line-height: round((@text-large-font-size * 1.6)); // 22px
@text-muted-color: @global-muted-color;
@text-contrast-color: @global-contrast-color;
// Miscellaneous
// ========================================================================
.hook-text-misc() {}


/* OVERRIDE UIkit Weight modifiers
 ========================================================================== */

.uk-text-bold {
  .fontstack-bold;
}
