//
// Component: Tooltip
//
//
// ========================================================================
// Variables
// ========================================================================
@tooltip-z-index: @global-z-index + 30;
@tooltip-max-width: 200px;
@tooltip-padding-vertical: 5px;
@tooltip-padding-horizontal: 8px;
@tooltip-background: @primary;
@tooltip-triangle-size: 5px;
@tooltip-color: @inverse-text!important;
@tooltip-font-size: @text-font-size * 0.85;
@tooltip-line-height: @text-line-height * 0.8;
@tooltip-offset-horizontal: 10px;

/* ========================================================================
   Component: Tooltip
 ========================================================================== */

.uk-tooltip {
  display: block;
  position: absolute;
  z-index: @tooltip-z-index;
  .box-sizing(border-box);
  max-width: @tooltip-max-width;
  padding: @tooltip-padding-vertical @tooltip-padding-horizontal;
  background: @tooltip-background;
  color: @tooltip-color;
  font-size: @tooltip-font-size;
  line-height: @tooltip-line-height;
  border: 1px solid @tooltip-color;
  border-radius: @global-border-radius;
}


/* Triangle
 ========================================================================== */

.uk-tooltip:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  /* 1 */
  border: @tooltip-triangle-size dashed @tooltip-background;
}


/* Direction modifiers
 ========================================================================== */


/*
 * Top
 */

.uk-tooltip-top:after,
.uk-tooltip-top-left:after,
.uk-tooltip-top-right:after {
  bottom: -@tooltip-triangle-size;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: @tooltip-background;
}


/*
 * Bottom
 */

.uk-tooltip-bottom:after,
.uk-tooltip-bottom-left:after,
.uk-tooltip-bottom-right:after {
  top: -@tooltip-triangle-size;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: @tooltip-background;
}


/*
 * Top/Bottom center
 */

.uk-tooltip-top:after,
.uk-tooltip-bottom:after {
  left: 50%;
  margin-left: -@tooltip-triangle-size;
}


/*
 * Top/Bottom left
 */

.uk-tooltip-top-left:after,
.uk-tooltip-bottom-left:after {
  left: @tooltip-offset-horizontal;
}


/*
 * Top/Bottom right
 */

.uk-tooltip-top-right:after,
.uk-tooltip-bottom-right:after {
  right: @tooltip-offset-horizontal;
}


/*
 * Left
 */

.uk-tooltip-left:after {
  right: -@tooltip-triangle-size;
  top: 50%;
  margin-top: -@tooltip-triangle-size;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: @tooltip-background;
}


/*
 * Right
 */

.uk-tooltip-right:after {
  left: -@tooltip-triangle-size;
  top: 50%;
  margin-top: -@tooltip-triangle-size;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: @tooltip-background;
}
