// out: null
//
// typography: fontstack selection
//
.fontstack-head() {
  font-family: @firasanslight;
  font-weight: 500;
}
.fontstack-text() {
  font-family: @firasanslight;
  font-weight: 300;
}
.fontstack-bold() {
  font-family: @firasans;
  font-weight: 400;
}
.fontstack-icon() {
  font-family: @jclight;
}
.fontstack-button() {
  .fontstack-text;
}
@heading-letterspacing: .03em;
