//
// Component: Utility
//
// ========================================================================
// Variables
// ========================================================================
@utility-container-padding-horizontal: @global-grid-gutter;
@utility-container-large-padding-horizontal: @global-grid-gutter-large;
@utility-align-horizontal: @global-margin;
@utility-align-vertical: @global-margin;
@utility-margin: @global-margin;
// Override FOR .uk-height-viewport
@utility-height-viewport-min-height: 0;
@utility-heading-large-small-font-size: round((@global-font-size * 2.6)); // 36px / 42px
@utility-heading-large-small-line-height: round((@utility-heading-large-small-font-size * 1.154)); // 42px / 48px
@utility-heading-large-font-size: round((@global-font-size * 3.72)); // 52px / 60px
@utility-heading-large-line-height: round((@utility-heading-large-font-size * 1.23)); // 64px / 74px
@utility-link-muted-color: @global-color;
@utility-link-muted-hover-color: @global-color;
@utility-scrollable-box-border: @global-border;
// Container
// ========================================================================
.hook-container() {}

// Scrollable
// ========================================================================
.hook-scrollable-box() {
  border-radius: 3px;
}

// Miscellaneous
// ========================================================================
.hook-utility-misc() {
  /* Overflow
 ========================================================================== */
  /*
 * Enable scrollbars if content is clipped
 */
  .uk-overflow-container {
    position: relative;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 1rem;
      height: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: @global-border-radius;
      border: 0.3rem solid @background;
      background-color: @divider-text;
    }
  }
}


/*
 * Visibility
 * Avoids setting display to `block` so it works also with `inline-block` and `table`
 */


/* Desktop and bigger */

@media (min-width: @breakpoint-xlarge) {
  .uk-visible-small {
    display: none !important;
  }
  .uk-visible-medium {
    display: none !important;
  }
  .uk-hidden-xlarge {
    display: none !important;
  }
}


/* Desktop and bigger */

@media (min-width: @breakpoint-large) and (max-width: @breakpoint-large-max) {
  .uk-visible-small {
    display: none !important;
  }
  .uk-visible-medium {
    display: none !important;
  }
  .uk-visible-xlarge {
    display: none !important;
  }
  .uk-hidden-large {
    display: none !important;
  }
}


/* Tablets portrait */

@media (min-width: @breakpoint-medium) and (max-width: @breakpoint-medium-max) {
  .uk-visible-small {
    display: none !important;
  }
  .uk-visible-large {
    display: none !important;
  }
  .uk-visible-xlarge {
    display: none !important;
  }
  .uk-hidden-medium {
    display: none !important;
  }
}


/* Phone landscape and smaller*/

@media (max-width: @breakpoint-small-max) {
  .uk-visible-medium {
    display: none !important;
  }
  .uk-visible-large {
    display: none !important;
  }
  .uk-visible-xlarge {
    display: none !important;
  }
  .uk-hidden-small {
    display: none !important;
  }
}
