// out: null
// UIkit jubbr APP OVERRIDES
// dev: Max Plotnikov
//
// Color
//
@text-primary-color: @primary;
@global-color: #444; // FIXME
@global-muted-color: #999; // FIXME
@global-text-shadow: #fff; // FIXME
@global-link-color: @primary;
@global-link-hover-color: @dark-primary;
@global-link-active-color: @light-primary;
@global-link-current-color: @dark-primary;
@global-link-contrast-color: @primary-text;
@global-link-contrast-hover-color: @light-primary;
@global-link-contrast-active-color: @light-primary;
@global-contrast-color: @inverse-text;
@global-contrast-hover-color: @primary;
@global-contrast-text-shadow: -1px 2px 2px @text;
@nestable-item-background: @dialog;
@nestable-panel-background: @dialog;
//
// Typography
//
// set global (on HTML to yield 10px base font size, so may use rem later on
@global-font-size: 62.5%;
@global-line-height: 1;
//
// Backgrounds & Borders
//
@global-background: @background;
@global-border: @divider-text; // FIXME
@global-border-radius: 0.8rem;
@global-default-background: @primary; // FIXME
@global-default-hover-background: @inverse-text; // FIXME
@global-default-active-background: @inverse-text; // FIXME
@global-primary-background: @primary;
@global-success-background: @success;
@global-warning-background: @warn;
@global-danger-background: @error;
//
// Spacings
//
@global-margin: 15px;
@global-margin-large: 25px;
@global-grid-gutter: 15px;
@global-grid-gutter-large: 25px;
//
// Controls
//
@global-height: 30px;
@global-height-large: 40px;
@global-height-small: 25px;
@global-height-mini: 20px;
//
// Z-index
//
@global-z-index: 1;
@hover-z-index: 1000;
//
// General
//
@utility-margin: 15px;
@utility-margin-small: 5px;
@utility-margin-large: 35px;
@utility-container-max-width: 960px;
//
// RESPONSIVE
//
// POLICIES FOR BREAKPOINTS
// - ALL rules for smallest devices (sub-tiny) first
// - ALL breakpoints affect min-... only (NO max-... rules, ever)
// - NO device names / types
// - WIDTH breakpoint rules must include properties affecting width ONLY
// - HEIGHT breakpoint rules must include properties affecting height ONLY
// - LANDSCAPE breakpoints for specific sizes must operate on height ONLY
// - PORTRAIT breakpoints for specific sizes must operate on width ONLY
@breakpoint-tiny: 240px;
@breakpoint-small: 320px;
@breakpoint-medium: 480px;
@breakpoint-large: 768px;
@breakpoint-xlarge: 960px;
@breakpoint-huge: 1280px;

/* NOOOOOO. broken in uikit core... */

@breakpoint-mini-max: (@breakpoint-small - 1);
@breakpoint-small-max: (@breakpoint-medium - 1);
@breakpoint-medium-max: (@breakpoint-large - 1);
@breakpoint-large-max: (@breakpoint-xlarge - 1);

/*
BROKEN
@desktops: ~"only screen and (max-width: 1024px)";
@tablets: ~"only screen and (max-width: 800px)";
@tablets-landscape: ~"only screen and (max-width: @{breakpoint-large-max})";  
@tablets-portrait: ~"only screen and (max-width: @{breakpoint-large})";
@nexus7: ~"only screen and (max-width : 603px) and (orientation: portrait)";
@iphone6-plus: ~"only screen and (min-device-width: 703px) and (max-device-width: 737px) and (orientation: landscape)";
@phones-landscape: ~"only screen and (max-width: @{breakpoint-medium-max}) and (orientation: landscape)";
@phones-portrait: ~"only screen and (max-width: @{breakpoint-medium}) and (orientation: portrait)";
@iphone5: ~"only screen and (min-device-width: 481px) and (max-device-width: 568px) and (orientation: landscape)";
@iphone4-landscape: ~"only screen and (min-device-width : 320px) and (max-device-width: 480px) and (orientation: landscape)";
@breakpoint-size-modal: ~"only screen and (min-width: 480px) and (min-height: 416px)";
@nexus-portrait: ~"only screen and and (min-device-width: 360px) and (max-device-width: 384px) and (orientation: portrait)";
@small-phones: ~"only screen and (max-width: @{breakpoint-small-max})";
*/

// DON'T touch these. Never make them max-...
@height-tiny: ~"only screen and (min-height: @{breakpoint-tiny})";
@height-small: ~"only screen and (min-height: @{breakpoint-small})";
@height-medium: ~"only screen and (min-height: @{breakpoint-medium})";
@height-large: ~"only screen and (min-height: @{breakpoint-large})";
@width-tiny: ~"only screen and (min-width: @{breakpoint-tiny})";
@width-small: ~"only screen and (min-width: @{breakpoint-small})";
@width-medium: ~"only screen and (min-width: @{breakpoint-medium})";
@width-medium-max: ~"only screen and (min-width: @{breakpoint-medium-max})";
@width-large: ~"only screen and (min-width: @{breakpoint-large})";
@width-xlarge: ~"only screen and (min-width: @{breakpoint-xlarge})";
@width-huge: ~"only screen and (min-width: @{breakpoint-huge})";
@landscape: ~"only screen and (orientation: landscape)";
@portrait: ~"only screen and (orientation: portrait)";
@landscape-medium: ~"only screen and (min-width: @{breakpoint-medium}) and (orientation: landscape)";
@portrait-medium: ~"only screen and (min-height: @{breakpoint-medium}) and (orientation: portrait)";
//
// Buttons, Navs & Badges
//
@global-primary-background: @primary;
//
// Spacings
//
// Base
@text-font-size: 1.6rem;
@text-line-height: 2.4rem;
@text-small-font-size: 1.2rem;
@text-small-line-height: 1.4rem;
@ellipsis-line-height: 2.6rem;
//
@base-selection-background: @light-primary;
@base-selection-color: @inverse-text;
@base-link-hover-text-decoration: none;
@base-link-text-decoration: none;
//
// Block
//
@block-primary-background: @primary;
//
// Button
//
@primary-button-border-radius: 2rem;
//
// Dropdown
//
@dropdown-navbar-animation: none;
@dropdown-padding: 0;
@dropdown-background: @appbar;
@dropdown-navbar-background: @appbar;
//
// Form
//
@form-height: 4rem;
@form-padding: 1rem 1.5rem;
@form-focus-border: @light-primary;
@form-focus-background: @dialog;
@form-advanced-checked-color: @primary;
//
// Icon
//
@icon-font-path: "../../../dist/fonts";
//
// Modal
//
@modal-dialog-width: 100%;
@modal-dialog-medium-width: 48rem;
@modal-dialog-large-width: 72em;
@modal-dialog-large-width-large: 72rem;
@modal-dialog-background: @background; // @dialog;
@modal-background: @veil-primary;
@modal-dialog-padding-top: 3rem;
@modal-dialog-padding: 3rem;
//
// Nav
//
@nav-offcanvas-padding-vertical: 15px;
@nav-navbar-hover-background: @background;
@nav-navbar-hover-color: @primary-text;
@nav-navbar-color: @primary-text;
@nav-offcanvas-hover-background: @inverse-background;
@nav-offcanvas-active-background: @inverse-dialog;
@nav-offcanvas-divider-border: @inverse-divider-text;
@offcanvas-background: transparent;
//
// Navbar
//
@navbar-background: @appbar;
@navbar-nav-hover-background: @background;
@navbar-nav-active-background: @background;
@navbar-height: 7rem;
//
// Offcanvas
//
@offcanvas-background: @inverse-statusbar;
@offcanvas-bar-background: @inverse-appbar;
@offcanvas-panel-color: @inverse-appbar;
@offcanvas-bar-width: 80%;
@offcanvas-panel-link-color: @inverse-primary-text;
@offcanvas-panel-margin: 20px 0px;
//
// Utility
//
@utility-border-rounded: 8px;
@utility-container-max-width: 1080px;
@utility-container-large-max-width: 1080px;
//
//  ACCORDION
//
@accordion-title-margin-bottom: .5rem;
@accordion-title-padding-vertical: 1rem;
@accordion-title-font-size: 2rem;
@accordion-title-line-height: 2rem;
