.uploader input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  height: 250px;
  width: 300px;
  -webkit-justify-content: center;
  justify-content: center;
  outline: 2px dashed #ccc;
  outline-offset: 5px;
  position: relative;
}

.uploader img,
.uploader .icon {
  pointer-events: none;
}

.uploader,
.uploader .icon {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}

.uploader img {
  opacity: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 45px;
  left: 70px;
/*  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;*/
/*  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  z-index: -1;
}

.uploader img.loaded {
  opacity: 1;
  width: 160px;
  height: 160px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  z-index: 7;
}
.avatarChangeButton{
  margin: 15px 0;
  margin-left: 80px;
  text-align: center;
}
.imageWasLoaded{
  width: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
}

