.dayViewTitle{
  white-space: nowrap;
  margin-top: 25px;
}
.dayViewTitle h2{
  @media (max-width: 1000px) {
    font-size: 2.5rem;
  }
  @media (max-width: 480px) {
    font-size: 2.8rem;
  }
}
.titleDate{
  color: black;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.titleNote{
  background: #07a0e1;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  width: 200px;
  //cursor:pointer;
}

.dayViewLeft{
  width:20%;
  float: left;
}
.dayViewRight {
  width: 80%;
  float: left;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.18);
  position: relative;
  top:0;
}
.dateBlock{
  margin: 0;
  float: left;
  padding-bottom: 2px;
}
.overflowBlock{
  overflow: hidden;
}
.dayTemp{
  font-weight: 600;
  font-size: 1.35rem;
  width:36px!important;/*3.82rem!important;*/
  font-family: 'jclight', 'HelveticaNeue-Light', 'Helvetica Neue Light', sans-serif;
  box-sizing: border-box;
  border-left: 0.1rem solid rgba(0, 0, 0, 0.18);
  background: #fafafa;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  bottom: 2px;
  &.activeHourPosition{
    background: rgba(216, 216, 216, 0.37);
  }
  &.activeHourUnit{
    background: rgba(216, 216, 216, 0.91);
  }
}
.dayTempLeft{
  border-right: 0.1rem solid rgba(0, 0, 0, 0.18);
}
.day{
  text-align: center;
  margin-top: -1px;
}
.st{
  position:fixed;
  top:120px;
  z-index:10;
  width: 1080px;
}
.dayViewUniName{
  border-right: 0.1rem solid rgba(0, 0, 0, 0.18);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}
.dayPositionsName{
  float: left;
  border-right: 0.1rem solid rgba(0, 0, 0, 0.18);
  position: relative;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  &:hover{
    overflow: inherit;
  }
  &:hover .showToolTip{
    display: block;
    -webkit-transition: background 1.5s;
  }
}
.dayBubbles{
  float: right;
  position:absolute;
  top:13px;
  right:5px;
}
.positionsBubbles{


}
.dayViewTotalHour{
  position: relative;
  bottom: -12px;
  font-size: 1.4rem;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  //overflow: hidden;
  z-index: 8;
}

 .schedule-row.group.collapsed.staffDay{
  background: white;
  border-bottom:none!important;
  height: 6rem!important;
}
 .staffDay{
   height: 6rem!important;
   border-bottom: 0.1rem solid rgba(0, 0, 0, 0.18);

   .dayViewLeft, .dayViewRight{
     height: 6rem!important;
     line-height: 5.5rem!important;
   }
   .dayTemp{
     background: white!important;
     height: 6.5rem;
   }
 }
 .dayStaff{
   position: relative;
   top:0;
 }
.dayStaffInfo{
  float: left;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 6rem;
  height: 6rem;
  padding-top: 15px ;
  font-size: 1.5rem;
  .dayStaffName{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    height: 15px;
    line-height: 15px;
  }
  .dayStaffDetail{
    margin-top: 5px;
    font-size: 13px!important;
    display: block;
    height: 15px;
    line-height: 15px;
  }
}
.dayStaffBubbles{
  position: absolute;
  top:15px;
  right: 5px;
  span{
    width:50%;
    height:50%;
  }
}
.timeLineBlock{
  position: absolute;
  top: 1.1rem;
  height: 3.5rem;
  line-height: 5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  background: white;
  border: 0.2rem dashed #07a0e1;
  cursor: pointer;
  z-index:8;
  .infoIcon{
    position: absolute;
    right:2%;
    bottom: 0;
  }
  span{
    position: relative;
    bottom: 8px;
    top: -8px;
  }
  &.timeBLockInherit:hover{
    overflow: inherit;
  }
}
.backgroundBlock{
  height: 3.5rem;
  width: 100%;
  background:white;
  position: absolute;
  top: 11px;
}
.published{
  //background: #c6c6c6;
  //border: 0.1rem solid rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(7, 160, 225, 0.75);
  border: .1rem solid rgba(0,0,0,0.2);
  color: white;
}
.cutTimeLineBlock{
  //border-right: 3px dashed rgba(0, 0, 0, 0.5) !important;
  border-right: none;
}
.dayStaffToolTip{
  display: none;
  position: absolute;
  left: -2px;
  top: 13px;
  z-index: 9;
  height: 25px;
  padding:  0 2px;
  line-height: 25px;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8);
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.8);
  box-shadow: 0 0 2px rgba(0,0,0,.8);
  -webkit-transition: background 1.5s;
}
/*.prevTimeBox{
  &.timeLineBlock{
    border: 0.23rem dashed #0075a7;
  }
  &.published{
    background: #0075a7;
  }
}
.nextTimeBox{
  &.timeLineBlock{
    border: 0.23rem dashed #0075a7;
  }
  &.published{
    background: #0075a7;
  }
}*/
.pastBox{
  background-color: #eee!important;
  border: none!important;
  color: #888!important;
}

.timeLineBlock:hover .timeLineToolTipWrap{
  //display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 15px;
  z-index: 8;
  .timeLineToolTip{
    background: white;
    color: black;
    padding: 0 10px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8);
    box-shadow: 0 0 2px rgba(0,0,0,.8);
    span{
      top: 0;
    }
  }
}
.dayViewScroll{
  @media (max-width: 1080px) {
    overflow: hidden;
    overflow-x: scroll;
  }
}
.dayToggleButtonWrap{
  margit-top: 20px;
}
.publishButtonStyle{
  position: absolute;
  right: 0;
  top: -50px;
  @media (max-width:480px) {
    top: -70px;
  }
}
.datViewInfoToolTip{
  display: none;
  position:absolute;
  top:0;
  right: 3rem;
  background: rgba(7, 160, 225, 1);
  color: white;
  padding-left: 4px;
  height: 25px;
  text-align: right;
  //border: 1px solid #c3c3c3;
  box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.2);
  white-space:  nowrap;
  -webkit-border-radius:3px;
  border-radius:3px;
  span{
    position: relative;
    top: -13px;
    margin: 0 5px;
    font-size: 1.4rem;
  }
  &:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 6px;
    border-style: solid;
    border-width: 6px 0 7.5px 7px;
    border-color: transparent transparent transparent rgba(7, 160, 225, 1);
    line-height: 0;
    _border-color: #000000 #000000 #000000 rgba(7, 160, 225, 1);
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='rgba(7, 160, 225, 1)');
  }
}
.published .datViewInfoToolTip{
  background: white;
  color: #000;
  &:after{
    border-color: transparent transparent transparent white;
  }
}
.infoIcon:hover ~ .datViewInfoToolTip,
.datViewInfoToolTip:hover{
  display: block;
}
.pastBox{
  .infoIcon:hover ~ .datViewInfoToolTip,
  .datViewInfoToolTip:hover{
    display: none;
  }
}
.jobberTotalHours{
  height:10px;
  line-height: 10px;
}
.custom-notification{
  clear: both;
  position: absolute;
  right: 10px;
  top: 20px;
  background: #07a0e1;
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2rem;
  color: white
}
