// out: null
// CUSTOM STYLES FOR ANONYMOUS
// dev: Max Plotnikov
@custom-header-height: 7rem;
@active-triangle: 2rem;
@custom-sticky-header-height: 5rem;
//
// HEADER
//
//body div.uk-sticky-placeholder,
//body div.uk-sticky-placeholder {
//  position: relative;
//  float: none;
//  width: 100%;
//}

body  header,
body > div.uk-sticky-placeholder > header,
body > div > header,
body > div > div.uk-sticky-placeholder > header // for sticky wrapper
{
  position: relative;
  width: 100%;
  min-height: @custom-header-height;
  height: @custom-header-height;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 25;
  box-shadow: 0 1px 3px 0 @divider-text, 0 1px 3px 0 @divider-text;
  // default header has @background background and standard links
  background: @background;
  //
  // Custom navbar in header
  //
  .uk-navbar,
  .uk-navbar-brand,
  .uk-navbar-toggle,
  .uk-navbar-content,
  .uk-navbar li a {
    height: @custom-header-height;
    line-height: @custom-header-height;
    background: transparent;
  }
  .uk-navbar-content {
    padding: 0;
    .release-info {
      .release-badge {
        .fontstack-bold;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        padding: 2rem 0.8rem;
        font-size: 1.4rem;
        line-height: 1.5rem;
        margin-right: 1rem;
      }
    }
    .uk-navbar-toggle {
      margin-top: -0.4rem;
    }
    .uk-button {
      max-width: 12rem;
      margin-top: 1.8rem;
    }
    li {
      margin: 0 0.4rem;
      &.uk-parent {
        padding-right: 0.8rem;
        @media @width-medium {
          padding-right: 1rem;
        }
        a {
          &:after {
            .fontstack-icon;
            content: "\2304";
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0.3rem;
            font-size: 1rem;
            @media @width-medium {
              right: 0rem;
            }
          }
        }
      }
      a {
        text-decoration: none!important;
        padding: 0;
        @media @width-medium {
          padding: 0 0.5rem;
        }
        > span {
          height: @custom-header-height;
          line-height: @custom-header-height;
          color: @inverse-text;
          &:hover,
          &:focus {
            color: @light-primary;
          }
          &.profile-image {
            display: block;
            width: 40px;
            height: 40px;
            .vertical-center;
            img {
              display: block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }
        }
      }
      .uk-dropdown-navbar {
        box-shadow: -1px 2px 4px 0 @divider-text, 0 1px 3px 0 @divider-text;
        .uk-nav {
          li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            margin: 0;
            a,
            p {
              color: @primary-text!important;
              font-size: @text-font-size;
              height: initial;
              line-height: initial;
              margin: 0;
              padding: 1rem 1.5rem;
              @media @width-large {
                padding: 0.8rem 1.5rem;
              }
              &:after {
                content: "";
              }
              &.head-user-name {
                max-width: 23rem;
              }
              ;
              i {
                padding-right: 1rem;
                color: @primary;
              }
              span {
                height: initial;
                line-height: initial;
                color: @primary-text!important;
              }
            }
          }
        }
      }
    }
  }
  .uk-navbar-flip li a {
    color: @inverse-text;
  }
  .uk-navbar {
    .uk-navbar-toggle {
      font-size: 2.8rem;
      padding: 0 1rem;
      @media @width-large {
        padding: 0 1rem;
      }
    }
    position: relative;
    // override global nav-bar background setting
    background: none;
    // override global nav-bar shadow setting
    box-shadow: none;
    li a {
      padding: 0 0.3rem;
      margin: 0;
      @media @width-large {
        padding: 0 0.7rem;
      }
      &.logout {
        padding: 0;
      }
      i {
        color: @inverse-text;
        padding: 0 0.5rem;
        &:hover,
        &:focus {
          color: @light-primary;
        }
      }
    }
    // narrow the brand a bit
    // TODO: replace with SVG logo
    .uk-navbar-brand {
      .fontstack-icon;
      position: relative;
      letter-spacing: -0.041em;
      font-size: 3.2rem;
      padding: 0;
      margin: 0 0.5rem 0 1rem;
      color: transparent;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        path {
          fill: @primary;
        }
      }
      @media @width-small {
        margin: 0 0.5rem 0 1.5rem;
      }
      @media @width-medium {
        margin: 0 2rem;
        font-size: 4rem;
      }
      @media @width-xlarge {
        font-size: 4rem;
      }
      @media @width-huge {
        margin-left: 0;
      }
      &:hover {
        background: transparent;
        svg path {
          fill: @light-primary;
        }
      }
    }
    li > a:hover {
      background: transparent;
      color: @light-primary;
    }
    li.uk-active a {
      background: transparent;
      color: @primary!important;
    }
    .newsbadge {
      position: absolute;
      top: -1.5rem;
      right: -0.4rem;
    }
    .dropdown.has-current-link a,
    .dropdown.has-current-link.open .dropdown-toggle,
    .dropdown.has-current-link.open .dropdown-toggle:hover {
      border-bottom: 3px solid @inverse-text;
    }
    .uk-dropdown-navbar>ul.uk-nav>li>a {
      border: 0 none;
      &.current {
        background: @light-divider-text;
      }
    }
  }
  &:not(.header-sticky) .uk-navbar {
    li.uk-active {
      position: relative;
      a {
        color: @inverse-text;
        text-decoration: none;
        padding: 0 1rem;
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          /*cf. https://css-tricks.com/snippets/css/css-triangle/*/
          background: transparent;
          border-left: @active-triangle solid transparent;
          border-right: @active-triangle solid transparent;
          border-top: @active-triangle solid @background;
          margin-left: -0.5 * @active-triangle;
          top: 99%; // solid overlap without gap
          left: 23%;
          @media @width-small {
            left: 33%;
          }
        }
      }
    }
    li:nth-child(4) a {
      &:after {
        border: none;
      }
    }
  }
  // uk-contrast header has
  // - @primary background
  // - contrast text brand
  // - contrast text links
  // - contrast buttons
  &.uk-contrast {
    color: @inverse-text;
    background: @primary;
    .uk-navbar {
      a,
      .uk-navbar-toggle {
        color: @inverse-text;
        &:hover,
        &:focus {
          color: @light-primary;
        }
      }
      .uk-navbar-brand {
        color: transparent;
        svg path {
          fill: @inverse-text;
        }
        &:hover,
        &:focus {
          color: transparent;
          svg path {
            fill: @light-primary;
          }
        }
      }
    }
  }
  &.header-sticky {
    min-height: @custom-sticky-header-height;
    height: @custom-sticky-header-height;
    line-height: @custom-sticky-header-height;
    .uk-navbar,
    .uk-navbar-brand,
    .uk-navbar-toggle,
    .uk-navbar-content,
    .uk-navbar li a {
      height: @custom-sticky-header-height;
      line-height: @custom-sticky-header-height;
    }
    .uk-button {
      margin-top: 1rem;
    }
    .uk-navbar-brand,
    .uk-navbar-toggle {
      font-size: 0.625 * @custom-sticky-header-height;
    }
    .uk-navbar-toggle {
      margin-top: -0.2rem;
    }
  }
  // transparent header has
  // - contrast text brand
  // - contrast text links
  // - default buttons
  // if in sticky mode, reverts to normal style
  // FIXME: no jc- prefixed classes in CSS
  // (used for data-binding)
  &.jc-transparent:not(.header-sticky) {
    background: none;
    box-shadow: none;
    .uk-navbar {
      .uk-navbar-nav > li > a {
        color: @inverse-primary-text;
        padding: 0 1rem;
        //&:hover {
        //  color: @light-primary!important;
        //}
      }

      .uk-navbar-brand {
        svg path {
          fill: @inverse-primary-text;
        }
        &:hover {
          svg path {
            fill: @inverse-primary-text!important;
          }
        }
      }
      .uk-navbar-toggle {
        color: @primary;
        @media @portrait-medium {
          color: @inverse-text;
        }
        @media @landscape-medium {
          color: @primary;
        }
      }
    }
  }
}

body div.uk-sticky-placeholder > #mainnav,
body #mainnav {
  height: 5rem;
  z-index: 24;
  > * {
    height: 5rem;
  }
  .uk-button {
    color: @inverse-text;
    &:hover,
    &:focus,
    &:active {
      color: @light-primary;
    }
    &:disabled {
      color: @disabled-text;
    }
    margin: 0 0.5rem;
    @media @width-large {
      margin: 0 1rem;
    }
    @media @width-huge {
      margin: 0;
    }
  }
}

.trial-badge {
  margin: -.3rem 0 0 0;
  font-size: inherit;
  line-height: inherit;
  padding: 0.4rem;
}

.trial-count {
  font-size: 88%;
  line-height: 123%;
  @media @width-small {
    text-transform: lowercase;
  }
  @media @width-xlarge {
    text-transform: uppercase;
  }
}

html[lang=de] .lang.de,
html[lang=en] .lang.en
{
  display: none;
}

// EOF header.less
