// out: null
// font-replaced utf-8 icons
.icon {
  // TODO: the main font (jclight/jcregular) really is "Myriad Pro"
  // check if it is better to load that from CDN and replace
  // UIKit icon font with customized / sanitized semantically correct
  // and stripped down version
  .fontstack-icon;
  position: relative; // for background/foreground overlay
}

.icon:before, // top layer
.icon:after, // background layer
.uk-form-icon:before {
  .fontstack-icon;
  position: relative;
  font-size: 100%;
  z-index: 2;
  display: inline-block;
}

.icon:after {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon:before {
  color: @accent;
}

.icon:hover:before {
  color: @light-primary;
}

.icon.error:before {
  color: @error;
}

.icon.small:before {
  font-size: 80%;
}

.icon.large:before {
  font-size: 120%;
}

.icon.arrow-up:before {
  content: "\2303";
}

.icon.arrow-right:before {
  content: "\232A";
  text-align: right;
}

.icon.arrow-down:before {
  content: "\2304";
  text-align: center;
}

.icon.arrow-left:before {
  content: "\2329";
}

.icon.hook-up:before {
  content: "\25B2";
}

.icon.hook-right:before {
  content: "\25B6";
}

.icon.hook-down:before {
  content: "\25BC";
}

.icon.hook-left:before {
  content: "\25C0";
}

.icon.checkmark:before {
  content: "\2713";
}

.icon.checkmark.circle:before {
  content: "\2714";
}

.icon.checkmark.circle.inverse:before,
.icon.checkmark.circle:after {
  content: "\2705";
}

.icon.screamer.circle:before {
  content: "\203C";
}

.icon.screamer.circle.inverse:before {
  content: "\2755";
}

.icon.edit:before {
  content: "\270F";
}

.icon.timer.circle:before {
  content: "\23F0";
}

.icon.timer.circle.inverse:before {
  content: "\23F2";
}

.icon.plus:before {
  content: "\002B";
}
.icon.plus2:before {
  content: "\002A";
}

.icon.rename:before {
  content: "\002A";
}

.icon.plus.circle:before {
  content: "\2295";
}

.icon.plus.circle.inverse:before {
  content: "\2795";
}

.icon.minus:before {
  content: "\2212";
}

.icon.minus.circle:before {
  content: "\2296";
}

.icon.minus.circle.inverse:before {
  content: "2796";
}

.icon.close:before {
  content: "\2717";
}

.icon.close.circle:before {
  content: "\2718";
}

.icon.close.circle.inverse:before {
  content: "\274C";
}

.icon.menu:before {
  content: "\2261";
}

.icon.circle:before {
  content: "\25CB";
}

.icon.quarter.circle:before {
  content: "\25D4";
}

.icon.half.circle:before {
  content: "\25D1";
}

.icon.threequarter.circle:before {
  content: "\25D5";
}

.icon.full.circle:before {
  content: "\25CF";
}

.icon.last.threequarter.circle:before {
  content: "\25F7";
}

.icon.last.half.circle:before {
  content: "\25D0";
}

.icon.last.quarter.circle:before {
  content: "\25F4";
}

.icon.checkbox:before {
  content: "\2610";
}

.icon.checkbox.full:before {
  content: "\25a0";
}

.icon.checkbox.check:before {
  content: "\2611";
}

.icon.checkbox.check.inverse:before {
  content: "\E4C4";
}

.icon.checkbox.cross:before {
  content: "\2612";
}

.icon.checkbox.cross.inverse:before {
  content: "\E4C3";
}

.icon.phone:before {
  content: '\260F';
} // white phone
.icon.phone.inverse:before {
  content: '\260E';
} // black phone
.icon.envelope:before {
  content: '\2709';
}

.icon.magnify.left:before {
  content: '\1F50D';
}

.icon.magnify.right:before {
  content: '\1F50E';
}

.icon.block:before {
  content: '\2588';
}

.icon.threequarter.block:before {
  content: '\2586';
}

.icon.half.block:before {
  content: '\2584';
}

.icon.quarter.block:before {
  content: '\2582';
}

.icon.trash:before {
  content: '\1F6AE';
}

.icon.company:before {
  content: "\2588";
}

.icon.group:before {
  content: "\2586";
}

.icon.unit:before {
  content: "\2584";
}

.icon.position:before {
  content: "\2582";
}

.icon.search:before {
  content: '\1F50D';
}
