// out: null
// settings for imagery
.gradient {
  .gradient(@background, @background, @appbar);
}

.scrim() {
  text-shadow: 0 0 .8rem @veil-primary;
}
.contrast-scrim() {
  text-shadow: 0 0 .8rem @inverse-veil;
}

.scrim {
  .scrim();
}

.uk-contrast .scrim,
.scrim .uk-contrast,
.scrim.uk-contrast
{
  .contrast-scrim();
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}