// out: null
// FIXME: invert/clean breakpoint logic
@tablets-landscape: ~"only screen and (max-width: @{breakpoint-large-max})";
@tablets-portrait: ~"only screen and (max-width: @{breakpoint-large})";
@phones-landscape: ~"only screen and (max-width: @{breakpoint-medium-max}) and (orientation: landscape)";
//
@node-height: 4rem;
.account-tree {
  width: 100%;
  float: left;
  overflow: hidden;
}

.account .table-heading {
  background: @background;
  z-index: 5;
  @media @phones-portrait {
    font-size: 1.2rem;
  }
}

.account-tree i {
  font-style: normal;
}

.trash .account-tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account-tree li {
  margin: 0;
  padding: 0;
}

.account-tree li .action {
  .fontstack-text;
  color: @accent;
  display: inline-block;
  float: left;
  @media @width-medium {
    display: inline-block;
    float: right;
  }
}

.account-tree li .icon:hover:before {
  color: @dark-primary;
}

.account-tree li[aria-selected="true"] > .action.icon {
  display: inline-block;
}

.account-tree li {
  .fontstack-text;
  .action.icon.trash,
  .action.icon.plus {
    position: static!important;
    margin-top: 0;
    padding-right: 1rem;
    @media @width-medium {
      line-height: @node-height;
      height: @node-height;
    }
    &:before {
      @media @width-medium {
        padding-top: 0;
      }
    }
  }
}

.account-tree li .action.icon:before {
  font-size: 2.8rem;
  cursor: pointer;
  line-height: 3rem;
  @media @height-medium {
    line-height: @node-height;
  }
}

form.account {
  .toggle {
    line-height: 2.4rem;
    /*height: 3rem;*/
    input.switch:empty + label::before,
    input.switch:empty + label::after,
    input.switch:checked + label::after {
      margin-top: 0.3rem;
    }
  }
  .shiftrow {
    border: 0;
    > div {
      .fontstack-text;
      display: block;
      min-height: @node-height*0.85;
      line-height: @node-height*0.85;
      text-align: left;
      vertical-align: top;
      cursor: default;
      color: @text;
      vertical-align: top;
      font-size: 1.2rem;
      @media @width-large {
        font-size: 1.4rem;
        min-height: @node-height;
        line-height: @node-height;
      }
      > span {
        height: @node-height;
        line-height: @node-height;
        vertical-align: middle;
        font {
          @media @phones-portrait {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
    label {
      margin-left: 0;
      vertical-align: middle;
      display: block;
      @media @width-medium {
        display: inline-block;
      }
      @media @width-large {
        display: block;
      }
      @media @width-xlarge {
        display: inline-block;
      }
    }
    input[type="checkbox"] ~ span {
      padding-left: 0;
    }
  }
  .jstree-default .jstree-anchor {
    @media @tablets-portrait {
      line-height: @node-height;
      height: @node-height;
      margin-bottom: 4rem;
    }
    @media @phones-landscape {
      line-height: @node-height;
      height: @node-height;
      margin-bottom: 4rem;
    }
    @media @phones-portrait {
      line-height: @node-height;
      height: @node-height;
      margin-bottom: 0;
    }
  }
  .jstree-default .jstree-icon {
    @media @tablets-portrait {
      line-height: @node-height;
      height: @node-height;
      margin-bottom: 4rem;
    }
    @media @phones-landscape {
      line-height: @node-height;
      height: @node-height;
    }
    @media @phones-portrait {
      line-height: @node-height;
      height: @node-height;
    }
  }
  .jstree-default .jstree-icon:empty {
    @media @tablets-portrait {
      line-height: @node-height;
      height: @node-height;
      margin-bottom: 4rem;
    }
    @media @phones-landscape {
      line-height: 4.6rem;
      height: 4.6rem;
      margin-bottom: 0;
    }
    @media @phones-portrait {
      line-height: 4.6rem;
      height: 4.6rem;
      margin-bottom: 0;
      width: 2rem;
    }
  }
  .jstree-default .jstree-wholerow {
    @media @tablets-portrait {
      min-height: 8rem;
      line-height: 8rem;
    }
    @media @phones-portrait {
      min-height: 10rem;
      line-height: 10rem;
    }
    > div {
      @media @phones-portrait {
        margin-top: 3rem;
      }
    }
  }
}

form.account .shiftrow .from,
form.account .shiftrow .to {
  cursor: pointer;
}

form.account .shiftrow .from:hover,
form.account .shiftrow .to:hover {
  color: @highlight-color;
}

form.account .shiftrow.inherit .shifts,
form.account .shiftrow.inherit .from,
form.account .shiftrow.inherit .from:hover,
form.account .shiftrow.inherit .to,
form.account .shiftrow.inherit .to:hover {
  color: @disabled-text;
  cursor: default;
}


