// out: null
body:not(.user-manager) .manager {
  display: none;
}

body.anonymous > .user {
  display: none;
}

body.user-jobber .anonymous,
body.user-manager .anonymous {
  display: none;
}

// location hash content access
.uk-switcher > li:target {
  display: list-item;
}

// LAYOUT
// FIXME: no jc- prefixed classes in CSS
// (used for data-binding)
.jc-heading {
  background: none;
  bottom: 10rem;
  left: 0;
  position: absolute;
  right: auto;
  top: auto;
  width: 100%;
  margin: 0;
  bottom: 25%;
  @media @width-medium {
    bottom: 35%;
  }
  @media @landscape {
    width: 60%;
    right: 0;
    left: auto;
  }
  @media @width-large {
    bottom: 12rem;
  }
  @media @width-large {
    width: 100%;
    h2 {
      margin-top: 0;
    }
  }
  h1,
  h2,
  h2 a {
    color: @primary;
    padding: 0 2rem;
    @media @width-medium {
      padding: 0;
    }
    @media @width-large {
      // NOTE: changing color for size is an absolute exception and considered basically broken
      color: @background;
    }
  }
  h2 a:hover {
    color: @light-primary;
  }
  h1 {
    font-size: 2.1rem;
    line-height: 2.8rem;
    @media @landscape {
      font-size: 1.8rem;
    }
    @media @width-large {
      font-size: 3.6rem;
      line-height: 1.2;
    }
  }
}

.bg-anonymous {
  position: relative;
  margin-top: -7rem; // under header
  width: 100%;
  height: 100vh;
  background: no-repeat;
  &::before {
    display: block;
    content: ' ';
    background: #0f0;
    background: no-repeat;
    background-image: url(../images/welcome-w320.jpg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 40%;
    background-image: url(../images/welcome-w450.jpg);
    @media @landscape {
      right: auto;
      bottom: 0;
      width: 40%;
      height: auto;
      background-position: 30% 0;
      background-size: auto 100%;
    }
    @media @width-large {
      display: none;
    }
  }
  @media @width-large {
    background-size: cover;
    background-position: 0 25%;
    background-image: url(../images/welcome-h768.jpg);
  }
  @media @width-huge {
    background-image: url(../images/welcome-w1920.jpg);
  }
  @media @width-large {
    .contrast-scrim();
    max-height: 768px;
    padding-left: 0;
  }
  @media @width-huge {
    max-height: 1280px;
  }
  .h3 {
    font-size: 2.4rem;
    line-height: 0.8rem;
  }
  .anonymous-form {
    bottom: 5rem;
    left: 0;
    position: absolute;
    right: auto;
    top: auto;
    input,
    button {
      display: inline;
    }
    input {
      background: @dialog;
      color: @primary-text;
      padding-left: 1rem;
      :focus {
        background-color: @background;
        color: @primary-text;
        outline: none;
      }
    }
    input.missing {
      border: 1px solid @warn;
    }
  }
  .down-btn {
    @media @width-large {
      &:before {
        font-weight: 700; // FIXME: exception for bold down arrow
      }
      color: @background;
      .contrast-scrim();
    }
  }
}

.phone-teaser {
  background: @background;
  position: absolute;
  bottom: 8rem;
  width: 100%;
  @media @landscape {
    width: 60%;
    left: 40%;
  }
  @media @width-large {
    width: 100%;
    left: 0;
  }
  &.inform {
    bottom: 8%;
    @media @width-medium {
      bottom: 10%;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
}

// STATIC LAYOUT
.uk-switcher {
  width: 100%;
}

.appbarbox {
  background: @appbar;
  left: 0;
  z-index: 8;
}

.new-form {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  .pricing {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0;
    @media @height-medium {
      padding-top: 6rem;
    }
  }
  .static-form {
    margin-right: auto;
    margin-left: auto;
    max-width: 108rem;
    padding: 0 2rem;
    .informer {
      line-height: 2.2rem;
    }
    input,
    button {
      display: inline;
      font-size: 1.6rem;
      margin-bottom: 1rem!important;
    }
    input {
      background: @background;
    }
  }
}

.narrow {
  max-width: 72rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  @media @width-medium {
    padding: 0;
  }
}
