// FIXME: no jc- prefixed classes in CSS
// (used for data-binding)
#holiday-table .jc-date-from:after {
  content: '\2013';
}
.staff-vacations .jc-date-from:after {
  content: '\2013';
}
#add-vacation {
	display: block;
	margin-top: 1rem;
}

.availability input.switch:empty + label {
  margin-bottom: 1rem;
}

/// view:availability 
/* TODO: check / refactor
.availability thead td,
.availability th.day {
  width: 3rem;
}

.availability thead th {
  font-size: 14px;
  text-align: left;
  width: 200px;
  height: 60px;
}

.availability thead td {
  width: 40px;
}

.availability tbody tr {
  height: 80px;
  border-top: 1px solid @divider-text;
}

.availability tbody td {
  padding-top: 10px;
}

.availability th.day {
  width: auto;
  font-size: 1.4rem;
  padding-top: 1.8rem;
  padding-right: 1.5rem;
  text-align: left;
}

.availability th.day * {
  display: inline-block;
  vertical-align: top;
}

.availability label + a {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 3rem;
  height: 3rem;
  text-decoration: none;
  color: @primary;
}

.availability switch-table p {
  font-size: 1.4rem;
}

.availability p.day {
  .fontstack-head;
  padding-top: 1.8rem;
  padding-right: 1.5rem;
  display: inline-block;
  vertical-align: top;
}
// view:availdetail

.availdetail .modal-inner {
  min-width: 0;
}

.availdetail .modal-content {
  padding-top: 0;
}
*/
