// foo
// FIXME: cleanup breakpoints, cleanup nestable
.controlling {
  .cols {
    height: 130px;
    @media @width-medium {
      height: 60px;
    }
    @media @width-large {
      height: 130px;
    }
  }
  h1 {
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    @media @width-large {
      text-align: left;
    }
  }
  .controlling-stat {
    width: 95%;
    @media @width-medium {
      width: 100%;
    }
    @media @width-large {
      width: 80%;
    }
    ul {
      list-style: none;
      margin: 0;
      text-align: right;
      padding: 0;
      li {
        width: 100%;
        margin-bottom: 10px;
        text-align: right;
        &:last-child {
          margin-bottom: 0px;
        }
        .badge {
          .fontstack-text;
          display: inline-block;
          color: white;
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
          text-align: center;
          vertical-align: middle;
          border-radius: 2rem;
          background: @accent;
          &.large {
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
            border-radius: 2.5rem;
            font-size: @text-font-size;
          }
        }
        .warn .badge,
        .badge.warn {
          background: @warn;
        }
        .error .badge,
        .badge.error {
          background: @error;
        }
      }
    }
  }
  .controllingview {
    margin-top: 1.5rem;
    @media @width-large {
      margin-top: 1rem;
    }
  }
}

#controlling-grid {
  // FIX FOR STICKY HEADER
  // NEED TO BE HARDCODED BECAUSE Uikit grid is ignored by JS
  .uk-sticky-placeholder:nth-child(1) {
    width: 60%;
    @media @width-medium {
      width: 30%;
    }
  }
  .uk-sticky-placeholder:nth-child(2) {
    width: 40%;
    @media @width-medium {
      width: 70%;
    }
  }
  .dayhead.gridleft,
  .dayhead.gridleft.uk-active,
  .dayhead.gridright,
  .dayhead.gridright.uk-active {
    width: 100%;
    z-index: 23;
    top: 12rem - @calweek-desk-border !important;
  }
  //
  .uk-overflow-container {
    position: initial;
  }
  /*Harmonize fonts with #schedule*/
  .uk-nestable {
    min-width: 740px;
    font-size: 0.75*@text-font-size;
    @media @width-large {
      font-size: 0.875*@text-font-size;
    }
    // FIX FOR TABLE HEADER
    .uk-sticky-placeholder:nth-child(1) {
      width: 100%;
    }
    // NESTABLES PADDING LEFT REMOVE
    .uk-nestable-panel {
      box-shadow: none;
      > .uk-grid {
        padding-left: 0;
      }
    }
    // COMMON STYLES
    .uk-sticky-placeholder {
      height: auto!important;
    }
    .b-r {
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      white-space: nowrap;
    }
    .b-b {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
  .uk-nestable-item.uk-parent {
    .grid-second {
      width: 100%;
      height: 2rem;
      line-height: 2rem;
    }
    .uk-nestable-list {
      background-color: @background!important;
      > .uk-nestable-panel {
        background-color: @background!important;
      }
    }
  }
  .uk-nestable-toggle {
    z-index: 3;
  }
  .uk-nestable-panel {
    background: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    &.uk-active {
      z-index: 10!important;
    }
  }
  /*
    CUSTOM-STYLES
  */
  .heading-panel,
  .uk-nestable-panel.heading-panel {
    max-height: 2rem;
    min-height: 2rem;
    line-height: 2rem;
  }
  .main-heading {
    height: 5rem;
    line-height: 5rem;
    .nestable-body {
      .fontstack-head;
      vertical-align: middle;
      height: 5rem;
      line-height: 5rem;
      > div {
        height: 5rem;
        line-height: 5rem;
      }
    }
    .colhead.main {
      z-index: 3;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding-left: 0;
      text-align: center;
    }
    .double-line {
      line-height: 2.4rem;
    }
  }
  .unit-name {
    padding-left: 1.5rem;
  }
  .colhead {
    position: absolute;
    top: auto;
    left: 0;
    background: #f5f5f5;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 2rem;
    @media @width-large {
      padding-left: 3rem;
    }
  }
  .head-inner {
    padding-left: 3rem;
    @media @width-large {
      padding-left: 6rem;
    }
  }
  .colhead-toggle {
    position: absolute;
    left: 0;
  }
  .toggle-inner {
    left: 1.5rem;
    @media @width-large {
      left: 3.5rem;
    }
  }
  .colhead,
  .user-table .name {
    width: 11rem;
    @media @width-medium {
      width: 15rem;
    }
    @media @width-large {
      width: 20%;
    }
  }
  .grid-table,
  .grid-table-inner,
  .grid-table-user {
    margin-left: 11rem;
    width: 85%;
    @media @width-medium {
      margin-left: 15rem;
      width: 80%;
    }
    @media @width-large {
      margin-left: 20%;
    }
    .uk-badge {
      float: none;
      margin-left: 0;
    }
    > span {
      line-height: 2.7rem;
    }
  }
  .user-table {
    background: #fff;
    border: 0 none;
    min-height: 2rem;
    line-height: 2rem;
    padding-top: 0.5rem;
    @media @width-large {
      border: 0 none;
    }
    .name {
      padding-right: 1.5rem;
      text-align: right;
      position: absolute;
      line-height: 3.3rem;
      background: @background;
      z-index: 4;
      border-bottom: 1px solid @background;
      border-top: 1px solid @background;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    .grid-table-user {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      .b-r {
        line-height: 3.3rem!important;
      }
      .jobinfo {
        padding: 0 0.3rem;
      }
    }
  }
  .job {
    .icon {
      display: none;
      font-size: 2.2rem;
      // FIXME: HACK
      line-height: 2.6rem;
    }
    &.needci .icon.needci,
    &.needco .icon.needco {
      display: inline-block;
      font-size: 2rem;
      height: 2rem;
      line-height: 2rem;
      position: absolute;
      cursor: pointer;
      top: -0.5rem;
      left: 100%;
      margin-left: -0.8rem;
      @media @width-large {
        top: 0;
        margin-left: -1rem;
      }
      z-index: 2;
      color: @error-color;
      &:after {
        font-size: 2rem;
        line-height: 2rem;
        color: @dialog;
        width: 2rem;
        height: 2rem;
        z-index: -1;
        content: '\23F2';
      }
    }
    &.abandoned .icon.abandoned {
      color: @warn-color;
      display: inline-block;
      cursor: pointer;
    }
    &.changedci .span-checkin,
    &.checkin-late .span-checkin,
    &.changedco .span-checkout,
    &.checkout-auto .span-checkout {
      .fontstack-head;
      color: @warn-color;
    }
    &.needci .span-checkin,
    &.needco .span-checkout {
      .fontstack-head;
      background-color: @error-color;
      color: @dialog;
    }
    .inout {
      position: relative;
      .span-checkin,
      .span-checkout {
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
        position: absolute;
      }
    }
  }
}


/*
  Modals
*/

form.jobreview {
  .managertime {
    display: none;
  }
  .job.changedci .span-checkin,
  .job.checkin-late .span-checkin,
  .job.changedco .span-checkout,
  .job.checkout-auto .span-checkout {
    .fontstack-head;
    color: @warn-color;
  }
  .job.managertime .managertime {
    display: inline-block;
  }
}

// FIXME: move to view
@schedule-row-border: .1rem;
@schedule-row-height: @gridrow-head-desk-height;
@schedule-row-inner: @schedule-row-height - 2*@schedule-row-border;
.controlling-grid {
  padding-top: 1.5rem;
  border-collapse: collapse;
  width: auto;
  background: @background;
  td,
  th {
    padding: 0 1rem;
    text-align: center;
    font-weight: normal!important;
    border: 1px solid @divider-text;
    height: @schedule-row-inner;
    line-height: @schedule-row-inner;
    font-size: @text-font-size;
    border: 0 none;
  }
  th {
    background-color: @appbar;
    font-weight: normal;
    color: @primary-text;
    .name {
      max-width: 20rem;
    }
  }
  th,
  td {
    border-right: 1px solid @divider-text;
    border-bottom: 1px solid @divider-text;
    // &:first-child {
    white-space: nowrap;
    // }
    &:last-child {
      border: 0 none;
      border-bottom: 1px solid @divider-text;
    }
  }
  tbody th {
    background-color: @dialog;
  }
  tbody th.remark,
  tbody td.remark {
    min-width: 35rem;
  }
  tbody tr {
    height: 100%!important;
    &:hover {
      background-color: @dialog;
    }
  }
  .shiftrow {
    .gridleft,
    .gridright {
      padding: 0!important;
      height: auto;
      display: table-cell;
      .text {
        height: 4.6rem;
        line-height: 4.6rem;
        display: table-cell;
        text-align: left;
      }
    }
    .secshow {
      display: none;
    }
    .sechide {
      display: table-cell;
    }
    .grid-table {
      display: table-row;
    }
    .secshowhide,
    .secshow,
    .sechide,
    .text {
      line-height: @schedule-row-inner;
      height: @schedule-row-inner;
    }
    span.icon {
      padding-left: 1rem;
      font-size: 100%;
      line-height: @schedule-row-height;
      height: @schedule-row-inner;
      padding-left: 0.5rem;
      font-size: 2rem;
    }
    .icon {
      &:before {
        font-size: 100%;
        @media @width-medium {
          font-size: 3rem;
        }
      }
    }
  }
  .secbody {
    display: table-row;
    margin-left: 2rem!important;
    margin-right: -2rem!important;
    th {
      padding: 0;
      border-bottom: 0 none;
    }
    .text-margin {
      background-color: @background;
      border-bottom: 0 none;
    }
    .text-unit {
      background-color: @dialog;
      border-bottom: 1px solid @divider-text;
    }
  }
  .grid-table {
    padding: 1.5rem 0;
    th.table-heading,
    td.table-cell {
      line-height: 0.5*@schedule-row-inner;
      height: 0.5*@schedule-row-inner;
      /*font-size: 0.8*@text-font-size;*/
      padding: 0.2rem 0.5rem!important;
    }
    th.table-heading {
      // width - (padding-left offset + collapsing margins)
      text-align: right;
      background-color: @background;
    }
    .table-add {
      width: 100%;
      display: inline-block;
      line-height: @text-line-height;
      height: @text-line-height;
    }
    td.table-cell {
      background: @background;
      text-align: center;
    }
    .table-cell.active-day {
      background-color: @appbar;
      @media @width-medium {
        display: block!important;
        width: 50%;
      }
      @media @phones-portrait {
        display: block!important;
        width: 50%;
      }
    }
  }
}


/*
// controlling

.controlling {
  .cols {
    height: 130px;
    @media @phones-landscape {
      height: 60px;
    }
  }
  .heading {
    width: 100%;
    @media @phones-landscape {
      text-align: center;
      margin: 0 auto;
    }
    h2 {
      margin-bottom: 0;
      color: @primary;
      font-size: 4rem;
      letter-spacing: 0.03em;
      width: 100%;
      @media @tablets {
        font-size: 3rem;
      }
      @media @phones-portrait {
        font-size: 2.2rem;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  .controlling-stat {
    width: 100%;
    @media @phones-landscape {
      width: 60%;
    }
    @media @phones-portrait {
      width: 70%;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0 20px 0 0;
      text-align: right;
      li {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.2rem;
        text-align: right;
        &:last-child {
          margin-bottom: 0px;
        }
        .badge {
          .fontstack-text;
          display: inline-block;
          color: white;
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
          font-size: 1.4rem;
          text-align: center;
          vertical-align: middle;
          border-radius: 50%;
          background: @accent;
        }
        .badge.large {
          width: 2.5rem;
          height: 2.5rem;
          line-height: 2.5rem;
          border-radius: 50%;
          font-size: 1.6rem;
        }
        .warn .badge,
        .badge.warn {
          background: @warn;
        }
        .error .badge,
        .badge.error {
          background: @error;
        }
      }
    }
  }
  .controlling-action {
    width: 100%;
    text-align: center;
    .controllingview {
      padding: 0 1.5rem;
      margin-top: 30px;
      min-width: 14rem;
      @media @tablets {
        padding: 0 0.5rem;
        margin-top: 30px;
        min-width: 8.5rem;
      }
      @media @small-phones {
        font-size: 1.1rem;
        margin-top: 30px;
        min-width: 5rem;
        padding: 0 0.2rem;
      }
    }
  }
}

 */

// EOF controlling.less
