// out: null
.hiring {
  #hiringlist {
    padding-left: 0;
    padding-bottom: 0.5rem;
    font-size: 0.75*@text-font-size;
    @media @width-large {
      padding-bottom: 1rem;
      font-size: 0.875*@text-font-size;
    }
    .uk-nestable-item {
      .uk-nestable-panel .panel-body,
      .btn-block {
        text-align: left;
        @media @width-xlarge {
          text-align: center;
        }
      }
      .uk-panel {
        .row-header,
        .jobber-hiring-info {
          padding: 0;
          .box-sizing(border-box);
        }
        .row-header {
          background: @appbar;
          padding: 0.5rem 0;
        }
        .row-header,
        .row-body {
          margin-bottom: 1rem;
          @media @width-large {
            margin-bottom: 0;
          }
        }
      }
      .btn-block {
        li {
          margin-top: 1rem;
          @media @width-large {
            margin-top: 0;
          }
        }
      }
      /**/
      .uk-badge {
        margin-left: 0;
      }
    }
  }
}

.hire-credits-info {
  padding-left: 4rem;
}
