// out: null
.news {
  #newslist {
    width: 100%;
    .uk-nestable-item.uk-parent {
      &.unread {
        .fontstack-bold;
      }
      .uk-nestable-panel {
        line-height: 4rem;
        .delete {
          /*float: right;
          if needed left align just add margin-right:0 */
          /*clickable area larger than the icon*/
          width: 100%;
          height: 4rem;
          z-index: 9;
          cursor: pointer;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          @media @width-large {
            width: 4rem;
          }
          span.trash {
            display: block;
            width: auto;
            height: auto;
            font-size: @text-line-height;
            position: absolute;
            line-height: 0;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
      .uk-nestable-list {
        padding-left: 2.5rem;
        @media @width-large {
          padding-left: 3rem;
        }
        .newstext {
          h1 {
            padding-top: 1rem!important;
            margin: 0;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
