// Organization view page
.inherit-shift {
  pointer-events: none;
  cursor: default;
  color: grey
}
.zoom-glyph {
  zoom: 123%;
}
.checkbox-comp {
  width: 10%;
  height: 20px;
  position: inherit;
  margin-top: 8%;
  pointer-events: all;
  margin-right: 12%

}
.marginLeftName {
  padding-left: 20px;
}
.marginLeftLastName {
  padding-left: 40px;
}
.trash {
  cursor: pointer;
  margin-right: 8px;
}

.navIconOpen, .navIconClose {
  margin-right: 10px;
}
.navIconOpen:before, .navIconClose:before {
  background-position: -4px -4px;
  font-family: 'jclight', 'HelveticaNeue-Light', 'Helvetica Neue Light', sans-serif;
  font-size: 120%;
  color: #07a0e1;

}
.navIconClose:before {
  content: "\\2304";
}
.navIconOpen:before {
  content: "\\232a";
}

.uk-notouch {
  color: rgba(0, 0, 0, 0) !important;
}
.icond {
  content: "\\15B"
}
.titleName {
  line-height: 40px;
  height: 40px;
}

a, a:hover {
  color: black;
}
input.InputChangeName {
  height: 30px;
  min-width: 200px !important;
  margin-top: 7px;
  padding: 5px;
  position: absolute;
  top: 0;

}
.uk-nav ul {
  padding-left: 0;
}
i, i:before {
  cursor: pointer;
}
.oneBubbles:before, .twoBubbles:before, .threeBubbles:before, .fourBubbles:before {
  font-family: 'jclight', 'HelveticaNeue-Light', 'Helvetica Neue Light', sans-serif;
  line-height: 4rem;
  height: 4rem;
  font-size: 1.8rem;
  margin-right: 5px;
}
.oneBubbles:before {
  content: '\\2582';
}
.twoBubbles:before {
  content: '\\2584';
}
.threeBubbles:before {
  content: '\\2586';
}
.fourBubbles:before {
  content: "\\2588";
}
span.checkBoxSpan:before {
  font-family: 'jclight', 'HelveticaNeue-Light', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  position: relative;
  top: 2px;
  left: 2px;
}
.activeClass, .activeClass:hover {
  background: #beebff;
  background: -moz-linear-gradient(top, #beebff 0%, #a8e4ff 100%);
  background: -webkit-linear-gradient(top, #beebff 0%, #a8e4ff 100%);
  background: -o-linear-gradient(top, #beebff 0%, #a8e4ff 100%);
  background: -ms-linear-gradient(top, #beebff 0%, #a8e4ff 100%);
  background: linear-gradient(to bottom, #beebff 0%, #a8e4ff 100%);
}
.no-touch ul {
  z-index: 99;
  display: block;
}
.fixedTimeString {
  font-size: 1.6rem;
}

@media (max-width: 1100px) {
  span.checkBoxSpan {
    margin-left: 20px;
  }
}
@media (max-width: 960px) {
  span.checkBoxSpan {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 640px) {
  span.checkBoxSpan {
    margin-left: 30px;
  }

  .spanQuery {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .marginTopMobile {
    margin-top: 40px;
  }

  .spanQuery {
    font-weight: 100;
    font-size: 1.2rem;
    margin-left: -2px;
  }

  span.checkBoxSpan:before {
    font-size: 20px;
    margin: 0;
  }

  .jstree-anchor {
    margin-bottom: 4.2rem !important;
    float: none !important;
  }

  .fixedTimeString {
    white-space: nowrap;
    word-wrap: normal;
    width: 20px;
    margin-left: -2px;
    font-size: 1.2rem !important;

  }

  .fixedTimeString .to {
    margin-right: 2px;
  }

  li.hoverList.paddingPlus {
    padding-bottom: 15px;
  }

}
li.list-item {
  .accepted, .disaccepted {
    border: solid 1px;
  }
  .accepted {
    border-color: #3f3;
  }
  .disaccepted {
    border-color: #f33;
  }
}