.reporting-list-content,
#intro-organisation-list {
  .uk-nestable {
    margin: 0;
    font-size: 1.2rem;
    @media @width-medium {
      font-size: 1.4rem;
    }
    @media @width-xlarge {
      font-size: 1.6rem;
    }
    .uk-nestable-panel {
      &:hover {
        background: @nestable-active;
      }
      &:nth-of-type(1) {
        .gradient(@nestable-hover-start, @nestable-hover-start, @nestable-hover-stop);
      }
    }
    .uk-nestable-list {
      padding-left: 0;
      .uk-nestable-item.uk-parent {
        .uk-nestable-panel {
          background: @background;
          .gridleft,
          .gridright {
            background: @dialog;
          }
          &:hover {
            .gridleft,
            .gridright {
              background: @nestable-active;
            }
          }
        }
      }
    }
    .shiftrow {
      &.clicked {
        background: @nestable-active!important;
      }
      span.icon {
        font-size: 2rem;
        vertical-align: middle;
        margin-top: -0.2rem;
        &.trash,
        &.plus {
          font-size: 2.5rem;
        }
      }
      label {
        display: inline-block;
        margin: 0 0 0 0.4rem;
        vertical-align: middle;
      }
      .toggle.switch-checkbox label {
        margin: 0;
        height: 2rem;
      }
      input[type="checkbox"] ~ span:before {
        line-height: 2.4rem;
        margin: 0;
      }
    }
    form.account .toggle input.switch:empty + label::before,
    form.account .toggle input.switch:empty + label::after,
    form.account .toggle input.switch:checked + label::after .org-icon {
      font-size: 2rem;
      margin-right: 0.3rem;
      &:before {
        color: @primary-text!important;
      }
    }
  }
  .nr-col {
    width: 5%;
    .box-sizing(border-box);
  }
  .mid-col {
    width: 50%;
    .box-sizing(border-box);
  }
  .last-col {
    width: 45%;
    .box-sizing(border-box);
  }
}
