@jubbr-color: #07a0e1;
@white-color: #fff;

#server {
  font-size: 1.28rem !important;
}

.inlineDivs {
  display: inline-block;
}

.paginationElement{
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 1.1em;
  border: 1px solid @jubbr-color;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}

.current {
  .paginationElement {
    background: @jubbr-color;
    color: @white-color;
    cursor: default;
  }

}
