<!DOCTYPE html>
<html lang="">
<head>

  <title>Jubbr</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <link rel="stylesheet" href="<%= webpackConfig.metadata.baseUrl %>css/preloader.css">
  <!-- use http://www.favicon-generator.org/ to replace files in public/icon-->
  <link rel="shortcut icon" href="assets/icon/jc-favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-icon-57-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-icon-60-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-icon-76-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-icon-120-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-icon-152-precomposed.png">

  <link rel="icon" type="image/png" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-favicon-196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-favicon-160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-favicon-96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="<%= webpackConfig.metadata.baseUrl %>icon/jc-favicon-32.png" sizes="32x32">

  <link rel="manifest" href="<%= webpackConfig.metadata.baseUrl %>manifest.json">

  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#00bcd4">
  <!-- end favicon -->

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">

  <!--need implement to webpack-->
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/components/sticky.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/js/components/datepicker.min.js"></script>

  <script src="<%= webpackConfig.metadata.baseUrl %>pdfmake.min.js"></script>
  <script src="<%= webpackConfig.metadata.baseUrl %>vfs_fonts.js"></script>
  <script src="<%= webpackConfig.metadata.baseUrl %>intercom.js"></script>
</head>

<body>

  <app>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="loading-main">jubbr</div>
  </app>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71073175-1', 'auto');
    ga('send', 'pageview');
  </script>
  -->


  <% if (webpackConfig.metadata.ENV === 'development') { %>
  <!-- Webpack Dev Server reload -->
  <script src="<%= webpackConfig.metadata.baseUrl %>webpack-dev-server.js"></script>
  <% } %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</body>
</html>
